Repository prepo-io/prepo-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: non-app, frontend, smart-contracts, token, core-dapp, docs, boilerplate, simulator, website

feat: added generic token setter contract with tests
  packages/prepo-shared-contracts/contracts/Token.sol
  packages/prepo-shared-contracts/contracts/interfaces/IToken.sol
  packages/prepo-shared-contracts/contracts/mock/TokenWrapper.sol
  packages/prepo-shared-contracts/test/Token.test.ts
  packages/prepo-shared-contracts/test/fixtures/TokenWrapperFixture.ts
Labels: none

feat: removing duplicate token setters from transfer hook
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
Labels: smart-contracts, token

fix: cr #236 correct BSC network name to camelcase
  packages/prepo-constants/src/networks.ts
Labels: frontend

fix: correct parameter names for RestrictedTransferHook (#235)
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
Labels: smart-contracts, token

feat: add arbitrum networks, rationalize names for relevant networks (#236)
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/token/hardhat.config.ts
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
Labels: frontend, smart-contracts, token, core-dapp

feat: changed inheritance order of transfer hooks
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: cr#237 rev1: resolved Xavier's comments
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
Labels: smart-contracts, token

feat: removed nit in restricted hook contract
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
Labels: smart-contracts, token

feat: removed tests for setToken
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

fix: incorrect license for RestrictedTransferHook
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
Labels: smart-contracts, token

feat: changed inheritance order of transfer hooks (#237)
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

refactor: rationalize chainids with network names
  packages/prepo-constants/src/networks.ts
Labels: frontend

fix: revert changes to chainId names
  packages/prepo-constants/src/networks.ts
Labels: frontend

feat: startcooldown/ end cooldown
  apps/frontend/core-dapp/src/features/ppo/stake/PPOStakingStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/StakePage.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakeUnstakeLayout.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakeUnstakeNavigationButtons.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeButtons.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeStore.ts
  packages/prepo-ui/src/components/TokenInput/TokenInput.tsx
Labels: frontend, core-dapp

feat: adding shared Pausable with setters
  packages/prepo-shared-contracts/contracts/Pausable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IPausable.sol
  packages/prepo-shared-contracts/contracts/mock/PausableWrapper.sol
  packages/prepo-shared-contracts/test/Pausable.test.ts
  packages/prepo-shared-contracts/test/fixtures/PausableWrapperFixture.ts
Labels: none

fix: remove ar from website
  apps/frontend/website/src/components/layout/Footer.tsx
  apps/frontend/website/src/lib/partners.ts
Labels: frontend, website

fix: remove ar from website (#243)
  apps/frontend/website/src/components/layout/Footer.tsx
  apps/frontend/website/src/lib/partners.ts
Labels: frontend, website

feat: switching to shared pausable contract
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/IVesting.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
Labels: smart-contracts, token

feat: resolved nit in test
  packages/prepo-shared-contracts/test/Pausable.test.ts
Labels: none

fix: prevent confusion with hardhat local node and ganache local node (#240)
  packages/prepo-constants/src/networks.ts
Labels: frontend

chore: remove revertReason and use chai matchers library
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, token

chore: remove revertReason from Vesting test
  apps/smart-contracts/token/test/Vesting.test.ts
Labels: smart-contracts, token

feat: switching to shared pausable contract (#244)
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/IVesting.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
Labels: smart-contracts, token

feat: adding shared Pausable with setters (#242)
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/IVesting.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  packages/prepo-shared-contracts/contracts/Pausable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IPausable.sol
  packages/prepo-shared-contracts/contracts/mock/PausableWrapper.sol
  packages/prepo-shared-contracts/test/Pausable.test.ts
  packages/prepo-shared-contracts/test/fixtures/PausableWrapperFixture.ts
Labels: smart-contracts, token

feat: add hardhat-defender package and make hardhat-upgrades global
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  package.json
  yarn.lock
Labels: non-app, smart-contracts, token, core-dapp

feat: add initial common addresses store
  packages/prepo-constants/src/addresses.ts
  packages/prepo-constants/src/index.ts
Labels: frontend

feat: added PPO deployment script
  apps/smart-contracts/token/deploy/PPO.ts
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/tsconfig.json
Labels: smart-contracts, token

feat: adding modification of beforeTokenTransfer
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token

fix: label dep
  packages/prepo-ui/src/components/TokenInput/TokenInput.tsx
Labels: frontend

feat: clean up (#200)
  apps/frontend/core-dapp/src/__mocks__/currency.mock.ts
  apps/frontend/core-dapp/src/__mocks__/historyItems.mock.ts
  apps/frontend/core-dapp/src/features/history/HistoryEvent.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemDesktop.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemMobile.tsx
  apps/frontend/core-dapp/src/features/history/history-utils.ts
  apps/frontend/core-dapp/src/features/history/history.types.ts
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
Labels: frontend, core-dapp

feat: ui update
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeButtons.tsx
Labels: frontend, core-dapp

feat: added withdraw method
  apps/frontend/core-dapp/src/features/ppo/stake/PPOStakingStore.ts
Labels: frontend, core-dapp

feat: ui update
  apps/frontend/core-dapp/src/features/ppo/stake/PPOStakingStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeButtons.tsx
Labels: frontend, core-dapp

feat: withdraw logic
  apps/frontend/core-dapp/src/features/ppo/stake/PPOStakingStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/StakePage.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeButtons.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeStore.ts
Labels: frontend, core-dapp

feat: full button width
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeButtons.tsx
Labels: frontend, core-dapp

feat: replaced mock
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeButtons.tsx
Labels: frontend, core-dapp

feat: add ERC20Permit to PPO
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/utils/index.ts
Labels: smart-contracts, token

feat: adding files for generic withdraw and implemented batch withdraw ERC20
  packages/prepo-shared-contracts/contracts/WithdrawTokens.sol
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawTokens.sol
  packages/prepo-shared-contracts/contracts/shared/ERC20Mintable.sol
  packages/prepo-shared-contracts/test/WithdrawTokens.test.ts
  packages/prepo-shared-contracts/test/fixtures/WithdrawTokensFixture.ts
Labels: none

feat: removed nit in batchWithdrawERC20 setup
  packages/prepo-shared-contracts/test/WithdrawTokens.test.ts
Labels: none

feat: added reentrancy guard
  packages/prepo-shared-contracts/contracts/WithdrawTokens.sol
Labels: none

.github/labeler.yml:

# --------------- Top level labels ---------------
# Add 'non-app' to any changes within root folder
non-app:
- '*'

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
- apps/frontend/**/*
- apps/subgraphs/**/*
- packages/prepo-sdk/**/*
- packages/prepo-ui/**/*
- packages/prepo-utils/**/*
- packages/prepo-stores/**/*
- packages/prepo-constants/**/*

# Add 'smart-contracts' to any changes within 'smart-contracts' folder or any subfolders
smart-contracts:
- apps/smart-contracts/**/*

# --------------- Next level labels ---------------
token:
- apps/smart-contracts/token/**/*

core-dapp:
- apps/frontend/core-dapp/**/*
- apps/smart-contracts/core/**/*
- apps/subgraphs/core-dapp/**/*

docs:
- apps/frontend/docs/**/*

boilerplate:
- apps/frontend/react-boilerplate/**/*
- apps/subgraphs/boilerplate/**/*

simulator:
- apps/frontend/simulator/**/*

website:
- apps/frontend/website/**/*
