Repository prepo-io/prepo-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: non-app, frontend, smart-contracts, token, core-dapp, docs, boilerplate, simulator, website

feat: update valuation
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
  yarn.lock
Labels: non-app, frontend, core-dapp

fix: address check
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
Labels: frontend, core-dapp

fix: updated based on review: removed not needed observables
  apps/frontend/core-dapp/src/components/Table.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
  apps/frontend/core-dapp/src/features/trade/Valuation.tsx
Labels: frontend, core-dapp

fix: ts error
  apps/frontend/core-dapp/src/components/Table.tsx
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
  apps/frontend/core-dapp/src/features/trade/Valuation.tsx
Labels: frontend, core-dapp

fix: subscribe to changed amount
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
Labels: frontend, core-dapp

feat: adding ERC1155Hook in PurchaseHook
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/test/PurchaseHook.test.ts
Labels: smart-contracts, token

feat: cr #180 rev 1: resolved Xavier's comments
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/test/PurchaseHook.test.ts
  apps/smart-contracts/token/utils/index.ts
Labels: smart-contracts, token

feat: adding erc20 transfer and tests for balance in purchase for TokenShop
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, token

feat: cr#181 rev1: resolved Xavier's comments
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, token

feat: setup folder structure
  packages/prepo-smart-contracts/.env.example
  packages/prepo-smart-contracts/.eslintrc.js
  packages/prepo-smart-contracts/README.md
  packages/prepo-smart-contracts/contracts/TestContract.sol
  packages/prepo-smart-contracts/hardhat.config.ts
  packages/prepo-smart-contracts/package.json
  packages/prepo-smart-contracts/test/TestContract.test.ts
  packages/prepo-smart-contracts/tsconfig.json
Labels: none

feat: adding safeOwnable SC and testing TokenShop
  apps/smart-contracts/token/test/TokenShop.test.ts
  packages/prepo-smart-contracts/contracts/SafeOwnable.sol
  packages/prepo-smart-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-smart-contracts/test/SafeOwnable.test.ts
  packages/prepo-smart-contracts/test/fixtures/SafeOwnableFixture.ts
Labels: smart-contracts, token

fix: token tests
  packages/prepo-smart-contracts/contracts/TestContract.sol
  packages/prepo-smart-contracts/package.json
  packages/prepo-smart-contracts/test/TestContract.test.ts
Labels: none

fix: rollback nilay changes on tokenshop
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, token

feat: resolved one nit
  apps/smart-contracts/token/contracts/TokenShop.sol
Labels: smart-contracts, token

feat: bumped antd version, fixed depricated parts
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/components/Filter/MarketDropdown.tsx
  apps/frontend/core-dapp/src/components/MarketDropdown.tsx
  apps/frontend/core-dapp/src/components/Menu.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/MultiCurrencySelect.tsx
  apps/frontend/core-dapp/src/components/NetworkDropdown.tsx
  apps/frontend/core-dapp/src/components/PpoDropdown.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketChart.tsx
  apps/frontend/core-dapp/src/features/withdraw/CurrencyDropdown.tsx
  apps/frontend/react-boilerplate/package.json
  yarn.lock
Labels: non-app, frontend, core-dapp, boilerplate

feat: cr#188 rev 1: resolved Xavier's comments
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/PPOGamifiedToken.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/deps/PPOGamifiedTokenStructs.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/interfaces/ITimeMultiplierCalculator.sol
  apps/smart-contracts/token/contracts/ppostaking/interfaces/IStakingRewardsDistribution.sol
  apps/smart-contracts/token/contracts/ppostaking/rewards/staking/StakingRewardsDistribution.sol
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/tsconfig.json
Labels: smart-contracts, token

feat: adding safeOwnable SC and testing TokenShop
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, token

fix: token tests
  apps/smart-contracts/token/contracts/TokenShop.sol
Labels: smart-contracts, token

fix: rollback nilay changes on tokenshop
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, token

feat: adding files for SafeOwnable
  apps/smart-contracts/token/contracts/interfaces/ISafeOwnable.sol
  apps/smart-contracts/token/contracts/shared/SafeOwnable.sol
  apps/smart-contracts/token/test/SafeOwnable.test.ts
  apps/smart-contracts/token/test/fixtures/SafeOwnableFixture.ts
Labels: smart-contracts, token

feat: resolved one nit
  apps/smart-contracts/token/contracts/TokenShop.sol
Labels: smart-contracts, token

feat: pragma update for token contracts
  apps/smart-contracts/token/contracts/TokenShop.sol
Labels: smart-contracts, token

feat: switching to safeOwnable for token contracts
  apps/smart-contracts/token/contracts/PregenPass.sol
  apps/smart-contracts/token/contracts/PregenesisPoints.sol
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
Labels: smart-contracts, token

feat: added TODOs for ownable upgradeable
  apps/smart-contracts/token/contracts/IOUPPO.sol
  apps/smart-contracts/token/contracts/PPO.sol
Labels: smart-contracts, token

feat: removed tests for safeOwnable
  apps/smart-contracts/token/test/SafeOwnable.test.ts
  apps/smart-contracts/token/test/fixtures/SafeOwnableFixture.ts
Labels: smart-contracts, token

feat: added safeOwnable to all Token Smart Contracts
  apps/smart-contracts/token/contracts/PregenPass.sol
  apps/smart-contracts/token/contracts/PregenesisPoints.sol
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/interfaces/ISafeOwnable.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/contracts/ppostaking/rewards/staking/StakingRewardsDistribution.sol
  apps/smart-contracts/token/contracts/ppostaking/shared/ERC1155Mintable.sol
  apps/smart-contracts/token/contracts/ppostaking/shared/ERC721Mintable.sol
  apps/smart-contracts/token/contracts/shared/SafeOwnable.sol
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
Labels: smart-contracts, token

feat: removed extra package of prepo-smart-contracts
  packages/prepo-smart-contracts/README.md
  packages/prepo-smart-contracts/contracts/SafeOwnable.sol
  packages/prepo-smart-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-smart-contracts/hardhat.config.ts
  packages/prepo-smart-contracts/package.json
  packages/prepo-smart-contracts/test/SafeOwnable.test.ts
  packages/prepo-smart-contracts/test/fixtures/SafeOwnableFixture.ts
  packages/prepo-smart-contracts/tsconfig.json
Labels: none

feat: removed .env and .eslintrc from prepo-smart-contracts
  packages/prepo-smart-contracts/.env.example
  packages/prepo-smart-contracts/.eslintrc.js
Labels: none

feat: cr#189 rebased to feat/smart-contracts-pragma-update
  apps/smart-contracts/token/contracts/PregenPass.sol
  apps/smart-contracts/token/contracts/PregenesisPoints.sol
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/contracts/ppostaking/rewards/staking/StakingRewardsDistribution.sol
  apps/smart-contracts/token/contracts/ppostaking/shared/ERC1155Mintable.sol
  apps/smart-contracts/token/contracts/ppostaking/shared/ERC721Mintable.sol
Labels: smart-contracts, token

feat: cr#189 rev 1: resolved Xavier's comments
  apps/smart-contracts/token/contracts/PregenPass.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
Labels: smart-contracts, token

feat: subscribe to single source of amount out
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
Labels: frontend, core-dapp

feat: subscribe to single source of amount out (#204)
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
Labels: frontend, core-dapp

fix: removed unnessary optional operators
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
Labels: frontend, core-dapp

feat: frontend transaction history (#199)
  apps/frontend/core-dapp/src/features/history/History.tsx
  apps/frontend/core-dapp/src/features/history/history-utils.ts
  apps/frontend/core-dapp/src/features/history/history.types.ts
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/features/portfolio/Record.tsx
  apps/frontend/core-dapp/src/features/position/Positions.tsx
  apps/frontend/core-dapp/src/graphql/core-dapp.graphql
  apps/frontend/core-dapp/src/lib/markets-tokens-contracts.ts
  apps/frontend/core-dapp/src/stores/graphs/CoreGraphStore.ts
  apps/frontend/core-dapp/src/stores/graphs/queries/core.queries.ts
  packages/prepo-constants/src/graphs.ts
Labels: frontend, core-dapp

feat: transaction history ui in progress
  apps/frontend/core-dapp/src/components/IconTitle.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItem.tsx
Labels: frontend, core-dapp

feat: clean up
  apps/frontend/core-dapp/src/__mocks__/currency.mock.ts
  apps/frontend/core-dapp/src/__mocks__/historyItems.mock.ts
  apps/frontend/core-dapp/src/features/history/HistoryEvent.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemDesktop.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemMobile.tsx
  apps/frontend/core-dapp/src/features/history/history-utils.ts
  apps/frontend/core-dapp/src/features/history/history.types.ts
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
Labels: frontend, core-dapp

feat: undo icon title changes
  apps/frontend/core-dapp/src/components/IconTitle.tsx
Labels: frontend, core-dapp

feat: undo history item
  apps/frontend/core-dapp/src/features/history/HistoryItem.tsx
Labels: frontend, core-dapp

feat: added valuation impact
  apps/frontend/core-dapp/src/components/Table.tsx
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
Labels: frontend, core-dapp

feat: cr#188 resolved nits in pragma version
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/contracts/PregenPass.sol
  apps/smart-contracts/token/contracts/mocks/MockPregenPass.sol
Labels: smart-contracts, token

.github/labeler.yml:

# --------------- Top level labels ---------------
# Add 'non-app' to any changes within root folder
non-app:
- '*'

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
- apps/frontend/**/*
- apps/subgraphs/**/*
- packages/prepo-sdk/**/*
- packages/prepo-ui/**/*
- packages/prepo-utils/**/*
- packages/prepo-stores/**/*
- packages/prepo-constants/**/*

# Add 'smart-contracts' to any changes within 'smart-contracts' folder or any subfolders
smart-contracts:
- apps/smart-contracts/**/*

# --------------- Next level labels ---------------
token:
- apps/smart-contracts/token/**/*

core-dapp:
- apps/frontend/core-dapp/**/*
- apps/smart-contracts/core/**/*
- apps/subgraphs/core-dapp/**/*

docs:
- apps/frontend/docs/**/*

boilerplate:
- apps/frontend/react-boilerplate/**/*
- apps/subgraphs/boilerplate/**/*

simulator:
- apps/frontend/simulator/**/*

website:
- apps/frontend/website/**/*
