Repository prepo-io/prepo-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: non-app, frontend, smart-contracts, token, core-dapp, docs, boilerplate, simulator, website

.github/labeler.yml:

# --------------- Top level labels ---------------
# Add 'non-app' to any changes within root folder
non-app:
- '*'

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
- apps/frontend/**/*
- apps/subgraphs/**/*
- packages/prepo-sdk/**/*
- packages/prepo-ui/**/*
- packages/prepo-utils/**/*
- packages/prepo-stores/**/*
- packages/prepo-constants/**/*

# Add 'smart-contracts' to any changes within 'smart-contracts' folder or any subfolders
smart-contracts:
- apps/smart-contracts/**/*

# --------------- Next level labels ---------------
token:
- apps/smart-contracts/token/**/*

core-dapp:
- apps/frontend/core-dapp/**/*
- apps/smart-contracts/core/**/*
- apps/subgraphs/core-dapp/**/*

docs:
- apps/frontend/docs/**/*

boilerplate:
- apps/frontend/react-boilerplate/**/*
- apps/subgraphs/boilerplate/**/*

simulator:
- apps/frontend/simulator/**/*

website:
- apps/frontend/website/**/*

feat: cr#189 rev2: resolved Michael's comments
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/contracts/ppostaking/rewards/staking/StakingRewardsDistribution.sol
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
Labels: smart-contracts, token

feat: cr#180, resolved nit in test
  apps/smart-contracts/token/test/PurchaseHook.test.ts
Labels: smart-contracts, token

feat: adding ERC1155Hook in PurchaseHook (#180)
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/test/PurchaseHook.test.ts
  apps/smart-contracts/token/utils/index.ts
Labels: smart-contracts, token

fix: fixed PR issues
  apps/frontend/core-dapp/src/components/Menu.tsx
  apps/frontend/core-dapp/src/components/PpoDropdown.tsx
Labels: frontend, core-dapp

fix: updated slippage
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
Labels: frontend, core-dapp

feat: cr#181 : resolved nit in token shop test
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, token

feat: adding interfaces for PPO and TransferHook
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/contracts/interfaces/ITransferHook.sol
Labels: smart-contracts, token

feat: ran linter
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/contracts/interfaces/ITransferHook.sol
Labels: smart-contracts, token

feat: adding interface for allow list for ppo contract
  apps/smart-contracts/token/contracts/interfaces/IAllowList.sol
Labels: smart-contracts, token

feat: adding interface for block list for ppo contract
  apps/smart-contracts/token/contracts/interfaces/IBlockList.sol
Labels: smart-contracts, token

feat: adding erc20 transfer and tests for balance in purchase for Tok… (#181)
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, token

fix: add missing functions to ISafeOwnable, fixed license
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
Labels: none

fix: add override targets
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
Labels: none

feat: add SafeOwnableUpgradeable and tests
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableUpgradeableFixture.ts
Labels: none

chore: remove PPO and IOUPPO
  apps/smart-contracts/token/contracts/IOUPPO.sol
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/IOUPPO.test.ts
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/fixtures/IOUPPOFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOFixture.ts
Labels: smart-contracts, token

chore: remove PPO and IOUPPO (#210)
  apps/smart-contracts/token/contracts/IOUPPO.sol
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/IOUPPO.test.ts
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/fixtures/IOUPPOFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOFixture.ts
Labels: smart-contracts, token

style: cr #209 interface nits
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-shared-contracts/test/SafeOwnable.test.ts
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
Labels: none

feat: add SafeOwnableUpgradeable and tests (#209)
  apps/smart-contracts/token/contracts/IOUPPO.sol
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/IOUPPO.test.ts
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/fixtures/IOUPPOFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOFixture.ts
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableUpgradeableFixture.ts
Labels: smart-contracts, token

fix: add missing functions to ISafeOwnable, fixed license (#208)
  apps/smart-contracts/token/contracts/IOUPPO.sol
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/IOUPPO.test.ts
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/fixtures/IOUPPOFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOFixture.ts
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableUpgradeableFixture.ts
Labels: smart-contracts, token

feat: adding interfaces for PPO and TransferHook (#205)
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/contracts/interfaces/ITransferHook.sol
Labels: smart-contracts, token

feat: cr#206 rev1: included suggestions to set and reset destination/sources
  apps/smart-contracts/token/contracts/interfaces/IAllowList.sol
Labels: smart-contracts, token

feat: cr#207 rev1: included suggestion to set and reset blocklist
  apps/smart-contracts/token/contracts/interfaces/IBlockList.sol
Labels: smart-contracts, token

feat: adding interface for allow list for ppo contract (#206)
  apps/smart-contracts/token/contracts/interfaces/IAllowList.sol
Labels: smart-contracts, token

feat: adding interface for block list for ppo contract (#207)
  apps/smart-contracts/token/contracts/interfaces/IBlockList.sol
Labels: smart-contracts, token

fix: make SafeOwnableUpgradeable abstract to conform to upgradeable contract convention
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/mock/DeployableSafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/fixtures/DeployableSafeOwnableUpgradeableFixture.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableUpgradeableFixture.ts
Labels: none

feat: adding relavant files for PPO
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/fixtures/PPOFixtures.ts
Labels: smart-contracts, token

feat: resolved nits in argument naming
  apps/smart-contracts/token/contracts/PPO.sol
Labels: smart-contracts, token

feat: added tests for initial state
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token

feat: added tests for init and setTransferHook
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token

feat: added init for ERC20Upgradeable and tests
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/fixtures/PPOFixtures.ts
Labels: smart-contracts, token

feat: added mint method
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token

feat: added test for mint functionality
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token

fix: not making it abstract, but leaving out constructor and initializer
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
Labels: none

feat: added initial test for burn
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token

feat: cr#214 rev1: resolved Xavier's comments
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token

feat: added tests for burn and burnFrom
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token

feat: adding relevant files for block list
  apps/smart-contracts/token/contracts/BlockList.sol
  apps/smart-contracts/token/contracts/interfaces/IBlockList.sol
  apps/smart-contracts/token/test/BlockList.test.ts
  apps/smart-contracts/token/test/fixtures/BlockListFixtures.ts
Labels: smart-contracts, token

fix: make SafeOwnableUpgradeable abstract to conform to upgradeable contract convention (#211)
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/mock/DeployableSafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/fixtures/DeployableSafeOwnableUpgradeableFixture.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableUpgradeableFixture.ts
Labels: none

feat: cr# 189 rev2: reverted back to old way of deploy + setup
  apps/smart-contracts/token/contracts/PregenPass.sol
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/PurchaseHook.test.ts
  apps/smart-contracts/token/test/StakingRewardsDistribution.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
Labels: smart-contracts, token

feat: cr#212: resolved nits
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, token
