Repository prepo-io/prepo-monorepo, changes with the labels that .github/labeler.yml gives for each.
All labels: non-app, frontend, smart-contracts, token, core-dapp, docs, boilerplate, simulator, website

feat: adding tests for storage variable init
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: added set and reset implementations (#226)
  apps/smart-contracts/token/contracts/AccountList.sol
  apps/smart-contracts/token/test/AccountList.test.ts
Labels: smart-contracts, token

fix: added hardhat-deploy to token folder's hardhat config
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/tsconfig.json
  apps/smart-contracts/token/hardhat.config.ts
Labels: smart-contracts, token, core-dapp

fix: assertIsTestnetChain needs a number instead of ChainId
  apps/smart-contracts/core/deploy/AccountAccessController.ts
  apps/smart-contracts/core/deploy/Collateral.ts
  apps/smart-contracts/core/deploy/CollateralDepositRecord.ts
  apps/smart-contracts/core/deploy/DepositHook.ts
  apps/smart-contracts/core/deploy/MockBaseToken.ts
  apps/smart-contracts/core/deploy/MockStrategy.ts
  apps/smart-contracts/core/deploy/PrePOMarketFactory.ts
  apps/smart-contracts/core/deploy/SingleStrategyController.ts
  apps/smart-contracts/core/deploy/WithdrawHook.ts
  apps/smart-contracts/core/tsconfig.json
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: smart-contracts, core-dapp

feat: init Staking ABI, stake implementation
  apps/frontend/core-dapp/abi/PPOStaking.abi.json
  apps/frontend/core-dapp/src/features/ppo/stake/PPOStakingStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/StakeStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/StakeUnstakeLayout.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeStore.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  yarn.lock
Labels: non-app, frontend, core-dapp

fix: review PR
  apps/frontend/core-dapp/src/features/ppo/stake/StakeStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/StakeUnstakeLayout.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeStore.ts
Labels: frontend, core-dapp

feat: cr#227: included suggestions for variable naming
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
Labels: smart-contracts, token

feat: adding interfaces for Blocklist and RestrictedTransfer hook
  apps/smart-contracts/token/contracts/interfaces/IBlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/interfaces/IRestrictedTransferHook.sol
Labels: smart-contracts, token

feat: resolved nit in argument naming
  apps/smart-contracts/token/contracts/interfaces/IBlocklistTransferHook.sol
Labels: smart-contracts, token

feat: adding interfaces for Blocklist and RestrictedTransfer hook (#234)
  apps/smart-contracts/token/contracts/interfaces/IBlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/interfaces/IRestrictedTransferHook.sol
Labels: smart-contracts, token

feat: cr#227: included Xavier's suggestions
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: added initial RestrictedTransferHook contract with setters (#227)
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/fixtures/AccountListFixtures.ts
  apps/smart-contracts/token/test/fixtures/TransferHookFixtures.ts
Labels: smart-contracts, token

feat: cr#228 rev1: included Xavier's suggestions
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: cr#229: rev2: resolved Xavier's comment and renamed tests
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: cr#228 rev2: removed duplicate tests
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: reordered tests to avoid nested describe blocks
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: adding logic for restricted transfer hook (#228)
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: adding test for initial value of storage variables
  apps/smart-contracts/token/test/UnrestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: changed variable name for blocklist
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
Labels: smart-contracts, token

feat: adding files for unrestricted transfer hook and initializing
  apps/smart-contracts/token/contracts/UnrestrictedTransferHook.sol
  apps/smart-contracts/token/test/UnrestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/fixtures/TransferHookFixtures.ts
Labels: smart-contracts, token

feat: cr#229 rev1: included Xavier's suggestions
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/UnrestrictedTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/UnrestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/fixtures/TransferHookFixtures.ts
Labels: smart-contracts, token

fix: cr #229 rev2 testcase name nits and wrong license
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: renamed storage variables and included hook logic
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
Labels: smart-contracts, token

feat: cr#230 rev1: resolved Michael's comments
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
Labels: smart-contracts, token

fix: cr #230 rev2 testcase nits
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
Labels: smart-contracts, token

feat: adding unrestricted transfer hook logic (#230)
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
Labels: smart-contracts, token

feat: adding files for unrestricted transfer hook and initializing (#229)
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/fixtures/TransferHookFixtures.ts
Labels: smart-contracts, token

fix: correct parameter names for RestrictedTransferHook
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
Labels: smart-contracts, token

feat: core changes for PrePOMarketFactory polygon deployment
  apps/smart-contracts/core/.env.example
  apps/smart-contracts/core/README.md
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  yarn.lock
Labels: non-app, frontend, smart-contracts, core-dapp

fix: missed tsconfig
  packages/tsconfig/package.json
Labels: none

refactor: fix README verify text, add etherscan config to both core and token
  apps/smart-contracts/core/README.md
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/tsconfig.json
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  package.json
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
  yarn.lock
Labels: non-app, smart-contracts, token, core-dapp

chore: change network keyword matic to polygon to conform to hardhat-etherscan
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/src/generateHardhatConfig.ts
Labels: frontend

feat: changes for deployment of PrePOMarketFactory on polygon (#202)
  apps/smart-contracts/core/.env.example
  apps/smart-contracts/core/README.md
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/tsconfig.json
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  package.json
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  packages/tsconfig/package.json
  yarn.lock
Labels: non-app, frontend, smart-contracts, token, core-dapp

fix: added hardhat-deploy to token folder's hardhat config (#231)
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/token/hardhat.config.ts
Labels: smart-contracts, token, core-dapp

feat: add arbitrum networks, rationalize names for relevant networks
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/token/hardhat.config.ts
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
Labels: frontend, smart-contracts, token, core-dapp

fix: tests
  apps/frontend/core-dapp/src/features/ppo/stake/PPOStakingStore.ts
Labels: frontend, core-dapp

fix: tests
  apps/frontend/core-dapp/src/features/ppo/stake/__tests__/StakeStore.test.ts
Labels: frontend, core-dapp

feat: changed inheritance order of transfer hooks
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: removed tests for setToken
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, token

feat: removed nit in restricted hook contract
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
Labels: smart-contracts, token

.github/labeler.yml:

# --------------- Top level labels ---------------
# Add 'non-app' to any changes within root folder
non-app:
- '*'

# Add 'frontend' to any changes within 'frontend' folder or any subfolders
frontend:
- apps/frontend/**/*
- apps/subgraphs/**/*
- packages/prepo-sdk/**/*
- packages/prepo-ui/**/*
- packages/prepo-utils/**/*
- packages/prepo-stores/**/*
- packages/prepo-constants/**/*

# Add 'smart-contracts' to any changes within 'smart-contracts' folder or any subfolders
smart-contracts:
- apps/smart-contracts/**/*

# --------------- Next level labels ---------------
token:
- apps/smart-contracts/token/**/*

core-dapp:
- apps/frontend/core-dapp/**/*
- apps/smart-contracts/core/**/*
- apps/subgraphs/core-dapp/**/*

docs:
- apps/frontend/docs/**/*

boilerplate:
- apps/frontend/react-boilerplate/**/*
- apps/subgraphs/boilerplate/**/*

simulator:
- apps/frontend/simulator/**/*

website:
- apps/frontend/website/**/*
