Repository prepo-io/prepo-monorepo, pull requests merged in 2022-06, with the labels that each got.

#80 feat: disabling small thumb on estimating profit/loss
  apps/frontend/core-dapp/src/features/trade/EstimateProfitLoss.tsx
Labels: deployed

#91 feat: add panelbear to core dapp
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/lib/config.ts
  apps/frontend/core-dapp/src/pages/_app.tsx
  yarn.lock
Labels: deployed

#83 feat: ability to select network
  apps/frontend/core-dapp/src/components/NetworkDropdown.tsx
Labels: deployed

#82 feat: updated UI for slippage
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/AdvancedSettingsModal.tsx
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/AdvancedSettingsStore.ts
  apps/frontend/core-dapp/src/utils/number-utils.ts
Labels: deployed

#96 feat: use prepo-constants on react-boilerplate
  apps/frontend/react-boilerplate/next.config.js
  apps/frontend/react-boilerplate/package.json
  apps/frontend/react-boilerplate/src/features/black-hole/BlackHole.tsx
  apps/frontend/react-boilerplate/src/lib/config.ts
  apps/frontend/react-boilerplate/src/lib/contract.types.ts
  apps/frontend/react-boilerplate/src/lib/stores-config.ts
  apps/frontend/react-boilerplate/src/pages/network.tsx
  apps/frontend/react-boilerplate/src/stores/UniswapV3GraphStore.ts
  yarn.lock
Labels: deployed

#95 feat: use prepo-constants on acquisition-royale-home
  apps/frontend/acquisition-royale-home/next.config.js
  apps/frontend/acquisition-royale-home/package.json
  apps/frontend/acquisition-royale-home/src/features/mvp/acquire/AcquireStore.ts
  apps/frontend/acquisition-royale-home/src/features/mvp/merge/MergeStore.ts
  apps/frontend/acquisition-royale-home/src/hooks/useCountdown.ts
  apps/frontend/acquisition-royale-home/src/lib/supported-contracts.ts
  apps/frontend/acquisition-royale-home/src/stores/utils/enterprise-utils.ts
  apps/frontend/acquisition-royale-home/src/stores/utils/stores-config.ts
  apps/frontend/acquisition-royale-home/src/utils/common-utils.ts
Labels: deployed

#98 feat: minigames stores
  apps/frontend/acquisition-royale-home/src/abi/MinigameHook.abi.json
  apps/frontend/acquisition-royale-home/src/abi/MinigameProRata.abi.json
  apps/frontend/acquisition-royale-home/src/components/MainTab.tsx
  apps/frontend/acquisition-royale-home/src/components/icon/Icon.tsx
  apps/frontend/acquisition-royale-home/src/components/icon/iconComponents/Phone.tsx
  apps/frontend/acquisition-royale-home/src/features/mvp/ActionCard.tsx
  apps/frontend/acquisition-royale-home/src/features/mvp/actions/Intern.tsx
  apps/frontend/acquisition-royale-home/src/features/mvp/categories.tsx
  apps/frontend/acquisition-royale-home/src/features/mvp/minigames/MinigameCard.tsx
  apps/frontend/acquisition-royale-home/src/features/mvp/minigames/MinigameStore.ts
  apps/frontend/acquisition-royale-home/src/features/mvp/minigames/Minigames.tsx
  apps/frontend/acquisition-royale-home/src/features/mvp/minigames/games.tsx
  apps/frontend/acquisition-royale-home/src/features/mvp/minigames/utils.ts
  apps/frontend/acquisition-royale-home/src/lib/minigames-contracts.ts
  apps/frontend/acquisition-royale-home/src/lib/supported-contracts.ts
  apps/frontend/acquisition-royale-home/src/stores/RootStore.ts
  apps/frontend/acquisition-royale-home/src/stores/SignerStore.ts
  apps/frontend/acquisition-royale-home/src/stores/entities/Erc20.entity.ts
  apps/frontend/acquisition-royale-home/src/stores/entities/MinigameHook.entity.ts
  apps/frontend/acquisition-royale-home/src/stores/entities/MinigameProRata.entity.ts
  apps/frontend/acquisition-royale-home/src/stores/entities/RewardToken.entity.ts
  apps/frontend/acquisition-royale-home/src/stores/utils/enterprise-utils.ts
  apps/frontend/acquisition-royale-home/src/types/enterprise.types.ts
  apps/frontend/acquisition-royale-home/src/utils/date-utils.ts
Labels: deployed

#92 feat: added robot.txt/sitemap generation, small warnings
  apps/frontend/core-dapp/next-sitemap.js
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/components/NetworkDropdown.tsx
  apps/frontend/core-dapp/src/components/PpoDropdown.tsx
  apps/frontend/core-dapp/src/components/SEO.tsx
  apps/frontend/core-dapp/src/pages/index.tsx
  yarn.lock
Labels: deployed

#101 feat: migrate core-dapp with prepo-utils
  apps/frontend/core-dapp/next.config.js
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/components/CurrenciesBreakdown.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/BalanceLabel.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/MultiCurrencySelect.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/TokenSelectionModal.tsx
  apps/frontend/core-dapp/src/components/UnlockTokens.tsx
  apps/frontend/core-dapp/src/features/liquidity/LiquidityPage.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioBreakdownItem.tsx
  apps/frontend/core-dapp/src/features/position/ClosePositionSummary.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/DelegatedTo.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakeDelegate.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawBalance.tsx
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
  apps/frontend/core-dapp/src/stores/SwapStore.ts
  apps/frontend/core-dapp/src/stores/UniswapRouterStore.tsx
  packages/prepo-utils/src/getContractAddress.ts
Labels: deployed

#107 fix: correct deposit fee
  apps/frontend/core-dapp/src/features/deposit/DepositTransactionSummary.tsx
Labels: deployed

#106 chore: aligned web3 packages
  apps/frontend/acquisition-royale-home/package.json
  apps/frontend/acquisition-royale-landing-page/package.json
  apps/frontend/core-dapp/package.json
  apps/frontend/react-boilerplate/package.json
  packages/prepo-utils/package.json
  yarn.lock
Labels: deployed

#111 feat: update docs june
  apps/frontend/docs/docs/acquisition-royale.md
  apps/frontend/docs/docs/acquisition-royale/customization/rebrand.md
  apps/frontend/docs/docs/acquisition-royale/customization/rename.md
  apps/frontend/docs/docs/acquisition-royale/faq.md
  apps/frontend/docs/docs/acquisition-royale/gameplay.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/acquire.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/compete.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/deposit-rp.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/immunity.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/intern-tasks.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/merge.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/moats.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/revive.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/rp-shop.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/runway.md
  apps/frontend/docs/docs/acquisition-royale/gameplay/withdraw-rp.md
  apps/frontend/docs/docs/acquisition-royale/getting-started.md
  apps/frontend/docs/docs/acquisition-royale/roadmap.md
  apps/frontend/docs/docs/acquisition-royale/tokenomics.md
  apps/frontend/docs/docs/acquisition-royale/useful-links.md
  apps/frontend/docs/docs/roadmap.md
  apps/frontend/docs/docusaurus.config.js
  apps/frontend/docs/sidebars/acquisition-royale.js
  apps/frontend/docs/sidebars/index.js
Labels: deployed

#110 feat: update header website
  apps/frontend/website/src/components/layout/Header.tsx
  apps/frontend/website/src/components/layout/RoadmapSection.tsx
Labels: deployed

#112 feat: hide faq from website header
  apps/frontend/website/src/components/layout/Header.tsx
Labels: deployed

#113 fix: reduce sentry captured issues
  apps/frontend/core-dapp/package.json
Labels: deployed

#114 fix: bug with trimmed props
  apps/frontend/core-dapp/src/utils/market-utils.ts
Labels: deployed

#124 feat: add toUsd function
  apps/frontend/core-dapp/src/components/Table.tsx
  apps/frontend/core-dapp/src/components/charts/FloatingCard.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemDesktop.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemMobile.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketChart.tsx
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioBreakdownItem.tsx
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
  apps/frontend/core-dapp/src/features/trade/EstimateProfitLoss.tsx
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
  apps/frontend/core-dapp/src/utils/__tests__/numberFormatter.test.ts
  apps/frontend/core-dapp/src/utils/number-utils.ts
  apps/frontend/core-dapp/src/utils/numberFormatter.ts
Labels: deployed

#123 feat: add withComas function
  apps/frontend/core-dapp/src/components/Table.tsx
  apps/frontend/core-dapp/src/components/charts/FloatingCard.tsx
  apps/frontend/core-dapp/src/features/delegate/DelegateCard.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemDesktop.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemMobile.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketChart.tsx
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioBreakdownItem.tsx
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
  apps/frontend/core-dapp/src/features/trade/EstimateProfitLoss.tsx
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
  apps/frontend/core-dapp/src/utils/__tests__/number-utils.test.ts
  apps/frontend/core-dapp/src/utils/__tests__/numberFormatter.test.ts
  apps/frontend/core-dapp/src/utils/number-utils.ts
  apps/frontend/core-dapp/src/utils/numberFormatter.ts
Labels: deployed

#122 feat: use numberFormatter for percentages
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/AdvancedSettingsModal.tsx
  apps/frontend/core-dapp/src/components/Percent.tsx
  apps/frontend/core-dapp/src/components/Table.tsx
  apps/frontend/core-dapp/src/components/charts/FloatingCard.tsx
  apps/frontend/core-dapp/src/features/delegate/DelegateCard.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemDesktop.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemMobile.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketChart.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketDataColumn.tsx
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioBreakdownItem.tsx
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
  apps/frontend/core-dapp/src/features/trade/EstimateProfitLoss.tsx
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
  apps/frontend/core-dapp/src/utils/__tests__/number-utils.test.ts
  apps/frontend/core-dapp/src/utils/__tests__/numberFormatter.test.ts
  apps/frontend/core-dapp/src/utils/number-utils.ts
  apps/frontend/core-dapp/src/utils/numberFormatter.ts
Labels: deployed

#121 feat: refactor numberFormat
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/AdvancedSettingsModal.tsx
  apps/frontend/core-dapp/src/components/LiquidityChartRangeInput/AxisBottom.tsx
  apps/frontend/core-dapp/src/components/LiquidityChartRangeInput/Chart.tsx
  apps/frontend/core-dapp/src/components/MarketCard.tsx
  apps/frontend/core-dapp/src/components/Percent.tsx
  apps/frontend/core-dapp/src/components/Table.tsx
  apps/frontend/core-dapp/src/components/charts/FloatingCard.tsx
  apps/frontend/core-dapp/src/features/delegate/DelegateCard.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemDesktop.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemMobile.tsx
  apps/frontend/core-dapp/src/features/liquidity/LiquidityPage.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketChart.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketDataColumn.tsx
  apps/frontend/core-dapp/src/features/market-overview/market-utils.ts
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioBreakdownItem.tsx
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/FromDelegators.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/FromPower.tsx
  apps/frontend/core-dapp/src/features/profile/ProfileVotingPower.tsx
  apps/frontend/core-dapp/src/features/trade/EstimateProfitLoss.tsx
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
  apps/frontend/core-dapp/src/utils/__tests__/number-utils.test.ts
  apps/frontend/core-dapp/src/utils/__tests__/numberFormatter.test.ts
  apps/frontend/core-dapp/src/utils/number-utils.ts
  apps/frontend/core-dapp/src/utils/numberFormatter.ts
  yarn.lock
Labels: deployed

#115 Feat/update gas price UI
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/AdvancedSettingsModal.tsx
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/CollapsibleItem.tsx
  apps/frontend/core-dapp/src/components/Modal.tsx
  apps/frontend/core-dapp/src/components/Radio.tsx
  yarn.lock
Labels: deployed

#104 chore: bump packages for mobx
  apps/frontend/core-dapp/package.json
  apps/frontend/react-boilerplate/package.json
  apps/frontend/website/package.json
  yarn.lock
Labels: deployed

#103 chore: updated component library versions
  apps/frontend/core-dapp/package.json
  apps/frontend/react-boilerplate/package.json
  apps/frontend/simulator/package.json
  yarn.lock
Labels: deployed

#133 feat: keep dropdown menu when change
  apps/frontend/core-dapp/src/components/SettingsMenu.tsx
Labels: deployed

#125 feat: added prepo-io/stores to prepo-stores monorepo
  .gitignore
  apps/frontend/core-dapp/package.json
  packages/prepo-stores/.babelrc
  packages/prepo-stores/.eslintignore
  packages/prepo-stores/.eslintrc.js
  packages/prepo-stores/CHANGELOG.md
  packages/prepo-stores/README.md
  packages/prepo-stores/package.json
  packages/prepo-stores/src/BrowserStore.ts
  packages/prepo-stores/src/ClockStore.ts
  packages/prepo-stores/src/ContractStore.ts
  packages/prepo-stores/src/GasStore.ts
  packages/prepo-stores/src/GraphStore.ts
  packages/prepo-stores/src/LocalStorageStore.ts
  packages/prepo-stores/src/MulticallStore.ts
  packages/prepo-stores/src/RootStore.ts
  packages/prepo-stores/src/ToastStore.ts
  packages/prepo-stores/src/Web3Store.ts
  packages/prepo-stores/src/global.d.ts
  packages/prepo-stores/src/index.ts
  packages/prepo-stores/src/types.ts
  packages/prepo-stores/src/utils/constants.ts
  packages/prepo-stores/src/utils/error-capturer-util.ts
  packages/prepo-stores/src/utils/graph-store-utils.ts
  packages/prepo-stores/src/utils/graph-store.types.ts
  packages/prepo-stores/src/utils/metamask-utils.ts
  packages/prepo-stores/src/utils/stores-config-utils.ts
  packages/prepo-stores/src/utils/stores.types.ts
  packages/prepo-stores/tsconfig.json
  packages/prepo-ui/src/components/TokenInput/TokenInput.tsx
  packages/prepo-utils/__tests__/utils.test.ts
Labels: deployed

#130 feat: gql compile
  apps/subgraphs/boilerplate/package.json
  apps/subgraphs/core-dapp/README.md
  apps/subgraphs/core-dapp/package.json
  yarn.lock
Labels: non-app

#136 feat: add github labels to pr size
  .github/workflows/size-label.yml
Labels: size/S

#137 feat: migrate prepo blog
  .github/labeler.yml
  apps/frontend/blog/.eslintignore
  apps/frontend/blog/.ghost.json
  apps/frontend/blog/.gitignore
  apps/frontend/blog/gatsby-browser.js
  apps/frontend/blog/gatsby-config.js
  apps/frontend/blog/gatsby-node.js
  apps/frontend/blog/package.json
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/.babelrc
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/common.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/gatsby-node.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/gatsby-ssr.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/index.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/package.json
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/src/common.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/src/gatsby-node.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/src/gatsby-ssr.js
  apps/frontend/blog/renovate.json
  apps/frontend/blog/src/components/common/Layout.js
  apps/frontend/blog/src/components/common/Navigation.js
  apps/frontend/blog/src/components/common/Pagination.js
  apps/frontend/blog/src/components/common/PostCard.js
  apps/frontend/blog/src/components/common/index.js
  apps/frontend/blog/src/components/common/meta/ArticleMeta.js
  apps/frontend/blog/src/components/common/meta/AuthorMeta.js
  apps/frontend/blog/src/components/common/meta/ImageMeta.js
  apps/frontend/blog/src/components/common/meta/MetaData.js
  apps/frontend/blog/src/components/common/meta/WebsiteMeta.js
  apps/frontend/blog/src/components/common/meta/getAuthorProperties.js
  apps/frontend/blog/src/components/common/meta/index.js
  apps/frontend/blog/src/images/ghost-icon.png
  apps/frontend/blog/src/pages/404.js
  apps/frontend/blog/src/styles/app.css
  apps/frontend/blog/src/templates/author.js
  apps/frontend/blog/src/templates/index.js
  apps/frontend/blog/src/templates/page.js
  apps/frontend/blog/src/templates/post.js
  apps/frontend/blog/src/templates/tag.js
  apps/frontend/blog/src/utils/fragments.js
  apps/frontend/blog/src/utils/rss/generate-feed.js
  apps/frontend/blog/src/utils/siteConfig.js
  apps/frontend/blog/static/_headers
  apps/frontend/blog/static/_redirects
  apps/frontend/blog/static/favicon.ico
  apps/frontend/blog/static/favicon.png
  apps/frontend/blog/static/images/hwp.png
  apps/frontend/blog/static/images/icons/avatar.svg
  apps/frontend/blog/static/images/icons/facebook.svg
  apps/frontend/blog/static/images/icons/rss.svg
  apps/frontend/blog/static/images/icons/twitter.svg
  apps/frontend/blog/static/images/logo.svg
  apps/frontend/blog/static/robots.txt
  yarn.lock
Labels: non-app, frontend, size/XXL

#138 feat: update gas speed options
  .gitignore
  packages/constants/src/gas.ts
  packages/prepo-stores/src/GasStore.ts
Labels: deployed, frontend, size/M

#139 feat: rollback rm blog
  .github/labeler.yml
  apps/frontend/blog/.eslintignore
  apps/frontend/blog/.ghost.json
  apps/frontend/blog/.gitignore
  apps/frontend/blog/gatsby-browser.js
  apps/frontend/blog/gatsby-config.js
  apps/frontend/blog/gatsby-node.js
  apps/frontend/blog/package.json
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/.babelrc
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/common.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/gatsby-node.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/gatsby-ssr.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/index.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/package.json
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/src/common.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/src/gatsby-node.js
  apps/frontend/blog/plugins/gatsby-plugin-ghost-manifest/src/gatsby-ssr.js
  apps/frontend/blog/renovate.json
  apps/frontend/blog/src/components/common/Layout.js
  apps/frontend/blog/src/components/common/Navigation.js
  apps/frontend/blog/src/components/common/Pagination.js
  apps/frontend/blog/src/components/common/PostCard.js
  apps/frontend/blog/src/components/common/index.js
  apps/frontend/blog/src/components/common/meta/ArticleMeta.js
  apps/frontend/blog/src/components/common/meta/AuthorMeta.js
  apps/frontend/blog/src/components/common/meta/ImageMeta.js
  apps/frontend/blog/src/components/common/meta/MetaData.js
  apps/frontend/blog/src/components/common/meta/WebsiteMeta.js
  apps/frontend/blog/src/components/common/meta/getAuthorProperties.js
  apps/frontend/blog/src/components/common/meta/index.js
  apps/frontend/blog/src/images/ghost-icon.png
  apps/frontend/blog/src/pages/404.js
  apps/frontend/blog/src/styles/app.css
  apps/frontend/blog/src/templates/author.js
  apps/frontend/blog/src/templates/index.js
  apps/frontend/blog/src/templates/page.js
  apps/frontend/blog/src/templates/post.js
  apps/frontend/blog/src/templates/tag.js
  apps/frontend/blog/src/utils/fragments.js
  apps/frontend/blog/src/utils/rss/generate-feed.js
  apps/frontend/blog/src/utils/siteConfig.js
  apps/frontend/blog/static/_headers
  apps/frontend/blog/static/_redirects
  apps/frontend/blog/static/favicon.ico
  apps/frontend/blog/static/favicon.png
  apps/frontend/blog/static/images/hwp.png
  apps/frontend/blog/static/images/icons/avatar.svg
  apps/frontend/blog/static/images/icons/facebook.svg
  apps/frontend/blog/static/images/icons/rss.svg
  apps/frontend/blog/static/images/icons/twitter.svg
  apps/frontend/blog/static/images/logo.svg
  apps/frontend/blog/static/robots.txt
  yarn.lock
Labels: non-app, frontend, size/XXL, blog

#141 feat: rm changelog from prepo-stores
  packages/prepo-stores/CHANGELOG.md
Labels: deployed, size/XL

#140 feat: rename to prepo-constants
  .github/labeler.yml
  packages/prepo-constants/.eslintignore
  packages/prepo-constants/.eslintrc.js
  packages/prepo-constants/README.md
  packages/prepo-constants/package.json
  packages/prepo-constants/src/gas.ts
  packages/prepo-constants/src/general-constants.ts
  packages/prepo-constants/src/graphs.ts
  packages/prepo-constants/src/index.ts
  packages/prepo-constants/src/links.ts
  packages/prepo-constants/src/networks.ts
  packages/prepo-constants/tsconfig.json
  yarn.lock
Labels: non-app, deployed, size/XS

#132 fix: position icon on same with level with button main label
  apps/frontend/core-dapp/src/features/ppo/ButtonLink.tsx
Labels: deployed

#143 fix: percentage label color
  apps/frontend/core-dapp/src/components/Percent.tsx
Labels: core-dapp, deployed, frontend, size/XS

#134 feat: position pnl
  apps/frontend/core-dapp/internals/mst-gql-generate.bash
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
  apps/frontend/core-dapp/src/graphql/core-dapp.graphql
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/graphs/CoreGraphStore.ts
  apps/frontend/core-dapp/src/stores/graphs/queries/core.queries.ts
  apps/frontend/core-dapp/src/types/user.types.ts
  packages/prepo-constants/src/graphs.ts
Labels: core-dapp, deployed, frontend, size/XXL

#144 feat: clickable position
  apps/frontend/core-dapp/src/components/Link.tsx
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, size/S

#146 feat: user friendly error messages
  packages/prepo-stores/src/utils/error-capturer-util.ts
  packages/prepo-utils/src/makeError.ts
Labels: deployed, frontend, size/M

#152 feat: subgraph track long short token transfer
  apps/subgraphs/core-dapp/src/mappings/core.ts
  apps/subgraphs/core-dapp/src/mappings/transaction.ts
  apps/subgraphs/core-dapp/src/utils/constants.ts
Labels: core-dapp, frontend, size/M

#150 fix: graphql schema comment
  apps/subgraphs/core-dapp/schema.graphql
  apps/subgraphs/core-dapp/src/mappings/core.ts
  apps/subgraphs/core-dapp/src/mappings/factory.ts
  apps/subgraphs/core-dapp/src/mappings/transaction.ts
  apps/subgraphs/core-dapp/src/utils/constants.ts
  apps/subgraphs/core-dapp/subgraph.yaml
Labels: core-dapp, frontend, size/L

#154 feat: frontend pnl percentage
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/features/position/ClosePositionSummary.tsx
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
Labels: core-dapp, deployed, frontend, size/S

#156 feat: generic erc20 data for every token type
  apps/subgraphs/core-dapp/.eslintrc.js
  apps/subgraphs/core-dapp/schema.graphql
  apps/subgraphs/core-dapp/src/mappings/accounting.ts
  apps/subgraphs/core-dapp/src/mappings/factory.ts
  apps/subgraphs/core-dapp/src/mappings/transaction.ts
  apps/subgraphs/core-dapp/src/utils/ERC20.ts
  apps/subgraphs/core-dapp/src/utils/LongShortToken.ts
  apps/subgraphs/core-dapp/src/utils/constants.ts
  apps/subgraphs/core-dapp/subgraph.yaml
Labels: core-dapp, frontend, size/L

#159 Fix/close position
  apps/frontend/core-dapp/src/components/TransactionSummary/TransactionSummary.tsx
  apps/frontend/core-dapp/src/features/position/ClosePositionSummary.tsx
Labels: core-dapp, deployed, frontend, size/XS

#161 fix: portfolio breakdown mobile design
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioBreakdownItem.tsx
Labels: core-dapp, deployed, frontend, size/S

#158 feat: track relevant transfer event of base token
  apps/subgraphs/core-dapp/package.json
  apps/subgraphs/core-dapp/schema.graphql
  apps/subgraphs/core-dapp/src/mappings/core.ts
  apps/subgraphs/core-dapp/src/mappings/factory.ts
  apps/subgraphs/core-dapp/src/mappings/transaction.ts
  apps/subgraphs/core-dapp/subgraph.yaml
Labels: core-dapp, frontend, size/L

#160 feat: temporarily use staging subgraph until main subgraph synced
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/graphql/core-dapp.graphql
  apps/frontend/core-dapp/src/stores/graphs/queries/core.queries.ts
  apps/frontend/core-dapp/src/types/user.types.ts
  packages/prepo-constants/src/graphs.ts
Labels: core-dapp, deployed, frontend, size/XXL

#163 feat: subgraph historical event
  apps/subgraphs/core-dapp/schema.graphql
  apps/subgraphs/core-dapp/src/mappings/transaction.ts
  apps/subgraphs/core-dapp/subgraph.yaml
Labels: core-dapp, frontend, size/M

#165 feat: check if a transaction is deposit
  apps/subgraphs/core-dapp/.eslintrc.js
  apps/subgraphs/core-dapp/schema.graphql
  apps/subgraphs/core-dapp/src/mappings/transaction.ts
  apps/subgraphs/core-dapp/src/utils/constants.ts
  apps/subgraphs/core-dapp/src/utils/transactions.ts
  yarn.lock
Labels: non-app, core-dapp, frontend, size/L

#172 feat: reuse hardhat config
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/.eslintignore
  packages/prepo-hardhat/.eslintrc.js
  packages/prepo-hardhat/README.md
  packages/prepo-hardhat/package.json
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
  packages/prepo-hardhat/src/index.ts
  packages/prepo-hardhat/tsconfig.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, deployed, frontend, size/L

#171 feat: use junk address across all apps
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/test/utils.ts
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/StakingRewardsDistribution.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/utils.ts
  packages/prepo-constants/src/general-constants.ts
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/.eslintignore
  packages/prepo-hardhat/.eslintrc.js
  packages/prepo-hardhat/README.md
  packages/prepo-hardhat/package.json
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
  packages/prepo-hardhat/src/index.ts
  packages/prepo-hardhat/tsconfig.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, deployed, frontend, size/L

#170 feat: use zero address across all apps
  apps/frontend/core-dapp/src/features/profile/LookupUser.tsx
  apps/frontend/react-boilerplate/src/features/black-hole/BlackHole.tsx
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/MockBaseToken.test.ts
  apps/smart-contracts/core/test/MockStrategy.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/SingleStrategyController.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/utils.ts
  apps/smart-contracts/core/utils/index.ts
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/test/IOUPPO.test.ts
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/StakingRewardsDistribution.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
  apps/smart-contracts/token/test/utils.ts
  apps/subgraphs/core-dapp/package.json
  apps/subgraphs/core-dapp/src/utils/constants.ts
  apps/subgraphs/core-dapp/src/utils/transactions.ts
  packages/prepo-constants/src/general-constants.ts
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/.eslintignore
  packages/prepo-hardhat/.eslintrc.js
  packages/prepo-hardhat/README.md
  packages/prepo-hardhat/package.json
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
  packages/prepo-hardhat/src/index.ts
  packages/prepo-hardhat/tsconfig.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, deployed, frontend, boilerplate, size/XL

#175 chore: syncing the last changes to the prepo-token-private since the initial migration
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/interfaces/IPurchaseHook.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/IVesting.sol
  apps/smart-contracts/token/contracts/mocks/MockPregenPass.sol
  apps/smart-contracts/token/contracts/mocks/MockVestingClaimer.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/PPOStaking.sol
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/PurchaseHook.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/utils.ts
  yarn.lock
Labels: non-app, smart-contracts, size/XL

#174 feat: move smart contract core utils
  apps/smart-contracts/core/deploy/AccountAccessController.ts
  apps/smart-contracts/core/deploy/Collateral.ts
  apps/smart-contracts/core/deploy/CollateralDepositRecord.ts
  apps/smart-contracts/core/deploy/DepositHook.ts
  apps/smart-contracts/core/deploy/MockBaseToken.ts
  apps/smart-contracts/core/deploy/MockStrategy.ts
  apps/smart-contracts/core/deploy/PrePOMarketFactory.ts
  apps/smart-contracts/core/deploy/SingleStrategyController.ts
  apps/smart-contracts/core/deploy/WithdrawHook.ts
  apps/smart-contracts/core/tasks/Markets.ts
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/MockStrategy.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/harness/PrePO.ts
  apps/smart-contracts/core/test/utils.ts
  apps/smart-contracts/core/utils/index.ts
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/interfaces/IPurchaseHook.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/IVesting.sol
  apps/smart-contracts/token/contracts/mocks/MockPregenPass.sol
  apps/smart-contracts/token/contracts/mocks/MockVestingClaimer.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/PPOStaking.sol
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/PurchaseHook.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/utils.ts
  packages/prepo-hardhat/src/index.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/XL

#185 feat: add github labels to smart-contracts token app
  .github/labeler.yml
Labels: size/XS

#182 feat: adding withdrawERC20 token in tokenShop
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, size/M, token

#183 feat: added methods to withdraw ERC721 and ERC1155 from Token Shop
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, size/L, token

#187 feat: reusable smart contracts package
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/package.json
  packages/prepo-shared-contracts/.env.example
  packages/prepo-shared-contracts/.eslintrc.js
  packages/prepo-shared-contracts/.solcover.js
  packages/prepo-shared-contracts/.solhint.json
  packages/prepo-shared-contracts/.solhintignore
  packages/prepo-shared-contracts/README.md
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-shared-contracts/hardhat.config.ts
  packages/prepo-shared-contracts/package.json
  packages/prepo-shared-contracts/test/SafeOwnable.test.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableFixture.ts
  packages/prepo-shared-contracts/tsconfig.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/L, token

#190 feat: refactor tsconfig smart contracts
  apps/smart-contracts/core/tsconfig.json
  apps/smart-contracts/token/index.ts
  apps/smart-contracts/token/tsconfig.json
  packages/prepo-shared-contracts/tsconfig.json
  packages/tsconfig/smart-contracts.json
Labels: core-dapp, smart-contracts, deployed, size/M, token

#191 feat: improve deploy prod pipeline
  .github/workflows/deploy-production-apps.yml
Labels: size/XS

#192 feat: add shared solhint config
  apps/smart-contracts/core/.solhint.json
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/.solhint.json
  apps/smart-contracts/token/package.json
  packages/prepo-shared-contracts/.solhint.json
  packages/prepo-shared-contracts/package.json
  packages/solhint-config-prepo/index.js
  packages/solhint-config-prepo/package.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/M, token

#194 fix: remove package json license keys
  apps/frontend/core-dapp/package.json
  apps/subgraphs/boilerplate/package.json
  apps/subgraphs/core-dapp/package.json
  packages/config/package.json
Labels: core-dapp, deployed, frontend, boilerplate, size/XS

#193 fix: license to specify agpl3
  LICENSE
  package.json
Labels: non-app, size/L

#168 feat: conditions check for opening trade
  apps/subgraphs/core-dapp/src/mappings/transaction.ts
  apps/subgraphs/core-dapp/src/utils/constants.ts
  apps/subgraphs/core-dapp/src/utils/transactions.ts
Labels: core-dapp, frontend, size/L
