Repository prepo-io/prepo-monorepo, pull requests merged in 2022-12, with the labels that each got.

#610 feat: NFTAccess: add INFTAccessHook to DepositHook and implement setRequiredScore
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
Labels: core-dapp, smart-contracts, size/L, token

#600 refactor: simplify PrePOMarket params
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/fixtures/LongShortTokenFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
  apps/smart-contracts/core/test/fixtures/TestERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/UniswapFixtures.ts
  apps/smart-contracts/core/test/harness/core.ts
Labels: core-dapp, smart-contracts, size/L

#596 feat: FeeRebate: create IFeeRebateHook
  apps/smart-contracts/core/contracts/interfaces/IFeeRebateHook.sol
Labels: core-dapp, smart-contracts, size/S

#584 feat: NFTAccess: logic and tests for removeCollections
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
Labels: core-dapp, smart-contracts, size/L

#605 feat: NFTAccess: logic and tests for getAccountScore
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
Labels: core-dapp, smart-contracts, size/M

#598 feat: FeeRebate: treasury set/get for fee rebate hook
  apps/smart-contracts/core/contracts/FeeRebateHook.sol
  apps/smart-contracts/core/contracts/interfaces/IFeeRebateHook.sol
  apps/smart-contracts/core/test/FeeRebateHook.test.ts
Labels: core-dapp, smart-contracts, size/M

#599 feat: FeeRebate: skeleton for TokenSender
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/test/TokenSender.test.ts
  apps/smart-contracts/core/test/fixtures/TokenSenderFixture.ts
Labels: core-dapp, smart-contracts, size/L

#620 feat: FeeRebate: basic setters/getters and initialisation tests
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/test/TokenSender.test.ts
Labels: core-dapp, smart-contracts, size/L

#615 fix: make _allowlist internal for inheriting contracts to access
  packages/prepo-shared-contracts/contracts/AllowlistHook.sol
Labels: size/XS

#626 feat: FeeRebate: finalising FeeRebateHook per design
  apps/smart-contracts/core/contracts/FeeRebateHook.sol
  apps/smart-contracts/core/contracts/interfaces/IFeeRebateHook.sol
  apps/smart-contracts/core/test/FeeRebateHook.test.ts
Labels: core-dapp, smart-contracts, size/M

#625 feat: FeeRebate: add send functionality to TokenSender
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/contracts/test/TestUintValue.sol
  apps/smart-contracts/core/test/TokenSender.test.ts
  apps/smart-contracts/core/test/fixtures/TestUintValueFixture.ts
Labels: core-dapp, smart-contracts, size/L

#627 feat: FeeRebate: DepositHook treasury and TokenSender setters
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
Labels: core-dapp, smart-contracts, size/M

#628 feat: FeeRebate: Add fee logic to DepositHook
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/FeeRebateHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/TokenSenderFixture.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/XL

#624 feat: add DepositTradeHelper skeleton
  apps/smart-contracts/core/contracts/DepositTradeHelper.sol
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/fixtures/DepositTradeHelperFixture.ts
Labels: core-dapp, smart-contracts, size/M

#630 feat:core: make AllowedCallers and AllowlistHook utilize public visiblity
  .github/workflows/checks.yml
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/MintHook.sol
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/MintHook.test.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  package.json
  packages/prepo-shared-contracts/contracts/AllowedCallers.sol
  packages/prepo-shared-contracts/contracts/AllowlistHook.sol
  turbo.json
Labels: non-app, core-dapp, smart-contracts, size/L, token

#623 feat:core: add hook call to PrePOMarket mint
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
Labels: core-dapp, smart-contracts, size/M

#621 feat:core: remove treasury from PrePOMarket
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
Labels: core-dapp, smart-contracts, size/L

#636 refactor: Rename FixedPriceOracle to FixedUintValue
  packages/prepo-shared-contracts/contracts/FixedPriceOracle.sol
  packages/prepo-shared-contracts/contracts/FixedUintValue.sol
  packages/prepo-shared-contracts/contracts/interfaces/IFixedPriceOracle.sol
  packages/prepo-shared-contracts/contracts/interfaces/IFixedUintValue.sol
  packages/prepo-shared-contracts/deploy/FixedUintValue.ts
  packages/prepo-shared-contracts/test/FixedPriceOracle.test.ts
  packages/prepo-shared-contracts/test/FixedUintValue.test.ts
  packages/prepo-shared-contracts/test/fixtures/FixedPriceOracleFixture.ts
  packages/prepo-shared-contracts/test/fixtures/FixedUintValueFixture.ts
Labels: size/L

#639 refactor:core: Use snapshots for Collateral test
  apps/smart-contracts/core/test/Collateral.test.ts
Labels: core-dapp, smart-contracts, size/M

#635 chore:core: rename FeeRebateHook to TokenSenderCaller
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/FeeRebateHook.test.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  packages/prepo-shared-contracts/contracts/TokenSenderCaller.sol
  packages/prepo-shared-contracts/contracts/interfaces/ITokenSender.sol
  packages/prepo-shared-contracts/contracts/interfaces/ITokenSenderCaller.sol
  packages/prepo-shared-contracts/test/TokenSenderCaller.test.ts
  packages/prepo-shared-contracts/test/fixtures/TokenSenderCallerFixtures.ts
Labels: core-dapp, smart-contracts, size/L

#637 chore:code: attempt at optimizing role assignment
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/L

#536 fix: false positive deploy action
  .github/workflows/deploy-preview-apps.yml
Labels: deployed, size/L

#591 fix: floating navigation text color
  apps/frontend/core-dapp/src/components/Navigation.tsx
Labels: core-dapp, deployed, frontend, size/XS

#642 refactor:core: use shared getPermitSignature fixture
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositTradeHelper.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositTradeHelper.sol
  apps/smart-contracts/core/contracts/test/TestERC20.sol
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/harness/core.ts
  apps/smart-contracts/core/test/utils.ts
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/test/PPO.test.ts
  package.json
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: non-app, core-dapp, smart-contracts, size/L, token

#640 refactor:core: Delete AllowedCallers, create AllowedMsgSenders
  apps/smart-contracts/core/contracts/MintHook.sol
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/test/MintHook.test.ts
  apps/smart-contracts/core/test/RedeemHook.test.ts
  apps/smart-contracts/core/test/TokenSender.test.ts
  packages/prepo-shared-contracts/contracts/AccountList.sol
  packages/prepo-shared-contracts/contracts/AllowedCallers.sol
  packages/prepo-shared-contracts/contracts/AllowedMsgSenders.sol
  packages/prepo-shared-contracts/contracts/interfaces/IAllowedCallers.sol
  packages/prepo-shared-contracts/contracts/interfaces/IAllowedMsgSenders.sol
  packages/prepo-shared-contracts/test/AccountList.test.ts
  packages/prepo-shared-contracts/test/AllowedCallers.test.ts
  packages/prepo-shared-contracts/test/AllowedMsgSenders.test.ts
  packages/prepo-shared-contracts/test/fixtures/AccountListFixture.ts
  packages/prepo-shared-contracts/test/fixtures/AllowedCallersFixture.ts
  packages/prepo-shared-contracts/test/fixtures/AllowedMsgSendersFixture.ts
Labels: core-dapp, smart-contracts, size/XL

#649 refactor: core: Extracting NFT access logic into a module
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
  packages/prepo-shared-contracts/contracts/NFTScoreRequirement.sol
  packages/prepo-shared-contracts/contracts/interfaces/INFTScoreRequirement.sol
  packages/prepo-shared-contracts/test/NFTScoreRequirement.test.ts
  packages/prepo-shared-contracts/test/fixtures/NFTScoreRequirementFixture.ts
Labels: core-dapp, smart-contracts, size/XL

#650 feat:core: deposit and trade transfer logic
  apps/smart-contracts/core/contracts/DepositTradeHelper.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositTradeHelper.sol
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
Labels: core-dapp, smart-contracts, size/L

#651 feat: added salt parameters for create2 LS token deployments
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
Labels: core-dapp, smart-contracts, size/M

#667 docs: add ICollateral copy
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
Labels: core-dapp, smart-contracts, size/L

#669 docs: add IWithdrawHook copy
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
Labels: core-dapp, smart-contracts, size/M

#670 docs: add IDepositTradeHelper copy
  apps/smart-contracts/core/contracts/interfaces/IDepositTradeHelper.sol
Labels: core-dapp, smart-contracts, size/M

#671 docs: add market contract copy
  apps/smart-contracts/core/contracts/interfaces/IMarketHook.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
Labels: core-dapp, smart-contracts, size/L

#675 feat: bond blog post banner
  apps/frontend/website/src/components/layout/Banner.tsx
  apps/frontend/website/src/lib/constants.ts
Labels: deployed, frontend, website, size/XS

#676 fix: undo website banner
  apps/frontend/website/src/components/layout/Banner.tsx
Labels: deployed, frontend, website, size/XS

#677 feat: bond banner
  apps/frontend/website/src/components/layout/Banner.tsx
Labels: deployed, frontend, website, size/XS

#678 feat: latest trade page tabs design
  apps/frontend/core-dapp/src/components/PageTabs.tsx
  apps/frontend/core-dapp/src/components/Tabs.tsx
  apps/frontend/core-dapp/src/features/trade/TradePageTab.tsx
Labels: core-dapp, deployed, frontend, size/L

#653 refactor: core: Create IHook and do minimally invasive refactor
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/MintHook.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IAllowedCollateralCaller.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateralHook.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositRecordHook.sol
  apps/smart-contracts/core/contracts/interfaces/IHook.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/test/Collateral.test.ts
Labels: core-dapp, smart-contracts, size/L

#659 chore: token: Delete pregenesis contracts and tests
  apps/smart-contracts/token/contracts/pregenesis/PregenPass.sol
  apps/smart-contracts/token/contracts/pregenesis/PregenesisPoints.sol
  apps/smart-contracts/token/contracts/pregenesis/interfaces/IPregenesisPoints.sol
  apps/smart-contracts/token/contracts/pregenesis/mocks/MockPregenPass.sol
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/fixtures/PregenesisFixtures.ts
Labels: smart-contracts, size/XL, token

#656 refactor: token: Removing "new" from parameter names
  apps/smart-contracts/token/contracts/mini-sales/AllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/MiniSalesFlag.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IAllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSalesFlag.sol
  apps/smart-contracts/token/contracts/ppo/AccountList.sol
  apps/smart-contracts/token/contracts/ppo/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/PPO.sol
  apps/smart-contracts/token/contracts/ppo/RestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IBlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IPPO.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IRestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/token-shop/PurchaseHook.sol
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
  apps/smart-contracts/token/contracts/token-shop/interfaces/IPurchaseHook.sol
  apps/smart-contracts/token/contracts/token-shop/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  apps/smart-contracts/token/contracts/vesting/interfaces/IVesting.sol
  apps/smart-contracts/token/contracts/vesting/mocks/MockVestingClaimer.sol
  apps/smart-contracts/token/test/AllowlistPurchaseHook.test.ts
Labels: smart-contracts, size/XL, token

#654 refactor: core: Extracting ICollateral get/set and onlyCollateral modifier
  apps/smart-contracts/core/contracts/AllowedCollateralCaller.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/AllowedCollateralCaller.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/AllowedCollateralCallerFixture.ts
Labels: core-dapp, smart-contracts, size/L

#657 refactor: shared: Removing "new" from parameter names
  packages/prepo-shared-contracts/contracts/AccountList.sol
  packages/prepo-shared-contracts/contracts/ERC1155Mintable.sol
  packages/prepo-shared-contracts/contracts/ERC20Mintable.sol
  packages/prepo-shared-contracts/contracts/ERC721Mintable.sol
  packages/prepo-shared-contracts/contracts/Pausable.sol
  packages/prepo-shared-contracts/contracts/ProtectedHook.sol
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerable.sol
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableCaller.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC1155.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC721.sol
  packages/prepo-shared-contracts/contracts/interfaces/IAccountList.sol
  packages/prepo-shared-contracts/contracts/interfaces/IProtectedHook.sol
Labels: size/L

#658 chore: core: use nominatedowner rather than governance
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
Labels: core-dapp, smart-contracts, size/XS

#660 chore: reduce test verbosity
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/DepositRecord.test.ts
  apps/smart-contracts/core/test/MintHook.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/RedeemHook.test.ts
  apps/smart-contracts/core/test/TokenSender.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/token/test/AllowlistPurchaseHook.test.ts
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/MiniSales.test.ts
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
  packages/prepo-shared-contracts/test/SafeAccessControlEnumerable.test.ts
  packages/prepo-shared-contracts/test/SafeAccessControlEnumerableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/SafeOwnableCaller.test.ts
Labels: core-dapp, smart-contracts, size/L, token

#663 feat: shared: Add interface and tests for ERC721Mintable
  packages/prepo-shared-contracts/contracts/ERC721Mintable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IERC721Mintable.sol
  packages/prepo-shared-contracts/test/ERC721Mintable.test.ts
  packages/prepo-shared-contracts/test/fixtures/ERC721MintableFixture.ts
Labels: size/M

#664 chore: core: enforce revert style guide
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/MintHook.sol
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/MintHook.test.ts
  apps/smart-contracts/core/test/RedeemHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/M

#665 refactor: token: change all for loops to use gas-efficient incrementor
  apps/smart-contracts/token/contracts/staking/emissions/EmissionsController.sol
  apps/smart-contracts/token/contracts/staking/governance/staking/GamifiedToken.sol
  apps/smart-contracts/token/contracts/staking/governance/staking/QuestManager.sol
  apps/smart-contracts/token/contracts/staking/masset/Masset.sol
  apps/smart-contracts/token/contracts/staking/masset/MassetLogic.sol
  apps/smart-contracts/token/contracts/staking/masset/MassetManager.sol
  apps/smart-contracts/token/contracts/staking/masset/versions/MV1.sol
  apps/smart-contracts/token/contracts/staking/masset/versions/MV1Migrator.sol
  apps/smart-contracts/token/contracts/staking/masset/versions/MV2.sol
  apps/smart-contracts/token/contracts/staking/nexus/Nexus.sol
  apps/smart-contracts/token/contracts/staking/savings/SavingsManager.sol
  apps/smart-contracts/token/contracts/staking/z_mocks/governance/MockEmissionController.sol
  apps/smart-contracts/token/contracts/staking/z_mocks/masset/MockPlatformIntegration.sol
Labels: smart-contracts, size/L, token

#673 feat: lint Solidity files on commit
  package.json
Labels: non-app, size/L

#666 refactor: core: Tests use FakeContracts where sensible
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/MintHook.test.ts
  apps/smart-contracts/core/test/RedeemHook.test.ts
  apps/smart-contracts/core/test/TokenSender.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/fixtures/DepositRecordFixture.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/fixtures/TestUintValueFixture.ts
  apps/smart-contracts/core/test/fixtures/TokenSenderFixture.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/L

#661 chore: core: rename isCollateralValid to isValidCollateral
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
  apps/smart-contracts/core/deploy/PrePOMarketFactory.ts
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
Labels: core-dapp, smart-contracts, size/M

#688 feat: core: Switch PrePOMarket to SafeAccessControlEnumerable
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/L

#689 feat: core: Switch PrePOMarketFactory to SafeAccessControlEnumerableUpgradeable
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
Labels: core-dapp, smart-contracts, size/M

#682 feat: position chart component next to trade component
  apps/frontend/core-dapp/src/components/Card.tsx
  apps/frontend/core-dapp/src/components/Tabs.tsx
  apps/frontend/core-dapp/src/components/charts/Chart.tsx
  apps/frontend/core-dapp/src/components/charts/ChartSeries.tsx
  apps/frontend/core-dapp/src/components/charts/FloatingCard.tsx
  apps/frontend/core-dapp/src/components/charts/chart-types/series.types.ts
  apps/frontend/core-dapp/src/features/market-overview/MarketChart.tsx
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/market-chart/Chart.tsx
  apps/frontend/core-dapp/src/features/trade/market-chart/Stats.tsx
  apps/frontend/core-dapp/src/features/trade/market-chart/Timeframe.tsx
  apps/frontend/core-dapp/src/features/trade/market-chart/index.tsx
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/entities/MarketEntity.ts
  apps/frontend/core-dapp/src/types/market.types.ts
  apps/frontend/core-dapp/src/utils/date-utils.ts
  packages/prepo-ui/src/components/Icon/icon-components/application/TradingLiquidity.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/TradingVolume.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/index.tsx
  packages/prepo-ui/src/styled.d.ts
  packages/prepo-ui/src/themes/core-dapp/common.ts
Labels: core-dapp, deployed, frontend, size/XL

#694 chore: updated TypeChain packages, made core type directory consistent with others
  .gitignore
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/test/AllowedCollateralCaller.test.ts
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/DepositRecord.test.ts
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/LongShortToken.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/MintHook.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/RedeemHook.test.ts
  apps/smart-contracts/core/test/TokenSender.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/events.ts
  apps/smart-contracts/core/test/fixtures/AllowedCollateralCallerFixture.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/fixtures/DepositRecordFixture.ts
  apps/smart-contracts/core/test/fixtures/DepositTradeHelperFixture.ts
  apps/smart-contracts/core/test/fixtures/ERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/fixtures/LongShortTokenFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
  apps/smart-contracts/core/test/fixtures/TestERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/TestERC721Fixture.ts
  apps/smart-contracts/core/test/fixtures/TestUintValueFixture.ts
  apps/smart-contracts/core/test/fixtures/TokenSenderFixture.ts
  apps/smart-contracts/core/test/harness/core.ts
  apps/smart-contracts/core/test/utils.ts
  apps/smart-contracts/token/package.json
  package.json
  packages/prepo-shared-contracts/package.json
  packages/prepo-shared-contracts/test/SafeAccessControlEnumerable.test.ts
  packages/prepo-shared-contracts/test/SafeAccessControlEnumerableUpgradeable.test.ts
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/L, token

#692 chore: core: LongShortToken using ILongShortToken
  apps/smart-contracts/core/contracts/LongShortToken.sol
Labels: core-dapp, smart-contracts, size/S

#691 refactor: core: Extracting DepositRecordCaller to implementation module
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/DepositRecordCaller.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositHook.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositRecordCaller.sol
  apps/smart-contracts/core/contracts/interfaces/IManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/DepositRecordCaller.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/DepositRecordCallerFixture.ts
Labels: core-dapp, smart-contracts, size/L

#700 refactor: core: Remove RevertReason function
  apps/smart-contracts/core/test/LongShortToken.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: core-dapp, smart-contracts, size/M

#701 refactor: core: Hooks taking user param rather than sender
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/DepositRecord.sol
  apps/smart-contracts/core/contracts/MintHook.sol
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
Labels: core-dapp, smart-contracts, size/M

#674 refactor: core: Convert tests to use snapshots (part 1)
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/snapshots.ts
Labels: core-dapp, smart-contracts, size/L

#705 feat: remove docs footer
  apps/frontend/docs/docusaurus.config.js
Labels: docs, deployed, frontend, size/M

#704 feat: setup structure for general docs w new sidebar
  apps/frontend/docs/docs/community/earn-soulbound-nfts.md
  apps/frontend/docs/docs/community/guild.md
  apps/frontend/docs/docs/community/preacher-program.md
  apps/frontend/docs/docs/community/prepo-universe.md
  apps/frontend/docs/docs/investors.md
  apps/frontend/docs/docs/involve.md
  apps/frontend/docs/docs/official-links.md
  apps/frontend/docs/docs/overview.md
  apps/frontend/docs/docs/partners.md
  apps/frontend/docs/docs/platform/faq.md
  apps/frontend/docs/docs/platform/markets.md
  apps/frontend/docs/docs/platform/roadmap.md
  apps/frontend/docs/docs/platform/testnet.md
  apps/frontend/docs/docs/ppo/faq.md
  apps/frontend/docs/docs/ppo/index.md
  apps/frontend/docs/docs/ppo/roadmap.md
  apps/frontend/docs/docs/ppo/staking.md
  apps/frontend/docs/docs/ppo/tokenomics.md
  apps/frontend/docs/docs/use-cases.md
  apps/frontend/docs/docusaurus.config.js
  apps/frontend/docs/sidebars/general.js
  apps/frontend/docs/sidebars/index.js
  apps/frontend/docs/src/css/custom.css
Labels: docs, deployed, frontend, size/L

#711 feat: investors page
  apps/frontend/docs/docs/investors.md
  apps/frontend/docs/docusaurus.config.js
  apps/frontend/docs/sidebars/general.js
  apps/frontend/docs/sidebars/home.js
  apps/frontend/docs/src/components/Investor.tsx
  apps/frontend/docs/src/css/custom.css
  apps/frontend/docs/src/lib/investors.js
Labels: docs, deployed, frontend, size/L

#712 fix: remove edit this page link
  apps/frontend/docs/docusaurus.config.js
Labels: docs, deployed, frontend, size/XS

#710 feat: docs header social links
  apps/frontend/docs/docusaurus.config.js
  apps/frontend/docs/src/css/custom.css
Labels: docs, deployed, frontend, size/M

#714 fix: increase sidebar width
  apps/frontend/docs/src/css/custom.css
Labels: docs, deployed, frontend, size/XS

#699 refactor: using properly typed mocks and fakes
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/MintHook.test.ts
  apps/smart-contracts/core/test/TokenSender.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/fixtures/DepositRecordFixture.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/fixtures/TestERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/TokenSenderFixture.ts
  apps/smart-contracts/core/test/harness/core.ts
  apps/smart-contracts/core/test/utils.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: core-dapp, smart-contracts, size/L

#703 refactor: core: Simplifying role constants
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/DepositRecord.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/DepositRecord.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/TokenSender.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/L

#702 refactor: core: Removing constructor params from DepositRecord
  apps/smart-contracts/core/contracts/DepositRecord.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/DepositRecord.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/DepositRecordFixture.ts
Labels: core-dapp, smart-contracts, size/M

#719 fix: banner background and text color
  apps/frontend/docs/docusaurus.config.js
Labels: docs, deployed, frontend, size/XS

#717 feat: add ppo subpages
  apps/frontend/docs/docs/ppo/bonding.md
  apps/frontend/docs/docs/ppo/community-participation.md
  apps/frontend/docs/docs/ppo/fee-rebates.md
  apps/frontend/docs/docs/ppo/public-sale.md
  apps/frontend/docs/sidebars/general.js
  apps/frontend/docs/src/css/custom.css
Labels: docs, deployed, frontend, size/M

#716 feat: official links
  apps/frontend/docs/docs/official-links.md
  apps/frontend/docs/sidebars/general.js
  apps/frontend/docs/sidebars/home.js
  apps/frontend/docs/src/components/official-links/OfficialLinks.module.css
  apps/frontend/docs/src/components/official-links/index.tsx
  apps/frontend/docs/src/components/official-links/links.ts
Labels: docs, deployed, frontend, size/L

#722 fix: instant hover effect on links
  apps/frontend/docs/src/css/custom.css
Labels: docs, deployed, frontend, size/XS

#709 chore: upgrade hardhat and smock due to coverage testing bug and forked testing bug
  apps/smart-contracts/core/.solcover.js
  package.json
  packages/prepo-shared-contracts/.solcover.js
  yarn.lock
Labels: non-app, size/XS

#695 refactor: introduce base class for shared harnesses
  apps/smart-contracts/core/harnesses/PrePO.ts
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/helpers/events.ts
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/events.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/fixtures/LongShortTokenFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
  apps/smart-contracts/core/test/harness/PrePO.ts
  apps/smart-contracts/core/test/harness/core.ts
  apps/smart-contracts/core/test/harness/helpers.ts
  apps/smart-contracts/core/tsconfig.json
  apps/smart-contracts/core/types/harnesses.ts
  apps/smart-contracts/core/types/index.ts
  apps/smart-contracts/core/types/markets.ts
Labels: core-dapp, smart-contracts, size/XXL

#713 feat: partners page
  apps/frontend/docs/.eslintrc.js
  apps/frontend/docs/docs/partners.md
  apps/frontend/docs/sidebars/general.js
  apps/frontend/docs/sidebars/home.js
  apps/frontend/docs/src/components/partners/index.tsx
  apps/frontend/docs/src/components/partners/partner.module.css
  apps/frontend/docs/src/components/partners/partners.ts
  apps/frontend/docs/static/img/partners/Arbitrum.png
  apps/frontend/docs/static/img/partners/BondProtocol.png
  apps/frontend/docs/static/img/partners/CryptoTesters.png
  apps/frontend/docs/static/img/partners/Galxe.png
  apps/frontend/docs/static/img/partners/Guild.png
  apps/frontend/docs/static/img/partners/OneZeroOne.png
  apps/frontend/docs/static/img/partners/Safe.png
  apps/frontend/docs/static/img/partners/Snapshot.png
  apps/frontend/docs/static/img/partners/TipCC.png
  apps/frontend/docs/static/img/partners/Uniswap.png
  apps/frontend/docs/tsconfig.json
Labels: docs, deployed, frontend, size/L

#723 feat: add ArbitrageBroker interface
  apps/smart-contracts/core/contracts/ArbitrageBroker.sol
  apps/smart-contracts/core/contracts/interfaces/IArbitrageBroker.sol
  apps/smart-contracts/core/test/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/fixtures/ArbitrageBrokerFixture.ts
Labels: core-dapp, smart-contracts, size/L

#721 feat: increase page width
  apps/frontend/docs/src/css/custom.css
Labels: docs, deployed, frontend, size/S

#728 feat: general > security empty pages
  apps/frontend/docs/docs/security/audits.md
  apps/frontend/docs/docs/security/bug-bounties.md
  apps/frontend/docs/docs/security/risks.md
  apps/frontend/docs/sidebars/general.js
Labels: docs, deployed, frontend, size/S

#729 feat: technical sidebar with empty pages
  apps/frontend/docs/docs/technical/frontend/decentralized-frontend.md
  apps/frontend/docs/docs/technical/frontend/faq.md
  apps/frontend/docs/docs/technical/frontend/integrations.md
  apps/frontend/docs/docs/technical/frontend/integrations/ens.md
  apps/frontend/docs/docs/technical/frontend/integrations/fiat-on-off-ramps.md
  apps/frontend/docs/docs/technical/frontend/integrations/magic-link.md
  apps/frontend/docs/docs/technical/frontend/integrations/space-id.md
  apps/frontend/docs/docs/technical/frontend/subgraphs.md
  apps/frontend/docs/docs/technical/frontend/tech-stack.md
  apps/frontend/docs/docs/technical/frontend/url-parameters.md
  apps/frontend/docs/docs/technical/protocol/arbitrage-bot.md
  apps/frontend/docs/docs/technical/protocol/faq.md
  apps/frontend/docs/docs/technical/protocol/formulas.md
  apps/frontend/docs/docs/technical/protocol/glossary.md
  apps/frontend/docs/docs/technical/protocol/liquidity-strategy.md
  apps/frontend/docs/docs/technical/protocol/market-parameters.md
  apps/frontend/docs/docs/technical/protocol/protocol-owned-liquidity.md
  apps/frontend/docs/docs/technical/protocol/roadmap.md
  apps/frontend/docs/docs/technical/smart-contracts/architecture.md
  apps/frontend/docs/docs/technical/smart-contracts/architecture/diagram.md
  apps/frontend/docs/docs/technical/smart-contracts/architecture/features.md
  apps/frontend/docs/docs/technical/smart-contracts/architecture/three-layers.md
  apps/frontend/docs/docs/technical/smart-contracts/faq.md
  apps/frontend/docs/docs/technical/smart-contracts/style-guide.md
  apps/frontend/docs/docs/technical/smart-contracts/tech-stack.md
  apps/frontend/docs/docs/technical/smart-contracts/testing.md
  apps/frontend/docs/sidebars/index.js
  apps/frontend/docs/sidebars/technical.js
Labels: docs, deployed, frontend, size/L

#730 feat: governance sidebar pages
  apps/frontend/docs/docs/governance/actions/delegation.md
  apps/frontend/docs/docs/governance/actions/elections.md
  apps/frontend/docs/docs/governance/actions/proposals.md
  apps/frontend/docs/docs/governance/actions/referendums.md
  apps/frontend/docs/docs/governance/actions/voting.md
  apps/frontend/docs/docs/governance/further-reading/external-resources.md
  apps/frontend/docs/docs/governance/further-reading/multisig-addresses.md
  apps/frontend/docs/docs/governance/further-reading/protections/attack-mitigation.md
  apps/frontend/docs/docs/governance/further-reading/protections/automation.md
  apps/frontend/docs/docs/governance/further-reading/protections/liability.md
  apps/frontend/docs/docs/governance/further-reading/roadmap.md
  apps/frontend/docs/docs/governance/further-reading/token-transferability.md
  apps/frontend/docs/docs/governance/further-reading/treasury-management.md
  apps/frontend/docs/docs/governance/overview/constitution.md
  apps/frontend/docs/docs/governance/overview/get-involved.md
  apps/frontend/docs/docs/governance/overview/glossary.md
  apps/frontend/docs/docs/governance/overview/structure.md
  apps/frontend/docs/docs/governance/overview/voting-power.md
  apps/frontend/docs/docs/governance/standard-processes/charity.md
  apps/frontend/docs/docs/governance/standard-processes/code-execution.md
  apps/frontend/docs/docs/governance/standard-processes/collateral-yield-strategies.md
  apps/frontend/docs/docs/governance/standard-processes/fee-distribution.md
  apps/frontend/docs/docs/governance/standard-processes/fee-parameters.md
  apps/frontend/docs/docs/governance/standard-processes/grants.md
  apps/frontend/docs/docs/governance/standard-processes/liquidity-redirection.md
  apps/frontend/docs/docs/governance/standard-processes/market-listing.md
  apps/frontend/docs/docs/governance/standard-processes/market-migration.md
  apps/frontend/docs/docs/governance/standard-processes/market-resolution.md
  apps/frontend/docs/sidebars/governance.js
  apps/frontend/docs/sidebars/index.js
Labels: docs, deployed, frontend, size/L

#698 feat: trade page settings
  apps/frontend/core-dapp/src/components/PageTabs.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpCard.tsx
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/TradePageTab.tsx
  apps/frontend/core-dapp/src/features/trade/TradeSettings.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  packages/prepo-ui/src/components/Icon/icon-components/application/SettingsIcon.tsx
  packages/prepo-ui/src/components/Switch/Switch.tsx
Labels: core-dapp, deployed, frontend, size/L

#732 feat: dark theme colors
  apps/frontend/docs/docusaurus.config.js
  apps/frontend/docs/src/css/custom.css
Labels: docs, deployed, frontend, size/M

#720 feat: docs home page
  apps/frontend/docs/src/pages/general.tsx
  apps/frontend/docs/src/pages/homepage.tsx
  apps/frontend/docs/src/pages/index.module.css
  apps/frontend/docs/src/pages/new-governance.tsx
  apps/frontend/docs/src/pages/technical.tsx
Labels: docs, deployed, frontend, size/L

#735 fix: wrap dash with the structure
  apps/frontend/docs/src/pages/homepage.tsx
Labels: docs, deployed, frontend, size/XS

#731 feat: add swap and profit logic to mintAndSell
  apps/smart-contracts/core/contracts/ArbitrageBroker.sol
  apps/smart-contracts/core/contracts/interfaces/IArbitrageBroker.sol
  apps/smart-contracts/core/test/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/fixtures/LongShortTokenFixture.ts
Labels: core-dapp, smart-contracts, size/L

#737 core:fix: remove init args from DepositRecord
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/test/ArbitrageTrading.test.ts
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/fixtures/AllowedCollateralCallerFixture.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/fixtures/DepositRecordFixture.ts
  apps/smart-contracts/core/test/fixtures/ERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/fixtures/LongShortTokenFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
  apps/smart-contracts/core/test/fixtures/TestERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/TestERC721Fixture.ts
  apps/smart-contracts/core/test/fixtures/TestUintValueFixture.ts
  apps/smart-contracts/core/test/fixtures/TokenSenderFixture.ts
  apps/smart-contracts/core/test/fixtures/UniswapFixtures.ts
  packages/prepo-constants/src/addresses.ts
  packages/prepo-constants/src/general-constants.ts
Labels: core-dapp, smart-contracts, size/S

#736 core:feat: move mintAndSell approvals to setMarketValidity to save gas
  apps/smart-contracts/core/contracts/ArbitrageBroker.sol
  apps/smart-contracts/core/test/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/ArbitrageTrading.test.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
Labels: core-dapp, smart-contracts, size/L
