Repository prepo-io/prepo-monorepo, pull requests merged in 2022-07, with the labels that each got.

#196 docs: update roadmap in docs
  apps/frontend/docs/docs/roadmap.md
Labels: docs, deployed, frontend, size/M

#195 docs: update roadmap on website
  apps/frontend/website/src/components/layout/RoadmapSection.tsx
Labels: deployed, frontend, website, size/M

#197 fix: import from constants instead of package
  apps/subgraphs/core-dapp/src/utils/transactions.ts
Labels: core-dapp, frontend, size/XS

#198 chore: update Discord links in docs
  apps/frontend/docs/docs/get-involved.md
  apps/frontend/docs/docs/governance/glossary.md
  apps/frontend/docs/docs/intro.md
  apps/frontend/docs/docusaurus.config.js
Labels: docs, deployed, frontend, size/XS

#157 feat: update onboard to v2, removed v1
  apps/frontend/core-dapp/jest.config.ts
  apps/frontend/core-dapp/package.json
  apps/frontend/react-boilerplate/package.json
  package.json
  packages/prepo-stores/package.json
  packages/prepo-stores/src/Web3Store.ts
  packages/prepo-stores/src/utils/onboard-config.ts
  packages/prepo-stores/src/utils/stores-config-utils.ts
  packages/prepo-stores/src/utils/stores.types.ts
  packages/prepo-ui/package.json
  packages/prepo-utils/__tests__/utils.test.ts
  packages/prepo-utils/package.json
  packages/prepo-utils/src/chainIdToHexString.ts
  packages/prepo-utils/src/getOnboardConfig.ts
  packages/prepo-utils/src/index.ts
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, boilerplate, size/L

#162 feat: ens name in wallet
  apps/frontend/core-dapp/src/features/connect/ConnectButton.tsx
  apps/frontend/core-dapp/src/features/connect/Identicon.tsx
  packages/prepo-stores/src/Web3Store.ts
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, size/M

#201 feat: partners logo
  apps/frontend/website/src/components/icons/index.ts
  apps/frontend/website/src/components/icons/partners/Alchemix.tsx
  apps/frontend/website/src/components/icons/partners/investors/BarnBridge.tsx
  apps/frontend/website/src/components/icons/partners/investors/BetaShare.tsx
  apps/frontend/website/src/components/icons/partners/investors/ChargedParticles.tsx
  apps/frontend/website/src/components/icons/partners/investors/Dapp.tsx
  apps/frontend/website/src/components/icons/partners/investors/Debridge.tsx
  apps/frontend/website/src/components/icons/partners/investors/Dialetic.tsx
  apps/frontend/website/src/components/icons/partners/investors/Enso.tsx
  apps/frontend/website/src/components/icons/partners/investors/Ethereum.tsx
  apps/frontend/website/src/components/icons/partners/investors/Fleek.tsx
  apps/frontend/website/src/components/icons/partners/investors/Gelato.tsx
  apps/frontend/website/src/components/icons/partners/investors/Gnosis.tsx
  apps/frontend/website/src/components/icons/partners/investors/GnosisGuild.tsx
  apps/frontend/website/src/components/icons/partners/investors/HorizonsLaw.tsx
  apps/frontend/website/src/components/icons/partners/investors/Immunefi.tsx
  apps/frontend/website/src/components/icons/partners/investors/Microsoft.tsx
  apps/frontend/website/src/components/icons/partners/investors/Moonbeam.tsx
  apps/frontend/website/src/components/icons/partners/investors/NFTX.tsx
  apps/frontend/website/src/components/icons/partners/investors/Nonce.tsx
  apps/frontend/website/src/components/icons/partners/investors/Octav.tsx
  apps/frontend/website/src/components/icons/partners/investors/OneInch.tsx
  apps/frontend/website/src/components/icons/partners/investors/Solv.tsx
  apps/frontend/website/src/components/icons/partners/investors/SudoSwap.tsx
  apps/frontend/website/src/components/icons/partners/investors/ThalesMarket.tsx
  apps/frontend/website/src/components/icons/partners/investors/ToastEth.tsx
  apps/frontend/website/src/components/icons/partners/investors/Zapper.tsx
  apps/frontend/website/src/components/icons/partners/investors/Zepeto.tsx
  apps/frontend/website/src/components/icons/partners/investors/Zeta.tsx
  apps/frontend/website/src/components/icons/partners/investors/index.ts
  apps/frontend/website/src/lib/partners.ts
Labels: deployed, frontend, website, size/XXL

#176 feat: move smart contracts token utils
  apps/smart-contracts/core/test/AccountAccessController.test.ts
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/CollateralDepositRecord.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/LongShortToken.test.ts
  apps/smart-contracts/core/test/MockBaseToken.test.ts
  apps/smart-contracts/core/test/MockStrategy.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/SingleStrategyController.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/utils.ts
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/test/IOUPPO.test.ts
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/PurchaseHook.test.ts
  apps/smart-contracts/token/test/StakingRewardsDistribution.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
  apps/smart-contracts/token/tsconfig.json
  apps/smart-contracts/token/utils/index.ts
  packages/prepo-hardhat/package.json
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/L, token

#199 feat: frontend transaction history
  apps/frontend/core-dapp/src/features/history/History.tsx
  apps/frontend/core-dapp/src/features/history/history-utils.ts
  apps/frontend/core-dapp/src/features/history/history.types.ts
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/features/portfolio/Record.tsx
  apps/frontend/core-dapp/src/features/position/Positions.tsx
  apps/frontend/core-dapp/src/graphql/core-dapp.graphql
  apps/frontend/core-dapp/src/lib/markets-tokens-contracts.ts
  apps/frontend/core-dapp/src/stores/graphs/CoreGraphStore.ts
  apps/frontend/core-dapp/src/stores/graphs/queries/core.queries.ts
  packages/prepo-constants/src/graphs.ts
Labels: core-dapp, deployed, frontend, size/XXL

#180 feat: adding ERC1155Hook in PurchaseHook
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/test/PurchaseHook.test.ts
  apps/smart-contracts/token/utils/index.ts
Labels: smart-contracts, size/L, token

#181 feat: adding erc20 transfer and tests for balance in purchase for Tok…
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, size/L, token

#210 Removing PPO and IOUPPO
  apps/smart-contracts/token/contracts/IOUPPO.sol
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/IOUPPO.test.ts
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/fixtures/IOUPPOFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOFixture.ts
Labels: smart-contracts, size/XL, token

#205 feat: adding interfaces for PPO and TransferHook
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/contracts/interfaces/ITransferHook.sol
Labels: smart-contracts, size/S, token

#206 feat: adding interface for allow list for ppo contract
  apps/smart-contracts/token/contracts/interfaces/IAllowList.sol
Labels: smart-contracts, size/S, token

#207 feat: adding interface for block list for ppo contract
  apps/smart-contracts/token/contracts/interfaces/IBlockList.sol
Labels: smart-contracts, size/XS, token

#211 fix: make SafeOwnableUpgradeable abstract to conform to upgradeable contract convention
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/mock/DeployableSafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/fixtures/DeployableSafeOwnableUpgradeableFixture.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableUpgradeableFixture.ts
Labels: size/M

#189 feat: switch token contracts to SafeOwnable
  apps/smart-contracts/token/contracts/PregenPass.sol
  apps/smart-contracts/token/contracts/PregenesisPoints.sol
  apps/smart-contracts/token/contracts/PurchaseHook.sol
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/ppostaking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/contracts/ppostaking/rewards/staking/StakingRewardsDistribution.sol
  apps/smart-contracts/token/contracts/ppostaking/shared/ERC1155Mintable.sol
  apps/smart-contracts/token/contracts/ppostaking/shared/ERC721Mintable.sol
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/PurchaseHook.test.ts
  apps/smart-contracts/token/test/StakingRewardsDistribution.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
Labels: smart-contracts, size/L, token

#213 feat: initialized ppo and added method to set transfer hook
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/fixtures/PPOFixtures.ts
Labels: smart-contracts, size/L, token

#214 feat: added mint functionality to PPO with relevant tests
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, size/L, token

#216 feat: adding relevant files for block list
  apps/smart-contracts/token/contracts/Blocklist.sol
  apps/smart-contracts/token/contracts/interfaces/IAllowlist.sol
  apps/smart-contracts/token/contracts/interfaces/IBlocklist.sol
  apps/smart-contracts/token/test/Blocklist.test.ts
  apps/smart-contracts/token/test/fixtures/BlocklistFixtures.ts
Labels: smart-contracts, size/S, token

#215 feat: added burn and burnFrom methods in PPO
  apps/smart-contracts/token/contracts/Blocklist.sol
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, size/L, token

#217 feat: initialized blocklist and base state
  apps/smart-contracts/token/contracts/Blocklist.sol
  apps/smart-contracts/token/contracts/interfaces/IBlocklist.sol
  apps/smart-contracts/token/test/Blocklist.test.ts
Labels: smart-contracts, size/M, token

#224 feat: add IAccountList
  apps/smart-contracts/token/contracts/interfaces/IAccountList.sol
Labels: smart-contracts, size/S, token

#223 chore: remove allowlist and blocklist
  apps/smart-contracts/token/contracts/Blocklist.sol
  apps/smart-contracts/token/contracts/interfaces/IAccountList.sol
  apps/smart-contracts/token/contracts/interfaces/IAllowlist.sol
  apps/smart-contracts/token/contracts/interfaces/IBlocklist.sol
  apps/smart-contracts/token/test/Blocklist.test.ts
  apps/smart-contracts/token/test/fixtures/BlocklistFixtures.ts
Labels: smart-contracts, size/L, token

#226 feat: added set and reset implementations
  apps/smart-contracts/token/contracts/AccountList.sol
  apps/smart-contracts/token/test/AccountList.test.ts
Labels: smart-contracts, size/L, token

#228 feat: adding logic for restricted transfer hook
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, size/L, token

#230 feat: adding unrestricted transfer hook logic
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
Labels: smart-contracts, size/M, token

#229 feat: adding files for unrestricted transfer hook and initializing
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/fixtures/TransferHookFixtures.ts
Labels: smart-contracts, size/L, token

#202 feat: changes for deployment of PrePOMarketFactory on polygon
  apps/smart-contracts/core/.env.example
  apps/smart-contracts/core/README.md
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/tsconfig.json
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  package.json
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  packages/tsconfig/package.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, deployed, frontend, size/M, token

#235 fix: correct parameter names for RestrictedTransferHook
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
Labels: smart-contracts, size/S, token

#236 feat: add arbitrum networks, rationalize names for relevant networks
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/token/hardhat.config.ts
  packages/prepo-constants/src/networks.ts
  packages/prepo-hardhat/src/generateHardhatConfig.ts
  packages/prepo-hardhat/src/generateHardhatLocalConfig.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/M, token

#237 feat: changed inheritance order of transfer hooks
  apps/smart-contracts/token/contracts/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/RestrictedTransferHook.sol
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, size/L, token

#243 fix: remove ar from website
  apps/frontend/website/src/components/layout/Footer.tsx
  apps/frontend/website/src/lib/partners.ts
Labels: deployed, frontend, website, size/M

#240 fix: prevent confusion with hardhat local node and ganache local node
  packages/prepo-constants/src/networks.ts
Labels: deployed, frontend, size/S

#244 feat: switching to shared pausable contract
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/IVesting.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
Labels: smart-contracts, size/L, token

#242 feat: adding shared Pausable with setters
  apps/smart-contracts/token/contracts/TokenShop.sol
  apps/smart-contracts/token/contracts/Vesting.sol
  apps/smart-contracts/token/contracts/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/interfaces/IVesting.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  packages/prepo-shared-contracts/contracts/Pausable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IPausable.sol
  packages/prepo-shared-contracts/contracts/mock/PausableWrapper.sol
  packages/prepo-shared-contracts/test/Pausable.test.ts
  packages/prepo-shared-contracts/test/fixtures/PausableWrapperFixture.ts
Labels: smart-contracts, size/L, token

#200 feat: clean up
  apps/frontend/core-dapp/src/__mocks__/currency.mock.ts
  apps/frontend/core-dapp/src/__mocks__/historyItems.mock.ts
  apps/frontend/core-dapp/src/features/history/HistoryEvent.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemDesktop.tsx
  apps/frontend/core-dapp/src/features/history/HistoryItemMobile.tsx
  apps/frontend/core-dapp/src/features/history/history-utils.ts
  apps/frontend/core-dapp/src/features/history/history.types.ts
  apps/frontend/core-dapp/src/features/position/PositionItem.tsx
Labels: core-dapp, deployed, frontend, size/XL

#60 feat: add localization support to boilerplate
  apps/frontend/react-boilerplate/.babelrc
  apps/frontend/react-boilerplate/lingui.config.js
  apps/frontend/react-boilerplate/next.config.js
  apps/frontend/react-boilerplate/package.json
  apps/frontend/react-boilerplate/src/features/connect/ConnectButton.tsx
  apps/frontend/react-boilerplate/src/locale/en/messages.js
  apps/frontend/react-boilerplate/src/locale/en/messages.po
  apps/frontend/react-boilerplate/src/locale/es/messages.js
  apps/frontend/react-boilerplate/src/locale/es/messages.po
  apps/frontend/react-boilerplate/src/pages/_app.tsx
  packages/config/eslint-common.js
  packages/prepo-constants/src/general-constants.ts
  yarn.lock
Labels: non-app, deployed, frontend, boilerplate, size/L

#245 feat: add hardhat-defender package and make hardhat-upgrades global
  apps/frontend/react-boilerplate/package.json
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/package.json
  package.json
  packages/prepo-constants/src/addresses.ts
  packages/prepo-constants/src/index.ts
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, deployed, frontend, boilerplate, size/M, token

#247 feat: added PPO deployment script
  apps/smart-contracts/core/deploy/AccountAccessController.ts
  apps/smart-contracts/core/deploy/Collateral.ts
  apps/smart-contracts/core/deploy/CollateralDepositRecord.ts
  apps/smart-contracts/core/deploy/DepositHook.ts
  apps/smart-contracts/core/deploy/MockBaseToken.ts
  apps/smart-contracts/core/deploy/MockStrategy.ts
  apps/smart-contracts/core/deploy/PrePOMarketFactory.ts
  apps/smart-contracts/core/deploy/SingleStrategyController.ts
  apps/smart-contracts/core/deploy/WithdrawHook.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/tsconfig.json
  apps/smart-contracts/token/deploy/PPO.ts
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/tsconfig.json
Labels: core-dapp, smart-contracts, deployed, size/L, token

#203 feat: bumped antd version, fixed depricated parts
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/components/Filter/MarketDropdown.tsx
  apps/frontend/core-dapp/src/components/MarketDropdown.tsx
  apps/frontend/core-dapp/src/components/Menu.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/MultiCurrencySelect.tsx
  apps/frontend/core-dapp/src/components/NetworkDropdown.tsx
  apps/frontend/core-dapp/src/components/PpoDropdown.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketChart.tsx
  apps/frontend/core-dapp/src/features/withdraw/CurrencyDropdown.tsx
  apps/frontend/react-boilerplate/package.json
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, boilerplate, size/L

#248 feat: adding modification of beforeTokenTransfer
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, size/L, token

#256 feat: added natspec docs for IPPO and IAccountList
  apps/smart-contracts/token/contracts/AccountList.sol
  apps/smart-contracts/token/contracts/interfaces/IAccountList.sol
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
Labels: smart-contracts, size/M, token

#257 feat: added natspec copy for TransferHook family of contracts
  apps/smart-contracts/token/contracts/interfaces/IBlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/interfaces/IRestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/interfaces/ITransferHook.sol
Labels: smart-contracts, size/M, token

#258 chore: remove index from AccountList
  apps/smart-contracts/token/contracts/AccountList.sol
  apps/smart-contracts/token/contracts/interfaces/IAccountList.sol
Labels: smart-contracts, size/XS, token

#259 feat: re-add ERC20Permit to PPO contract
  apps/smart-contracts/token/contracts/PPO.sol
  apps/smart-contracts/token/contracts/interfaces/IPPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/utils/index.ts
Labels: smart-contracts, size/M, token
