Repository prepo-io/prepo-monorepo, pull requests merged in 2022-10, with the labels that each got.

#423 chore: update core dapp testnet form copy
  apps/frontend/core-dapp/src/features/testnet-onboarding/TokenSaleWhitelistBanner.tsx
Labels: core-dapp, deployed, frontend, size/XS

#425 chore: update deposit page testnet funds copy
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
Labels: core-dapp, deployed, frontend, size/XS

#420 feat: add mini sales balance monitoring tool
  apps/smart-contracts/token/tasks/token/general.ts
Labels: smart-contracts, size/S, token

#426 feat: support coinbase and wallet connect by default
  apps/frontend/core-dapp/src/locale/en/messages.js
  apps/frontend/core-dapp/src/locale/en/messages.po
  apps/frontend/core-dapp/src/locale/ru/messages.js
  apps/frontend/core-dapp/src/locale/ru/messages.po
  apps/frontend/core-dapp/src/stores/utils/stores-config.ts
  packages/prepo-stores/package.json
  packages/prepo-stores/src/utils/onboard-config.ts
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, size/M

#389 feat: translated PPO features
  apps/frontend/core-dapp/src/features/ppo/ButtonLink.tsx
  apps/frontend/core-dapp/src/features/ppo/buy/BuyPage.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/FromDelegators.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/FromPower.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/GovernPage.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/Participate.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/TotalVotingPower.tsx
  apps/frontend/core-dapp/src/features/ppo/history/PpoHistoryActionBar.tsx
  apps/frontend/core-dapp/src/features/ppo/history/PpoHistoryItemDesktop.tsx
  apps/frontend/core-dapp/src/features/ppo/history/PpoHistoryItems.tsx
  apps/frontend/core-dapp/src/features/ppo/history/PpoHistoryPage.tsx
  apps/frontend/core-dapp/src/features/ppo/overview/OverviewPage.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakeDelegate.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakePage.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakeTitle.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakeUnstakeNavigationButtons.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakeWarningMessages.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeButtons.tsx
  apps/frontend/core-dapp/src/locale/en/messages.js
  apps/frontend/core-dapp/src/locale/en/messages.po
  apps/frontend/core-dapp/src/locale/ru/messages.js
  apps/frontend/core-dapp/src/locale/ru/messages.po
Labels: core-dapp, deployed, frontend, size/XL

#419 feat: update config for vercel
  .github/workflows/deploy-production-apps.yml
  apps/frontend/core-dapp/vercel.json
  apps/frontend/docs/vercel.json
  apps/frontend/react-boilerplate/vercel.json
  apps/frontend/simulator/vercel.json
  apps/frontend/website/vercel.json
Labels: docs, core-dapp, deployed, frontend, boilerplate, simulator, website, size/L

#427 chore: remove collateral contract and related tests/methods
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/mocks/TestCollateral.sol
  apps/smart-contracts/core/deploy/Collateral.ts
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/harnesses/PrePO.ts
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/events.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/harness/PrePO.ts
Labels: core-dapp, smart-contracts, size/XXL

#428 chore: removing unnecessary contracts related to strategy
  apps/smart-contracts/core/contracts/SingleStrategyController.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IStrategy.sol
  apps/smart-contracts/core/contracts/interfaces/IStrategyController.sol
  apps/smart-contracts/core/contracts/mocks/MockStrategy.sol
  apps/smart-contracts/core/deploy/SingleStrategyController.ts
  apps/smart-contracts/core/test/MockStrategy.test.ts
  apps/smart-contracts/core/test/SingleStrategyController.test.ts
  apps/smart-contracts/core/test/events.ts
  apps/smart-contracts/core/test/fixtures/MockStrategyFixture.ts
  apps/smart-contracts/core/test/fixtures/SingleStrategyControllerFixture.ts
Labels: core-dapp, smart-contracts, deployed, size/XXL

#431 feat: remove tx type
  packages/prepo-stores/src/ContractStore.ts
Labels: deployed, frontend, size/XS

#436 feat: update newletter component and footer menu
  apps/frontend/website/src/components/hero/Hero.tsx
  apps/frontend/website/src/components/layout/CommunitySection.tsx
  apps/frontend/website/src/components/layout/Footer.tsx
  apps/frontend/website/src/components/layout/Header.tsx
Labels: deployed, frontend, website, size/M

#433 feat: added button and account modal
  apps/frontend/core-dapp/src/features/connect/AccountModal.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/CopyIcon.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/index.tsx
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, size/L

#439 feat: consistent links on website with ROUTES enum
  apps/frontend/website/src/components/hero/Hero.tsx
  apps/frontend/website/src/components/layout/Footer.tsx
  apps/frontend/website/src/lib/constants.ts
Labels: deployed, frontend, website, size/S

#441 feat: public sale subgraph
  apps/subgraphs/public-sale/.eslintignore
  apps/subgraphs/public-sale/.eslintrc.js
  apps/subgraphs/public-sale/README.md
  apps/subgraphs/public-sale/abis/MiniSales.json
  apps/subgraphs/public-sale/package.json
  apps/subgraphs/public-sale/schema.graphql
  apps/subgraphs/public-sale/src/mappings/purchase.ts
  apps/subgraphs/public-sale/src/utils/constants.ts
  apps/subgraphs/public-sale/subgraph.yaml
  apps/subgraphs/public-sale/tsconfig.json
  apps/subgraphs/public-sale/yarn.lock
Labels: frontend, size/XXL

#440 Feat/buy ppo website
  apps/frontend/website/src/components/Button.tsx
  apps/frontend/website/src/components/hero/Hero.tsx
  apps/frontend/website/src/components/icons/PPOGraphic.tsx
  apps/frontend/website/src/components/icons/ShareIcon.tsx
  apps/frontend/website/src/components/icons/index.ts
  apps/frontend/website/src/components/layout/Header.tsx
Labels: deployed, frontend, website, size/M

#442 feat: website banner
  apps/frontend/website/src/components/layout/Banner.tsx
  apps/frontend/website/src/components/layout/Header.tsx
  apps/frontend/website/src/lib/constants.ts
Labels: deployed, frontend, website, size/XS

#443 docs: update public sale / token / governance FAQ
  apps/frontend/docs/docs/faq.md
Labels: docs, deployed, frontend, size/L

#444 feat: show join public sale link on website banner
  apps/frontend/website/src/components/layout/Banner.tsx
Labels: deployed, frontend, website, size/XS

#437 feat: adding functionality to support splitting of whitelisting in groups
  apps/smart-contracts/token/tasks/token/general.ts
Labels: smart-contracts, size/M, token

#429 chore: remove old MiniSales_A deployment
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSalesFlag.json
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSales_A.json
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSales_Permissioned-AllowlistPurchaseHook-Allowlist.json
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSales_Permissioned-AllowlistPurchaseHook.json
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSales_Public.json
  apps/smart-contracts/token/deployments/arbitrumOne/solcInputs/dfc4a7f9932e3f48d1d20a196ced614e.json
  packages/prepo-constants/src/deployments.ts
Labels: smart-contracts, deployed, frontend, size/XXL, token

#435 Feat/portfolio filter
  apps/frontend/core-dapp/src/components/Filter/ActionContainer.tsx
  apps/frontend/core-dapp/src/components/Filter/FilterButton.tsx
  apps/frontend/core-dapp/src/components/Filter/FilterModal.tsx
  apps/frontend/core-dapp/src/components/Filter/FilterStore.ts
  apps/frontend/core-dapp/src/components/Filter/MarketDropdown.tsx
  apps/frontend/core-dapp/src/components/Filter/MarketTypeSelection.tsx
  apps/frontend/core-dapp/src/components/Filter/filter.constants.ts
  apps/frontend/core-dapp/src/features/history/history-utils.ts
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/features/portfolio/PositionsAndHistory.tsx
  apps/frontend/core-dapp/src/features/ppo/history/PpoHistoryActionBar.tsx
  apps/frontend/core-dapp/src/features/ppo/history/PpoHistoryEvent.tsx
  apps/frontend/core-dapp/src/features/ppo/history/PpoHistoryStore.ts
  apps/frontend/core-dapp/src/features/ppo/history/ppo-history.types.ts
  apps/frontend/core-dapp/src/locale/en/messages.po
  apps/frontend/core-dapp/src/locale/ru/messages.po
  apps/frontend/core-dapp/src/stores/graphs/CoreGraphStore.ts
  apps/frontend/core-dapp/src/stores/graphs/queries/core.queries.ts
Labels: core-dapp, deployed, frontend, size/L

#447 feat: initial modifications to hook interface
  apps/smart-contracts/core/contracts/CollateralDepositRecord.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/LongShortToken.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateralDepositRecord.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositHook.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositRecordHook.sol
  apps/smart-contracts/core/contracts/interfaces/IHook.sol
  apps/smart-contracts/core/contracts/interfaces/IManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
  apps/smart-contracts/core/test/CollateralDepositRecord.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/events.ts
  apps/smart-contracts/core/test/fixtures/CollateralDepositRecordFixture.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, deployed, size/XL

#458 fix: dark light theme and spacing
  apps/frontend/core-dapp/src/components/TradingViewChart/TradingViewChart.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketOverview.tsx
Labels: core-dapp, deployed, frontend, size/S

#466 feat: modify WithdrawHook to use a smock contract
  apps/smart-contracts/core/test/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, deployed, size/S
