Repository prepo-io/prepo-monorepo, pull requests merged in 2022-08, with the labels that each got.

#251 feat: adding files for generic withdraw and implemented withdraw ERC20
  packages/prepo-shared-contracts/contracts/WithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/shared/ERC20Mintable.sol
  packages/prepo-shared-contracts/test/WithdrawERC20.test.ts
  packages/prepo-shared-contracts/test/fixtures/WithdrawERC20Fixture.ts
Labels: size/L

#260 refactor: accommodate for local important address stores
  apps/frontend/core-dapp/next.config.js
  apps/frontend/react-boilerplate/next.config.js
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/deploy/PPO.ts
  apps/smart-contracts/token/package.json
  packages/prepo-constants/src/addresses.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, deployed, frontend, boilerplate, size/L, token

#265 fix: bump ethers version
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  package.json
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  yarn.lock
Labels: non-app, smart-contracts, size/L, token

#166 fix: fixed slippage issue
  apps/frontend/core-dapp/abi/uniswapV3Quoter.abi.json
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/components/Table.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
  apps/frontend/core-dapp/src/lib/external-contracts.ts
  apps/frontend/react-boilerplate/package.json
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/package.json
  package.json
  packages/prepo-constants/package.json
  packages/prepo-stores/package.json
  packages/prepo-ui/package.json
  packages/prepo-utils/package.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, deployed, frontend, boilerplate, size/L, token

#269 fix: markets title
  apps/frontend/core-dapp/src/pages/markets.tsx
Labels: core-dapp, deployed, frontend, size/XS

#268 feat: fixed translation for boiler-plate, init i18n for core-dapp
  apps/frontend/core-dapp/.babelrc
  apps/frontend/core-dapp/lingui.config.js
  apps/frontend/core-dapp/next.config.js
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/components/MarketCard.tsx
  apps/frontend/core-dapp/src/components/Navigation.tsx
  apps/frontend/core-dapp/src/features/connect/ConnectButton.tsx
  apps/frontend/core-dapp/src/features/explore-markets/ExploreMarkets.tsx
  apps/frontend/core-dapp/src/features/testnet-onboarding/TestnetBanner.tsx
  apps/frontend/core-dapp/src/features/testnet-onboarding/TokenSaleWhitelistBanner.tsx
  apps/frontend/core-dapp/src/locale/en/messages.js
  apps/frontend/core-dapp/src/locale/en/messages.po
  apps/frontend/core-dapp/src/locale/ru/messages.js
  apps/frontend/core-dapp/src/locale/ru/messages.po
  apps/frontend/core-dapp/src/pages/_app.tsx
  apps/frontend/react-boilerplate/package.json
  apps/frontend/react-boilerplate/src/pages/_app.tsx
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, boilerplate, size/L

#261 feat: added Vesting deployment script
  apps/smart-contracts/token/deploy/Vesting.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: smart-contracts, deployed, size/M, token

#271 chore: create pregenesis and vesting subfolders
  apps/smart-contracts/token/contracts/pregenesis/PregenPass.sol
  apps/smart-contracts/token/contracts/pregenesis/PregenesisPoints.sol
  apps/smart-contracts/token/contracts/pregenesis/interfaces/IPregenesisPoints.sol
  apps/smart-contracts/token/contracts/pregenesis/mocks/MockPregenPass.sol
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  apps/smart-contracts/token/contracts/vesting/interfaces/IVesting.sol
  apps/smart-contracts/token/contracts/vesting/mocks/MockVestingClaimer.sol
Labels: smart-contracts, size/XS, token

#272 chore: move hooks and ppo contract to ppo subfolder
  apps/smart-contracts/token/contracts/interfaces/IIOUPPO.sol
  apps/smart-contracts/token/contracts/ppo/AccountList.sol
  apps/smart-contracts/token/contracts/ppo/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/PPO.sol
  apps/smart-contracts/token/contracts/ppo/RestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IAccountList.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IBlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IPPO.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IRestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/ITransferHook.sol
Labels: smart-contracts, size/M, token

#274 feat: added minisales interfaces
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IAllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IPurchaseHook.sol
Labels: smart-contracts, size/M, token

#275 feat: adding files for MiniSales with initialization
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/test/MiniSales.test.ts
  apps/smart-contracts/token/test/fixtures/MiniSalesFixtures.ts
Labels: smart-contracts, size/L, token

#278 fix: add event emission for MiniSales setters
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/PurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
  apps/smart-contracts/token/test/AccountList.test.ts
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/MiniSales.test.ts
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/StakingRewardsDistribution.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/TokenShopPurchaseHook.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
  apps/smart-contracts/token/test/fixtures/AccountListFixtures.ts
  apps/smart-contracts/token/test/fixtures/MiniSalesFixtures.ts
  apps/smart-contracts/token/test/fixtures/MockAchievementsManagerFixtures.ts
  apps/smart-contracts/token/test/fixtures/MockPregenPassFixtures.ts
  apps/smart-contracts/token/test/fixtures/MockVestingClaimerFixtures.ts
  apps/smart-contracts/token/test/fixtures/MultiplierCalculatorFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOGamifiedTokenFixture.ts
  apps/smart-contracts/token/test/fixtures/PPOStakingFixtures.ts
  apps/smart-contracts/token/test/fixtures/PregenesisFixtures.ts
  apps/smart-contracts/token/test/fixtures/PregenesisPointsFixtures.ts
  apps/smart-contracts/token/test/fixtures/PurchaseHookFixtures.ts
  apps/smart-contracts/token/test/fixtures/StakingRewardsDistributionFixtures.ts
  apps/smart-contracts/token/test/fixtures/TokenShopFixtures.ts
  apps/smart-contracts/token/test/fixtures/TransferHookFixtures.ts
  apps/smart-contracts/token/test/fixtures/VestingFixtures.ts
  apps/smart-contracts/token/test/fixtures/WithdrawalRightsFixtures.ts
Labels: smart-contracts, size/XL, token

#233 feat: init Staking ABI, stake implementation
  apps/frontend/core-dapp/abi/PPOStaking.abi.json
  apps/frontend/core-dapp/src/features/ppo/stake/PPOStakingStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/StakeStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/StakeUnstakeLayout.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/__tests__/StakeStore.test.ts
  apps/frontend/core-dapp/src/hooks/useFeatureFlag.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
Labels: core-dapp, deployed, frontend, size/XXL

#282 feat: adding allowlist purchase hook setters
  apps/smart-contracts/token/contracts/mini-sales/AllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IAllowlistPurchaseHook.sol
  apps/smart-contracts/token/test/AllowlistPurchaseHook.test.ts
  apps/smart-contracts/token/test/fixtures/MiniSalesFixtures.ts
Labels: smart-contracts, size/L, token

#283 fix: add event emission for ppo transfer hook contracts
  apps/smart-contracts/token/contracts/ppo/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/RestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IBlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IRestrictedTransferHook.sol
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, size/L, token

#285 feat: add reusable ProtectedHook contract
  packages/prepo-shared-contracts/contracts/ProtectedHook.sol
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IProtectedHook.sol
  packages/prepo-shared-contracts/contracts/test/PausableTest.sol
  packages/prepo-shared-contracts/contracts/test/ProtectedHookTest.sol
  packages/prepo-shared-contracts/contracts/test/SafeOwnableUpgradeableTest.sol
  packages/prepo-shared-contracts/test/Pausable.test.ts
  packages/prepo-shared-contracts/test/ProtectedHook.test.ts
  packages/prepo-shared-contracts/test/SafeOwnable.test.ts
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/WithdrawERC20.test.ts
  packages/prepo-shared-contracts/test/fixtures/DeployableSafeOwnableUpgradeableFixture.ts
  packages/prepo-shared-contracts/test/fixtures/PausableFixture.ts
  packages/prepo-shared-contracts/test/fixtures/PausableWrapperFixture.ts
  packages/prepo-shared-contracts/test/fixtures/ProtectedHookFixture.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableFixture.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableFixtures.ts
  packages/prepo-shared-contracts/test/fixtures/WithdrawTokensFixtures.ts
Labels: size/L

#249 Feat/staking withdraw
  apps/frontend/core-dapp/src/features/ppo/stake/PPOStakingStore.ts
  apps/frontend/core-dapp/src/features/ppo/stake/StakePage.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeButtons.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/UnstakeStore.ts
Labels: core-dapp, deployed, frontend, size/L

#289 feat: add copy for MiniSales interface
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
Labels: smart-contracts, size/M, token

#254 Feat/staking alerts
  apps/frontend/core-dapp/src/features/ppo/stake/StakePage.tsx
  apps/frontend/core-dapp/src/features/ppo/stake/StakeWarningMessages.tsx
Labels: core-dapp, deployed, frontend, size/M

#291 Feat/fe packages bump
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/stores/graphs/queries/core.queries.ts
  apps/frontend/react-boilerplate/package.json
  apps/frontend/website/package.json
  packages/prepo-stores/package.json
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, boilerplate, website, size/M

#296 feat: change minisales to non-upgradeable
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IRestrictedTransferHook.sol
  apps/smart-contracts/token/deploy/MiniSales.ts
  apps/smart-contracts/token/test/MiniSales.test.ts
  apps/smart-contracts/token/test/fixtures/MiniSalesFixtures.ts
  packages/prepo-constants/src/addresses.ts
Labels: smart-contracts, frontend, size/L, token

#303 fix: unify defender-relay-client and update to 1.27.1 due to old axios pkg
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/CollateralDepositRecord.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/LongShortToken.test.ts
  apps/smart-contracts/core/test/MockBaseToken.test.ts
  apps/smart-contracts/core/test/MockStrategy.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/SingleStrategyController.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/AccountAccessControllerFixture.ts
  apps/smart-contracts/core/test/fixtures/CollateralDepositRecordFixture.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/fixtures/ERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/fixtures/LongShortTokenFixture.ts
  apps/smart-contracts/core/test/fixtures/MockBaseTokenFixture.ts
  apps/smart-contracts/core/test/fixtures/MockERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/MockStrategyFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
  apps/smart-contracts/core/test/fixtures/SingleStrategyControllerFixture.ts
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/utils/index.ts
  package.json
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  packages/prepo-shared-contracts/package.json
  packages/prepo-shared-contracts/test/ProtectedHook.test.ts
  packages/prepo-shared-contracts/test/SafeOwnable.test.ts
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/L, token

#310 feat: add AccountList deployment script
  apps/smart-contracts/token/contracts/ppo/AccountList.sol
  apps/smart-contracts/token/deploy/AccountList.ts
  apps/smart-contracts/token/test/AccountList.test.ts
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/fixtures/PPOFixtures.ts
Labels: smart-contracts, size/M, token

#311 feat: update README to conform with core README format
  apps/smart-contracts/core/README.md
  apps/smart-contracts/token/README.md
Labels: core-dapp, smart-contracts, size/L, token

#305 docs: add pausable and protectedhook interface copy
  packages/prepo-shared-contracts/contracts/interfaces/IPausable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IProtectedHook.sol
Labels: size/S

#312 chore: remove purchase hook contract and usage in MiniSales test
  apps/smart-contracts/token/contracts/mini-sales/PurchaseHook.sol
  apps/smart-contracts/token/test/MiniSales.test.ts
  apps/smart-contracts/token/test/fixtures/MiniSalesFixtures.ts
Labels: smart-contracts, size/M, token

#313 fix: update solidity-coverage pkg and move to dev dependencies
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/package.json
  package.json
  packages/prepo-shared-contracts/package.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/S, token

#306 docs: withdrawerc20 and safeownable interface copy
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawERC20.sol
Labels: size/M

#318 chore: changing license identifier for token repo and shared packages
  apps/smart-contracts/token/contracts/mini-sales/AllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IAllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IPurchaseHook.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/PPOGamifiedToken.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/PPOGamifiedVotingToken.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/PPOStaking.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/SteppedTimeMultiplierV1.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/deps/PPOGamifiedTokenStructs.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/interfaces/IAchievementsManager.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/interfaces/IPPOStaking.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/interfaces/ITimeMultiplierCalculator.sol
  apps/smart-contracts/token/contracts/ppo/AccountList.sol
  apps/smart-contracts/token/contracts/ppo/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/PPO.sol
  apps/smart-contracts/token/contracts/ppo/RestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IAccountList.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IBlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IPPO.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IRestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/ITransferHook.sol
  apps/smart-contracts/token/contracts/pregenesis/PregenPass.sol
  apps/smart-contracts/token/contracts/pregenesis/PregenesisPoints.sol
  apps/smart-contracts/token/contracts/pregenesis/interfaces/IPregenesisPoints.sol
  apps/smart-contracts/token/contracts/pregenesis/mocks/MockPregenPass.sol
  apps/smart-contracts/token/contracts/token-shop/PurchaseHook.sol
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
  apps/smart-contracts/token/contracts/token-shop/interfaces/IPurchaseHook.sol
  apps/smart-contracts/token/contracts/token-shop/interfaces/ITokenShop.sol
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  apps/smart-contracts/token/contracts/vesting/interfaces/IVesting.sol
  apps/smart-contracts/token/contracts/vesting/mocks/MockVestingClaimer.sol
  packages/prepo-shared-contracts/contracts/Pausable.sol
  packages/prepo-shared-contracts/contracts/ProtectedHook.sol
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/interfaces/IPausable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IProtectedHook.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/shared/ERC20Mintable.sol
  packages/prepo-shared-contracts/contracts/test/PausableTest.sol
  packages/prepo-shared-contracts/contracts/test/ProtectedHookTest.sol
  packages/prepo-shared-contracts/contracts/test/SafeOwnableUpgradeableTest.sol
Labels: smart-contracts, size/M, token

#316 chore: remove revertReason from token repo
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/StakingRewardsDistribution.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
  apps/smart-contracts/token/utils/index.ts
Labels: smart-contracts, size/M, token

#317 fix: add await to reverts in token repo
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
Labels: smart-contracts, size/M, token

#319 chore: changed initial state test names and vesting inherit withdrawERC20
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  apps/smart-contracts/token/contracts/vesting/interfaces/IVesting.sol
  apps/smart-contracts/token/test/AllowlistPurchaseHook.test.ts
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/MiniSales.test.ts
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/StakingRewardsDistribution.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
Labels: smart-contracts, size/M, token

#320 fix: remove owner nomination in safeOwnable contracts
  apps/smart-contracts/token/contracts/mini-sales/AllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/WithdrawalRights.sol
  apps/smart-contracts/token/contracts/ppo/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/PPO.sol
  apps/smart-contracts/token/contracts/ppo/RestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/pregenesis/PregenPass.sol
  apps/smart-contracts/token/contracts/pregenesis/PregenesisPoints.sol
  apps/smart-contracts/token/contracts/pregenesis/mocks/MockPregenPass.sol
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  apps/smart-contracts/token/deploy/AccountList.ts
  apps/smart-contracts/token/deploy/MiniSales.ts
  apps/smart-contracts/token/deploy/PPO.ts
  apps/smart-contracts/token/deploy/Vesting.ts
  apps/smart-contracts/token/test/AllowlistPurchaseHook.test.ts
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/MiniSales.test.ts
  apps/smart-contracts/token/test/PPO.test.ts
  apps/smart-contracts/token/test/PregenPass.test.ts
  apps/smart-contracts/token/test/PregenesisPoints.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/TokenShopPurchaseHook.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
  apps/smart-contracts/token/test/fixtures/MiniSalesFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOFixtures.ts
  apps/smart-contracts/token/test/fixtures/PPOStakingFixtures.ts
  apps/smart-contracts/token/test/fixtures/PregenesisFixtures.ts
  apps/smart-contracts/token/test/fixtures/TokenShopFixtures.ts
  apps/smart-contracts/token/test/fixtures/VestingFixtures.ts
  packages/prepo-constants/src/addresses.ts
Labels: smart-contracts, frontend, size/L, token

#309 feat: adding deployment script for TransferHook contracts
  apps/smart-contracts/token/deploy/BlocklistTransferHook.ts
  apps/smart-contracts/token/deploy/RestrictedTransferHook.ts
Labels: smart-contracts, size/L, token

#321 chore: token event naming rectification
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/PPOGamifiedToken.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/PPOGamifiedVotingToken.sol
  apps/smart-contracts/token/contracts/ppo-staking/governance/staking/PPOStaking.sol
  apps/smart-contracts/token/contracts/ppo-staking/rewards/staking/StakingRewardsDistribution.sol
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  apps/smart-contracts/token/contracts/vesting/interfaces/IVesting.sol
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
Labels: smart-contracts, size/M, token

#322 test: adding tests for when variables are not set
  apps/smart-contracts/token/test/AllowlistPurchaseHook.test.ts
  apps/smart-contracts/token/test/BlocklistTransferHook.test.ts
  apps/smart-contracts/token/test/RestrictedTransferHook.test.ts
Labels: smart-contracts, size/M, token

#325 feat: adding script for deployment of AllowlistPurchaseHook
  apps/smart-contracts/token/deploy/AllowlistPurchaseHook.ts
Labels: smart-contracts, size/M, token

#328 chore: resolve solhint warnings for shared contracts
  packages/prepo-shared-contracts/contracts/ProtectedHook.sol
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/shared/ERC20Mintable.sol
Labels: size/M

#329 chore: move erc20 mintable contract
  packages/prepo-shared-contracts/contracts/ERC20Mintable.sol
Labels: size/XS

#266 feat: adding generic ERC721 withdraw contract
  packages/prepo-shared-contracts/contracts/ERC721Mintable.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC721.sol
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawERC721.sol
  packages/prepo-shared-contracts/test/WithdrawERC721.test.ts
  packages/prepo-shared-contracts/test/fixtures/WithdrawERC721Fixture.ts
Labels: size/L

#267 feat: adding generic ERC1155 withdraw contract
  packages/prepo-shared-contracts/contracts/ERC1155Mintable.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC1155.sol
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawERC1155.sol
  packages/prepo-shared-contracts/test/WithdrawERC1155.test.ts
  packages/prepo-shared-contracts/test/fixtures/WithdrawERC1155Fixture.ts
Labels: size/L

#330 fix: add blocklist setting to RestrictedTransferHook deployment script
  apps/smart-contracts/token/deploy/BlocklistTransferHook.ts
  apps/smart-contracts/token/deploy/RestrictedTransferHook.ts
Labels: smart-contracts, size/M, token

#331 chore: tokenshop inherit generic withdraw tokens
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
  apps/smart-contracts/token/contracts/token-shop/interfaces/ITokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, size/L, token

#326 feat: add data payload to purchase hook
  apps/smart-contracts/token/contracts/mini-sales/AllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IPurchaseHook.sol
  apps/smart-contracts/token/test/AllowlistPurchaseHook.test.ts
  apps/smart-contracts/token/test/MiniSales.test.ts
Labels: smart-contracts, size/L, token

#323 feat: adding implementation for transferFromWithPermit in PPO
  apps/smart-contracts/token/contracts/ppo/PPO.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IPPO.sol
  apps/smart-contracts/token/utils/index.ts
Labels: smart-contracts, size/L, token

#324 test: adding tests for transferFromWithPermit in PPO
  apps/smart-contracts/token/contracts/ppo/interfaces/IPPO.sol
  apps/smart-contracts/token/test/PPO.test.ts
Labels: smart-contracts, size/XL, token

#334 feat: adding interface and contract for SafeAccessControl
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeAccessControlEnumerable.sol
Labels: size/L

#332 feat: adding interface for SafeOwnableCaller contract
  packages/prepo-shared-contracts/contracts/SafeOwnable.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableCaller.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnableCaller.sol
  packages/prepo-shared-contracts/test/SafeOwnable.test.ts
  packages/prepo-shared-contracts/test/SafeOwnableUpgradeable.test.ts
Labels: size/L

#335 feat: adding SafeAccessControlEnumerableUpgradeable
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeAccessControlEnumerableUpgradeable.sol
Labels: size/L

#339 test: adding tests for nominate and accept for role admin
  packages/prepo-constants/src/general-constants.ts
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerable.sol
  packages/prepo-shared-contracts/test/SafeAccessControlEnumerable.test.ts
  packages/prepo-shared-contracts/test/fixtures/SafeAccessControlEnumerableFixture.ts
Labels: deployed, frontend, size/L

#348 fix: removing initialize from SafeAccessControlEnumerableUpgradeable
  apps/smart-contracts/token/test/PPO.test.ts
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeAccessControlEnumerableUpgradeable.sol
  packages/prepo-shared-contracts/test/SafeAccessControlEnumerable.test.ts
Labels: smart-contracts, size/S, token

#344 docs: add copy for IWithdrawERC721 and IWithdrawERC1155
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawERC1155.sol
  packages/prepo-shared-contracts/contracts/interfaces/IWithdrawERC721.sol
Labels: size/M

#343 docs: add SafeAccessControlEnumerable interface copy
  apps/smart-contracts/token/test/PPO.test.ts
  packages/prepo-shared-contracts/contracts/interfaces/ISafeAccessControlEnumerable.sol
Labels: smart-contracts, size/M, token

#341 feat: adding SafeAccessControlEnumerableCaller interface and implementation
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerableCaller.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableCaller.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeAccessControlEnumerableCaller.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnableCaller.sol
Labels: size/L

#345 docs: add copy for ITokenShop
  apps/smart-contracts/token/contracts/token-shop/interfaces/ITokenShop.sol
Labels: smart-contracts, size/M, token

#346 docs: add copy for PurchaseHook
  apps/smart-contracts/token/contracts/token-shop/PurchaseHook.sol
  apps/smart-contracts/token/contracts/token-shop/interfaces/IPurchaseHook.sol
Labels: smart-contracts, size/M, token

#352 fix: removing write methods from caller contracts
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerableCaller.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableCaller.sol
  packages/prepo-shared-contracts/contracts/test/SafeOwnableCallerTest.sol
  packages/prepo-shared-contracts/test/SafeOwnableCaller.test.ts
  packages/prepo-shared-contracts/test/fixtures/SafeOwnableCallerFixture.ts
Labels: size/L

#354 fix: removing view methods from caller contracts
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerableCaller.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableCaller.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeAccessControlEnumerableCaller.sol
  packages/prepo-shared-contracts/contracts/interfaces/ISafeOwnableCaller.sol
  packages/prepo-shared-contracts/test/SafeOwnableCaller.test.ts
Labels: size/M

#356 fix: audit mitigation M-04, adding _gap in upgradeable contracts
  packages/prepo-shared-contracts/contracts/SafeAccessControlEnumerableUpgradeable.sol
  packages/prepo-shared-contracts/contracts/SafeOwnableUpgradeable.sol
Labels: size/S

#355 fix: audit mitigation M-02, adding purchase price argument
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
  apps/smart-contracts/token/contracts/token-shop/interfaces/ITokenShop.sol
  apps/smart-contracts/token/test/TokenShop.test.ts
Labels: smart-contracts, size/L, token

#357 fix: audit gas optimization G-01 and G-02
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
Labels: smart-contracts, size/S, token

#358 fix: audit gas optimization G-03
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
Labels: smart-contracts, size/XS, token

#359 fix: audit gas optimization G-05
  apps/smart-contracts/token/contracts/ppo/BlocklistTransferHook.sol
Labels: smart-contracts, size/XS, token

#360 fix: audit gas optimization G-06 and G-07
  apps/smart-contracts/token/contracts/token-shop/PurchaseHook.sol
Labels: smart-contracts, size/S, token

#361 fix: audit gas optimizations G-08, G-10 and G12
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
Labels: smart-contracts, size/S, token

#362 fix: audit gas optimization G-09
  packages/prepo-shared-contracts/contracts/WithdrawERC20.sol
Labels: size/XS

#363 fix: audit gas optimizations G-13
  apps/smart-contracts/token/contracts/ppo/AccountList.sol
  apps/smart-contracts/token/contracts/token-shop/PurchaseHook.sol
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC1155.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC721.sol
Labels: smart-contracts, size/M, token
