Repository prepo-io/prepo-monorepo, pull requests merged in 2022-09, with the labels that each got.

#366 fix: docs edit url
  apps/frontend/docs/docusaurus.config.js
Labels: docs, deployed, frontend, size/XS

#365 fix: audit gas optimisation G-11
  apps/smart-contracts/token/contracts/ppo/AccountList.sol
  apps/smart-contracts/token/contracts/token-shop/PurchaseHook.sol
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC1155.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC20.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC721.sol
Labels: smart-contracts, size/M, token

#367 feat: added deployment name constants
  apps/smart-contracts/token/deploy/AccountList.ts
  apps/smart-contracts/token/deploy/AllowlistPurchaseHook.ts
  apps/smart-contracts/token/deploy/MiniSales.ts
  apps/smart-contracts/token/deploy/PPO.ts
  apps/smart-contracts/token/deploy/RestrictedTransferHook.ts
  apps/smart-contracts/token/deploy/Vesting.ts
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/harnesses/Token.ts
  apps/smart-contracts/token/tsconfig.json
  apps/smart-contracts/token/type-extensions.ts
  packages/prepo-constants/src/deployments.ts
  packages/prepo-constants/src/index.ts
Labels: smart-contracts, deployed, frontend, size/L, token

#374 chore: update apps list in docs
  apps/frontend/docs/docusaurus.config.js
Labels: docs, deployed, frontend, size/XS

#373 feat: updated website info
  apps/frontend/website/src/components/Button.tsx
  apps/frontend/website/src/components/icons/GithubIcon.tsx
  apps/frontend/website/src/components/icons/TelegramIcon.tsx
  apps/frontend/website/src/components/icons/index.ts
  apps/frontend/website/src/components/layout/Banner.tsx
  apps/frontend/website/src/components/layout/Footer.tsx
  apps/frontend/website/src/components/layout/Header.tsx
  apps/frontend/website/src/lib/constants.ts
Labels: deployed, frontend, website, size/L

#370 chore: add arbitrumTestnet deployments for proposal testing
  apps/smart-contracts/core/deployments/arbitrumTestnet/.chainId
  apps/smart-contracts/core/deployments/arbitrumTestnet/Token-Testnet-USDC.json
  apps/smart-contracts/core/deployments/arbitrumTestnet/solcInputs/7b16ab567e76d63e1bad58b301191942.json
  apps/smart-contracts/token/.openzeppelin/unknown-421611.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/.chainId
  apps/smart-contracts/token/deployments/arbitrumTestnet/MiniSales_A-AllowlistPurchaseHook-Allowlist.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/MiniSales_A-AllowlistPurchaseHook.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/MiniSales_A.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/PPO-RestrictedTransferHook-Blocklist.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/PPO-RestrictedTransferHook-DestinationAllowlist.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/PPO-RestrictedTransferHook-SourceAllowlist.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/PPO-RestrictedTransferHook.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/PPO.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/Vesting.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/solcInputs/98c20857f2b957ca344caf2e1b2d45f4.json
  packages/prepo-constants/src/addresses.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/XXL, token

#371 feat: utility to add or remove accounts from an AccountList
  apps/smart-contracts/token/hardhat.config.ts
  apps/smart-contracts/token/tasks/token/example-accounts-to-include.txt
  apps/smart-contracts/token/tasks/token/example-accounts-to-remove.txt
  apps/smart-contracts/token/tasks/token/example-vesting-allocation.txt
  apps/smart-contracts/token/tasks/token/general.ts
  package.json
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  yarn.lock
Labels: non-app, smart-contracts, deployed, size/L, token

#378 fix: ethereum multicall use our forked version
  packages/prepo-stores/package.json
  packages/prepo-utils/src/makeError.ts
  yarn.lock
Labels: non-app, frontend, size/XS

#381 feat: remember wallet selection
  apps/frontend/core-dapp/src/components/Dropdown.tsx
  apps/frontend/core-dapp/src/components/NetworkDropdown.tsx
  apps/frontend/core-dapp/src/components/TransactionSummary/TransactionSummary.tsx
  apps/frontend/core-dapp/src/components/TransactionSummary/TransactionSummaryButton.tsx
  apps/frontend/core-dapp/src/components/WrongNetworkAlert.tsx
  apps/frontend/core-dapp/src/features/explore-markets/ExploreMarkets.tsx
  packages/prepo-constants/src/networks.ts
  packages/prepo-stores/src/Web3Store.ts
  packages/prepo-stores/src/global.d.ts
  packages/prepo-stores/src/utils/onboard-config.ts
  packages/prepo-stores/src/utils/stores-config-utils.ts
  packages/prepo-ui/src/components/Icon/icon-components/application/ArrowDownIcon.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/ExclamationTriangle.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/index.tsx
Labels: core-dapp, deployed, frontend, size/XL

#385 feat: added feature flag and uniswap like component
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/components/SettingsMenu.tsx
  apps/frontend/core-dapp/src/hooks/useFeatureFlag.ts
  apps/frontend/core-dapp/src/locale/en/messages.js
  apps/frontend/core-dapp/src/locale/en/messages.po
  apps/frontend/core-dapp/src/locale/ru/messages.js
  apps/frontend/core-dapp/src/locale/ru/messages.po
  apps/frontend/core-dapp/src/pages/_app.tsx
  apps/frontend/core-dapp/src/pages/markets/[marketUrlId]/index.tsx
  apps/frontend/core-dapp/src/pages/markets/[marketUrlId]/liquidity.tsx
  apps/frontend/core-dapp/src/pages/markets/[marketUrlId]/trade.tsx
  apps/frontend/core-dapp/src/stores/UiStore.ts
Labels: core-dapp, deployed, frontend, size/L

#386 feat: translation
  apps/frontend/core-dapp/src/components/PpoDropdown.tsx
  apps/frontend/core-dapp/src/features/connect/AccountModal.tsx
  apps/frontend/core-dapp/src/features/definitions/index.tsx
  apps/frontend/core-dapp/src/features/history/History.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketDataColumn.tsx
  apps/frontend/core-dapp/src/features/market-overview/MarketOverview.tsx
  apps/frontend/core-dapp/src/features/market-overview/SelectedMarketColumn.tsx
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PositionsAndHistory.tsx
  apps/frontend/core-dapp/src/features/portfolio/Record.tsx
  apps/frontend/core-dapp/src/features/position/Positions.tsx
  apps/frontend/core-dapp/src/features/ppo/govern/DelegatedTo.tsx
  apps/frontend/core-dapp/src/features/ppo/ppoItems.ts
  apps/frontend/core-dapp/src/features/profile/LookupUser.tsx
  apps/frontend/core-dapp/src/features/profile/ProfileAccordion.tsx
  apps/frontend/core-dapp/src/features/profile/ProfilePage.tsx
  apps/frontend/core-dapp/src/features/profile/ProfileVotingPower.tsx
  apps/frontend/core-dapp/src/features/profile/TotalEarned.tsx
  apps/frontend/core-dapp/src/features/profile/TotalMultiplier.tsx
  apps/frontend/core-dapp/src/locale/en/messages.js
  apps/frontend/core-dapp/src/locale/en/messages.po
  apps/frontend/core-dapp/src/locale/ru/messages.js
  apps/frontend/core-dapp/src/locale/ru/messages.po
  apps/frontend/simulator/src/features/position-settings/MarketValuation.tsx
  apps/frontend/simulator/src/features/position-settings/MarketVisualisation/market-visualisation-utils.ts
  apps/frontend/simulator/src/features/position-settings/entry-exit-accordion/PositionSettingsEntryExitSummary.tsx
  apps/frontend/simulator/src/helpers.ts
Labels: core-dapp, deployed, frontend, simulator, size/XL

#387 fix: handle wallet disconnect wallet undefined
  packages/prepo-stores/src/Web3Store.ts
Labels: deployed, frontend, size/XS

#377 docs: resolve TODO docs item for MiniSales
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
Labels: smart-contracts, size/XS, token

#379 feat: redeployed PPO and MiniSales because gap adds storage slots in inheriting contracts
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/token/.openzeppelin/unknown-421611.json
  apps/smart-contracts/token/deploy/PPO.ts
  apps/smart-contracts/token/deployments/arbitrumTestnet/MiniSales_A.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/PPO.json
  apps/smart-contracts/token/deployments/arbitrumTestnet/solcInputs/e6428b844484e78043dfdcd98da5e961.json
  apps/smart-contracts/token/hardhat.config.ts
  package.json
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  yarn.lock
Labels: smart-contracts, size/XL, token

#390 docs: update testnet FAQ
  apps/frontend/core-dapp/src/locale/en/messages.js
  apps/frontend/core-dapp/src/locale/ru/messages.js
  apps/frontend/docs/docs/faq.md
Labels: docs, core-dapp, frontend, size/M

#393 docs: update token FAQ
  apps/frontend/docs/docs/faq.md
Labels: docs, frontend, size/L

#394 docs: update presale faq
  apps/frontend/docs/docs/faq.md
Labels: docs, deployed, frontend, size/M

#391 feat: adding contract for mini sales flag
  apps/smart-contracts/token/contracts/mini-sales/MiniSalesFlag.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSalesFlag.sol
  apps/smart-contracts/token/contracts/ppo/AccountList.sol
  apps/smart-contracts/token/contracts/token-shop/PurchaseHook.sol
  apps/smart-contracts/token/contracts/token-shop/TokenShop.sol
  apps/smart-contracts/token/contracts/vesting/Vesting.sol
  apps/smart-contracts/token/deploy/MiniSalesFlag.ts
  apps/smart-contracts/token/harnesses/Token.ts
  apps/smart-contracts/token/test/MiniSalesFlag.test.ts
  apps/smart-contracts/token/test/fixtures/MiniSalesFixtures.ts
  packages/prepo-constants/src/deployments.ts
Labels: smart-contracts, deployed, frontend, size/L, token

#398 fix: update solidity-coverage to resolve vulnerability
  package.json
  yarn.lock
Labels: non-app, size/XS

#399 docs: presale vesting faq
  apps/frontend/docs/docs/faq.md
Labels: docs, deployed, frontend, size/XS

#396 style: run linting on core contracts
  apps/smart-contracts/core/contracts/AccountAccessController.sol
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/CollateralDepositRecord.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/LongShortToken.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/SingleStrategyController.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/interfaces/IStrategyController.sol
  apps/smart-contracts/core/contracts/mocks/MockBaseToken.sol
  apps/smart-contracts/core/contracts/mocks/MockERC20.sol
  apps/smart-contracts/core/contracts/mocks/MockStrategy.sol
  apps/smart-contracts/core/contracts/openzeppelin/ERC20UpgradeableRenameable.sol
  packages/prepo-shared-contracts/contracts/WithdrawERC721.sol
Labels: core-dapp, smart-contracts, size/L

#376 feat: ppo ascii art
  apps/smart-contracts/token/contracts/ppo/PPO.sol
Labels: smart-contracts, size/M, token

#401 feat: add production governance
  packages/prepo-constants/src/addresses.ts
Labels: frontend, size/XS

#402 docs: token distribution nit
  apps/frontend/docs/docs/faq.md
  apps/frontend/docs/docs/tokenomics.mdx
Labels: docs, deployed, frontend, size/XS

#404 docs: update presale faq and website button
  apps/frontend/docs/docs/faq.md
  apps/frontend/website/src/components/hero/Hero.tsx
Labels: docs, deployed, frontend, website, size/M

#405 docs: general FAQs and VC FAQs
  apps/frontend/docs/docs/faq.md
Labels: docs, deployed, frontend, size/M

#406 feat: add back FAQ on website
  apps/frontend/website/src/components/layout/Header.tsx
Labels: deployed, frontend, website, size/XS

#415 feat: update website
  apps/frontend/website/src/components/hero/Hero.tsx
  apps/frontend/website/src/components/layout/Header.tsx
Labels: deployed, frontend, website, size/XS

#403 feat: add production deployments
  .gitignore
  apps/smart-contracts/token/.openzeppelin/unknown-42161.json
  apps/smart-contracts/token/deployments/arbitrumOne/.chainId
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSalesFlag_A.json
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSales_A-AllowlistPurchaseHook-Allowlist.json
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSales_A-AllowlistPurchaseHook.json
  apps/smart-contracts/token/deployments/arbitrumOne/MiniSales_A.json
  apps/smart-contracts/token/deployments/arbitrumOne/PPO-RestrictedTransferHook-Blocklist.json
  apps/smart-contracts/token/deployments/arbitrumOne/PPO-RestrictedTransferHook-DestinationAllowlist.json
  apps/smart-contracts/token/deployments/arbitrumOne/PPO-RestrictedTransferHook-SourceAllowlist.json
  apps/smart-contracts/token/deployments/arbitrumOne/PPO-RestrictedTransferHook.json
  apps/smart-contracts/token/deployments/arbitrumOne/PPO.json
  apps/smart-contracts/token/deployments/arbitrumOne/Vesting.json
  apps/smart-contracts/token/deployments/arbitrumOne/solcInputs/92797c126852f255b62c4db0ee32d1ba.json
  apps/smart-contracts/token/tasks/token/general.ts
  packages/prepo-constants/src/networks.ts
Labels: smart-contracts, frontend, size/XXL, token

#412 chore: added binary source
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/token/hardhat.config.ts
Labels: core-dapp, smart-contracts, size/XS, token

#417 fix: add local compiler to prepo-shared-contracts
  packages/prepo-shared-contracts/hardhat.config.ts
  packages/prepo-shared-contracts/tsconfig.json
Labels: size/S

#422 fix: fix path to compiler
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/token/hardhat.config.ts
  packages/prepo-shared-contracts/hardhat.config.ts
  packages/prepo-shared-contracts/tsconfig.json
Labels: core-dapp, smart-contracts, size/XS, token
