Repository prepo-io/prepo-monorepo, pull requests merged in 2022-11, with the labels that each got.

#474 feat: update translation files
  apps/frontend/core-dapp/src/locale/en/messages.po
  apps/frontend/core-dapp/src/locale/ru/messages.po
  yarn.lock
Labels: non-app, core-dapp, deployed, frontend, size/M

#459 feat: added WithdrawHook getters, setters, variables, and role constants
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
  apps/smart-contracts/core/test/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, deployed, size/XL

#461 feat: modify DepositHook to conform to IDepositHook
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
Labels: core-dapp, smart-contracts, deployed, size/L

#463 feat: add user withdraw limit logic
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
  apps/smart-contracts/core/test/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, deployed, size/L

#467 feat: remove counting withdrawals against user limits
  apps/smart-contracts/core/contracts/CollateralDepositRecord.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateralDepositRecord.sol
  apps/smart-contracts/core/test/CollateralDepositRecord.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, deployed, size/L

#469 feat: adding FixedPriceOracle
  packages/prepo-shared-contracts/.solcover.js
  packages/prepo-shared-contracts/contracts/FixedPriceOracle.sol
  packages/prepo-shared-contracts/contracts/interfaces/IFixedPriceOracle.sol
  packages/prepo-shared-contracts/deploy/FixedPriceOracle.ts
  packages/prepo-shared-contracts/deployments/arbitrumOne/.chainId
  packages/prepo-shared-contracts/deployments/arbitrumOne/FixedPriceOracle.json
  packages/prepo-shared-contracts/deployments/arbitrumOne/solcInputs/44fe0b2f55a64f069e5a6631752f93ec.json
  packages/prepo-shared-contracts/hardhat.config.ts
  packages/prepo-shared-contracts/package.json
  packages/prepo-shared-contracts/test/FixedPriceOracle.test.ts
  packages/prepo-shared-contracts/test/fixtures/FixedPriceOracleFixture.ts
  packages/prepo-shared-contracts/tsconfig.json
  yarn.lock
Labels: non-app, deployed, size/XL

#478 feat: add ability to modify decimals on mock erc20
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/mocks/MockERC20.sol
  apps/smart-contracts/core/contracts/test/TestERC20.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/fixtures/MockERC20Fixture.ts
  apps/smart-contracts/core/test/fixtures/TestERC20Fixture.ts
Labels: core-dapp, smart-contracts, size/XL

#493 feat: remove portfolio from dropdown
  apps/frontend/core-dapp/src/components/SettingsMenu/SettingsCard.tsx
Labels: core-dapp, deployed, frontend, size/S

#487 feat: core dapp cleanup
  apps/frontend/core-dapp/src/features/history/History.tsx
  apps/frontend/core-dapp/src/features/position/Positions.tsx
  apps/frontend/core-dapp/src/features/ppo/buy/BuyPage.tsx
  apps/frontend/core-dapp/src/pages/_app.tsx
  apps/frontend/core-dapp/src/pages/markets/[marketUrlId]/liquidity.tsx
  apps/frontend/core-dapp/src/pages/ppo/buy.tsx
  apps/frontend/core-dapp/src/pages/ppo/delegate/address.tsx
  apps/frontend/core-dapp/src/pages/ppo/delegate/index.tsx
  apps/frontend/core-dapp/src/pages/ppo/govern.tsx
  apps/frontend/core-dapp/src/pages/ppo/history.tsx
  apps/frontend/core-dapp/src/pages/ppo/index.tsx
  apps/frontend/core-dapp/src/pages/ppo/stake.tsx
  apps/frontend/core-dapp/src/pages/profile.tsx
  packages/prepo-ui/src/styled.d.ts
  packages/prepo-ui/src/themes/core-dapp/dark-theme.ts
  packages/prepo-ui/src/themes/core-dapp/light-theme.ts
Labels: core-dapp, deployed, frontend, size/L

#488 feat: add roles to CollateralDepositRecord
  apps/smart-contracts/core/contracts/CollateralDepositRecord.sol
  apps/smart-contracts/core/test/CollateralDepositRecord.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/L

#489 feat: add getReserve to Collateral
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/L

#476 feat: trade as default route with query parameters
  apps/frontend/core-dapp/src/components/AppBootstrap.tsx
  apps/frontend/core-dapp/src/components/Dropdown.tsx
  apps/frontend/core-dapp/src/components/MarketDropdown.tsx
  apps/frontend/core-dapp/src/components/Navigation.tsx
  apps/frontend/core-dapp/src/components/SecondaryNavigation.tsx
  apps/frontend/core-dapp/src/components/TransactionSummary/TransactionSummary.tsx
  apps/frontend/core-dapp/src/components/TransactionSummary/TransactionSummaryButton.tsx
  apps/frontend/core-dapp/src/features/liquidity/LiquidityPage.tsx
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
  apps/frontend/core-dapp/src/features/trade/useTradePage.tsx
  apps/frontend/core-dapp/src/lib/markets.ts
  apps/frontend/core-dapp/src/lib/routes.ts
  apps/frontend/core-dapp/src/pages/index.tsx
  apps/frontend/core-dapp/src/pages/markets.tsx
  apps/frontend/core-dapp/src/pages/markets/[marketUrlId]/trade.tsx
  apps/frontend/core-dapp/src/pages/trade.tsx
  apps/frontend/core-dapp/src/stores/MarketStore.ts
  apps/frontend/core-dapp/src/types/market.types.ts
  apps/frontend/core-dapp/src/utils/makeQueryString.ts
Labels: core-dapp, deployed, frontend, size/L

#491 feat: add manager withdraw hook setters
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IManagerWithdrawHook.sol
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/L

#495 feat: add treasury and reserve denominator to Collateral
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/CollateralFixture.ts
Labels: core-dapp, smart-contracts, size/L

#497 fix: various nits identified in PR #463,467,469 after they were merged
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  packages/prepo-shared-contracts/contracts/interfaces/IFixedPriceOracle.sol
Labels: core-dapp, smart-contracts, size/S

#503 feat: add manager withdraw logic to Collateral
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
Labels: core-dapp, smart-contracts, size/L

#508 feat: comment out irrelevant failing test
  apps/frontend/core-dapp/src/features/delegate/__tests__/DelegateStore.test.ts
Labels: core-dapp, deployed, frontend, size/S

#496 feat: add deposit logic to Collateral
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
Labels: core-dapp, smart-contracts, size/XL

#504 feat: trade page layout
  apps/frontend/core-dapp/src/components/Card.tsx
  apps/frontend/core-dapp/src/components/MarketDropdown.tsx
  apps/frontend/core-dapp/src/components/RadioGroup.tsx
  apps/frontend/core-dapp/src/components/SettingsMenu/SettingsDropdown.tsx
  apps/frontend/core-dapp/src/components/TransactionSummary/TransactionSummaryButton.tsx
  apps/frontend/core-dapp/src/features/trade/DirectionRadio.tsx
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/useTradePage.tsx
  packages/prepo-ui/src/components/Dropdown/Dropdown.tsx
  packages/prepo-ui/src/styled.d.ts
  packages/prepo-ui/src/themes/core-dapp/colors.ts
  packages/prepo-ui/src/themes/core-dapp/common.ts
  packages/prepo-ui/src/themes/core-dapp/dark-theme.ts
  packages/prepo-ui/src/themes/core-dapp/light-theme.ts
Labels: core-dapp, deployed, frontend, size/L

#515 refactor: use "payout" rather than "price" in PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/events.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/L

#512 fix: use base IERC20 and _saleTokenDenominator name in MiniSales
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
Labels: smart-contracts, size/S, token

#514 refactor: rename deposit record
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/DepositRecord.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositRecord.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositRecordHook.sol
  apps/smart-contracts/core/deploy/DepositHook.ts
  apps/smart-contracts/core/deploy/DepositRecord.ts
  apps/smart-contracts/core/deploy/WithdrawHook.ts
  apps/smart-contracts/core/harnesses/PrePO.ts
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/DepositRecord.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/CollateralDepositRecordFixture.ts
  apps/smart-contracts/core/test/fixtures/DepositRecordFixture.ts
  apps/smart-contracts/core/test/harness/PrePO.ts
Labels: core-dapp, smart-contracts, size/L

#507 feat: currency input for trade page
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  packages/prepo-ui/src/components/CurrencyInput/CurrencyInput.tsx
  packages/prepo-ui/src/components/CurrencyInput/index.tsx
  packages/prepo-ui/src/components/Icon/icon-components/currencies/CashIcon.tsx
  packages/prepo-ui/src/components/Icon/icon-components/currencies/index.tsx
  packages/prepo-ui/src/components/index.ts
  packages/prepo-ui/src/styled.d.ts
  packages/prepo-ui/src/themes/core-dapp/dark-theme.ts
  packages/prepo-ui/src/themes/core-dapp/light-theme.ts
Labels: core-dapp, deployed, frontend, size/L

#517 feat: open close tab
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/TradePageTab.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/useTradePage.tsx
  apps/frontend/core-dapp/src/utils/isProduction.ts
Labels: core-dapp, deployed, frontend, size/L

#509 fix: remove fetchExistingCollateral left from f413ad6fb8e2f2ce1f84cd5…
  apps/smart-contracts/core/deploy/MockStrategy.ts
Labels: core-dapp, smart-contracts, size/M

#522 feat: removing depositRecord from hook constructors
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
Labels: core-dapp, smart-contracts, size/L

#523 docs: splitting readmes into sensible parenting
  apps/smart-contracts/README.md
  apps/smart-contracts/core/README.md
  apps/smart-contracts/token/README.md
Labels: core-dapp, smart-contracts, size/L, token

#521 feat: adding testcases for reserve exactly or exceeding global net de…
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/S

#527 refactor: no underscores in PrePOMarket.sol and PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
Labels: core-dapp, smart-contracts, size/L

#529 refactor: underscores removed from remaining core contracts
  apps/smart-contracts/core/contracts/AccountAccessController.sol
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositRecord.sol
Labels: core-dapp, smart-contracts, size/L

#528 refactor: remove underscores from hook contracts
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
Labels: core-dapp, smart-contracts, size/L

#530 feat: fee reimbursement
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IMiniSales.sol
Labels: smart-contracts, size/XS, token

#531 fix: missing pr comments from pr #522
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/ManagerWithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/S

#518 feat: renaming events to nouns and using chai event matcher
  apps/smart-contracts/core/contracts/AccountAccessController.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IAccountAccessController.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/events.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
Labels: core-dapp, smart-contracts, size/L

#543 feat: test for fee reimbursement contract
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/FeeReimbursement.sol
  apps/smart-contracts/core/contracts/test/TestMiniSales.sol
  apps/smart-contracts/core/deploy/DepositHook.ts
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/FeeReimbursement.test.ts
  apps/smart-contracts/core/test/fixtures/FeeReimbursementFixture.ts
  apps/smart-contracts/core/test/fixtures/MiniSales.ts
Labels: core-dapp, smart-contracts, size/L

#537 feat: duplicating AccountList in core/ folder
  apps/smart-contracts/core/contracts/AccountList.sol
  apps/smart-contracts/core/contracts/interfaces/IAccountList.sol
  apps/smart-contracts/core/test/events.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
Labels: core-dapp, smart-contracts, size/M

#538 refactor: Rename IHook to ICollateralHook
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateralHook.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositRecordHook.sol
  apps/smart-contracts/core/test/Collateral.test.ts
Labels: core-dapp, smart-contracts, size/M

#525 feat: open trade component
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/DirectionRadio.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTrade.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/index.tsx
Labels: core-dapp, deployed, frontend, size/L

#535 fix: mock MarketStore to fix test failing
  apps/frontend/core-dapp/jest.setup.ts
  apps/frontend/core-dapp/src/features/delegate/__tests__/DelegateStore.test.ts
Labels: core-dapp, deployed, frontend, size/S

#542 refactor: remove account access controller
  apps/smart-contracts/core/contracts/AccountAccessController.sol
  apps/smart-contracts/core/contracts/interfaces/IAccountAccessController.sol
  apps/smart-contracts/core/deploy/AccountAccessController.ts
  apps/smart-contracts/core/deploy/DepositHook.ts
Labels: core-dapp, smart-contracts, size/L

#550 chore: fixing solhints
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
Labels: core-dapp, smart-contracts, size/S

#544 feat: change deposit to accept recipient
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
Labels: core-dapp, smart-contracts, size/L

#526 feat: markets slide up
  apps/frontend/core-dapp/src/features/trade/SlideUpButton.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpCard.tsx
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/TradePageTab.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/open-trade/MarketSlideUp.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTrade.tsx
  apps/frontend/core-dapp/src/styles/default.css
  packages/prepo-ui/src/components/Icon/icon-components/application/CheckIcon.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/CrossIcon.tsx
Labels: core-dapp, deployed, frontend, size/L

#547 feat: gray out primary button when disabled
  packages/prepo-ui/src/components/Button/Button.tsx
Labels: deployed, frontend, size/S

#552 fix: dont zoom long button when disabled
  apps/frontend/core-dapp/src/features/trade/open-trade/DirectionRadio.tsx
Labels: core-dapp, deployed, frontend, size/XS

#551 feat: selected market should always be on top of list
  apps/frontend/core-dapp/src/features/trade/open-trade/MarketSlideUp.tsx
Labels: core-dapp, deployed, frontend, size/S

#562 feat: NFT access hook interfaces
  apps/smart-contracts/core/contracts/interfaces/IAllowListHook.sol
  apps/smart-contracts/core/contracts/interfaces/INFTAccessHook.sol
Labels: core-dapp, smart-contracts, size/M

#545 feat: add IDepositTradeHelper and Uniswap packages
  apps/smart-contracts/core/contracts/interfaces/IDepositTradeHelper.sol
  apps/smart-contracts/core/package.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/M

#566 fix: add return value to deposit
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
Labels: core-dapp, smart-contracts, size/S

#555 refactor: change mintLongShortTokens to mint
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
Labels: core-dapp, smart-contracts, size/L

#564 feat: remove allowance from withdraw and fix approve tests
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
Labels: core-dapp, smart-contracts, size/M

#567 feat: remove allowance from deposit
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
Labels: core-dapp, smart-contracts, size/M

#568 chore: fixing solhints in token directory (ignoring ppo-staking)
  apps/smart-contracts/token/contracts/mini-sales/AllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/ppo/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/pregenesis/PregenPass.sol
  apps/smart-contracts/token/contracts/token-shop/PurchaseHook.sol
Labels: smart-contracts, size/S, token

#570 feat: allowed callers interface
  apps/smart-contracts/core/contracts/interfaces/IAllowedCallers.sol
Labels: core-dapp, smart-contracts, size/S

#573 feat: test ERC721
  apps/smart-contracts/core/contracts/test/TestERC721.sol
  apps/smart-contracts/core/test/fixtures/TestERC721.test.ts
Labels: core-dapp, smart-contracts, size/S

#569 feat: change market fee logic to reflect simplified Collateral fee logic
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/L

#546 fix: temporarily turn off i18n
  apps/frontend/core-dapp/package.json
Labels: core-dapp, deployed, frontend, size/XS

#588 feat: add fee limit to Collateral
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/test/Collateral.test.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/M

#580 feat: add IMarketHook interface
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IMarketHook.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/L

#592 feat: remove redemption fee from PrePOMarket constructor
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFactoryFixture.ts
Labels: core-dapp, smart-contracts, size/M

#585 feat: raise market fee limit to 10%
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
  apps/smart-contracts/core/test/utils.ts
Labels: core-dapp, smart-contracts, size/M

#587 feat: add fee to Redemption event
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/test/PrePOMarket.test.ts
Labels: core-dapp, smart-contracts, size/S

#581 fix: rename IAllowListHook
  apps/smart-contracts/core/contracts/interfaces/IAllowlistHook.sol
Labels: core-dapp, smart-contracts, size/XS

#578 feat: ITokenSender and IUintValue
  apps/smart-contracts/core/contracts/interfaces/ITokenSender.sol
  packages/prepo-shared-contracts/contracts/interfaces/IUintValue.sol
Labels: core-dapp, smart-contracts, size/M

#607 chore: testerc721 fixture had incorrect filename
  apps/smart-contracts/core/test/fixtures/TestERC721Fixture.ts
Labels: core-dapp, smart-contracts, size/XS

#572 feat: FeeRebate: implementation of allowed callers
  apps/smart-contracts/core/contracts/AllowedCallers.sol
  apps/smart-contracts/core/test/AllowedCallers.test.ts
Labels: core-dapp, smart-contracts, size/L

#611 feat: NFTAccess: implementation of AllowlistHook
  apps/smart-contracts/core/contracts/AllowlistHook.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/test/AllowlistHook.test.ts
  apps/smart-contracts/core/test/DepositHook.test.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
Labels: core-dapp, smart-contracts, size/L

#594 chore: migrate AllowedCallers and AllowlistHook to prepo-shared-contracts
  apps/smart-contracts/core/contracts/AccountList.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/interfaces/ITokenSender.sol
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/token/contracts/mini-sales/AllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/mini-sales/MiniSales.sol
  apps/smart-contracts/token/contracts/mini-sales/interfaces/IAllowlistPurchaseHook.sol
  apps/smart-contracts/token/contracts/ppo/AccountList.sol
  apps/smart-contracts/token/contracts/ppo/BlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/RestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IAccountList.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IBlocklistTransferHook.sol
  apps/smart-contracts/token/contracts/ppo/interfaces/IRestrictedTransferHook.sol
  apps/smart-contracts/token/contracts/pregenesis/PregenPass.sol
  packages/prepo-shared-contracts/contracts/AllowedCallers.sol
  packages/prepo-shared-contracts/contracts/AllowlistHook.sol
  packages/prepo-shared-contracts/contracts/interfaces/IAccountList.sol
  packages/prepo-shared-contracts/contracts/interfaces/IAllowedCallers.sol
  packages/prepo-shared-contracts/contracts/interfaces/IAllowlistHook.sol
  packages/prepo-shared-contracts/test/AllowedCallers.test.ts
  packages/prepo-shared-contracts/test/AllowlistHook.test.ts
  packages/prepo-shared-contracts/test/fixtures/AllowedCallersFixture.ts
  packages/prepo-shared-contracts/test/fixtures/AllowlistHookFixture.ts
Labels: core-dapp, smart-contracts, size/M, token
