Repository prepo-io/prepo-monorepo, pull requests merged in 2023-03, with the labels that each got.

#956 feat: use ETH only for deposit
  apps/frontend/core-dapp/src/features/deposit/DepositCurrencyInput.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
Labels: core-dapp, deployed, frontend, size/XS

#955 feat: getters and setters for wsteth pools
  apps/smart-contracts/core/contracts/DepositTradeHelper.sol
  apps/smart-contracts/core/contracts/balancer/IVault.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositTradeHelper.sol
  apps/smart-contracts/core/contracts/interfaces/IWETH9.sol
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/test/fixtures/DepositTradeHelperFixture.ts
  apps/smart-contracts/core/test/integration/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/unit/DepositTradeHelper.test.ts
  packages/prepo-constants/src/addresses.ts
  packages/prepo-constants/src/general-constants.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/XL

#958 feat: remove collateralization factor
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/interfaces/IManagerWithdrawHook.sol
  apps/smart-contracts/core/deploy/ConfigureStackViaSigner.ts
  apps/smart-contracts/core/deploy/ManagerWithdrawHook.ts
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/harnesses/prod.ts
  apps/smart-contracts/core/helpers/roles.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  apps/smart-contracts/core/test/unit/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/types/harnesses.ts
  packages/prepo-constants/src/deployments.ts
  packages/prepo-constants/src/roles.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/XXL

#962 fix: null-pointer in makeError
  packages/prepo-utils/src/makeError.ts
Labels: deployed, frontend, size/XS

#957 feat: add BalancerStore with wstETH prices (wip)
  apps/frontend/core-dapp/abi/balancerQueries.abi.json
  apps/frontend/core-dapp/src/lib/external-contracts.ts
  apps/frontend/core-dapp/src/stores/BalancerStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
Labels: core-dapp, deployed, frontend, size/L

#963 fix: rework withdraw limit around the setter and initialization
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
  apps/smart-contracts/core/deploy/WithdrawHook.ts
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/test/fixtures/HookFixture.ts
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
  packages/prepo-constants/src/core.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/L

#968 chore: add named return arg for deposit and change param args
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
Labels: core-dapp, smart-contracts, size/M

#950 feat: deposit trade helper wrap and deposit
  apps/frontend/core-dapp/abi/depositTradeHelper.abi.json
  apps/frontend/core-dapp/jest.setup.ts
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/__tests__/DepositStore.test.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/DepositTradeHelperStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
Labels: core-dapp, deployed, frontend, size/L

#965 fix: add cool off to multicall in case we get rate limited
  packages/prepo-stores/src/MulticallStore.ts
Labels: deployed, frontend, size/S

#969 chore: add awaits to event emission assertions
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/DepositRecord.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositHook.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositRecord.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
  apps/smart-contracts/core/test/unit/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  apps/smart-contracts/core/test/unit/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/unit/LongShortToken.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
  packages/prepo-shared-contracts/contracts/interfaces/ITokenSender.sol
Labels: core-dapp, smart-contracts, size/L

#978 feat: add mean-finance StaticOracle interface
  apps/smart-contracts/core/contracts/UniswapV3OracleUintValue.sol
  apps/smart-contracts/core/test/fixtures/UintValueFixtures.ts
  apps/smart-contracts/core/test/fixtures/UniswapV3OracleFixture.ts
  apps/smart-contracts/core/test/unit/TokenSender.test.ts
  apps/smart-contracts/core/test/unit/UniswapV3OracleUintValue.test.ts
  packages/prepo-shared-contracts/contracts/interfaces/IUniswapV3OracleUintValue.sol
  packages/prepo-shared-contracts/contracts/mean-finance/interfaces/IUniswapV3Oracle.sol
Labels: core-dapp, smart-contracts, size/L

#971 Feat/deposit page layout
  apps/frontend/core-dapp/src/components/PageCard.tsx
  apps/frontend/core-dapp/src/components/SummaryRecord.tsx
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  apps/frontend/core-dapp/src/features/definitions/index.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
Labels: core-dapp, deployed, frontend, size/M

#966 Feat/lido apr
  apps/frontend/core-dapp/src/SpecialPrePOLogo.tsx
  apps/frontend/core-dapp/src/features/deposit/BalanceBox.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/pages/portfolio/deposit.tsx
  apps/frontend/core-dapp/src/utils/number-utils.ts
  packages/prepo-ui/src/components/Icon/icon-components/currencies/LidoEth.tsx
  packages/prepo-ui/src/components/Icon/icon-components/currencies/index.tsx
Labels: core-dapp, deployed, frontend, size/L

#973 chore: rename WETH contract to wstETH
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
Labels: core-dapp, deployed, frontend, size/XS

#974 fix: ignore "block skew detected" error
  packages/prepo-stores/src/utils/error-capturer-util.ts
Labels: deployed, frontend, size/XS

#982 Feat/inter font
  apps/frontend/core-dapp/public/fonts/EuclidCircularA/Bold.ttf
  apps/frontend/core-dapp/public/fonts/EuclidCircularA/Medium.ttf
  apps/frontend/core-dapp/public/fonts/EuclidCircularA/Regular.ttf
  apps/frontend/core-dapp/public/fonts/EuclidCircularA/SemiBold.ttf
  apps/frontend/core-dapp/public/fonts/EuclidCircularB/Bold.ttf
  apps/frontend/core-dapp/public/fonts/EuclidCircularB/Medium.ttf
  apps/frontend/core-dapp/public/fonts/EuclidCircularB/Regular.ttf
  apps/frontend/core-dapp/public/fonts/EuclidCircularB/SemiBold.ttf
  apps/frontend/core-dapp/src/pages/_document.tsx
  apps/frontend/core-dapp/src/styles/default.css
  packages/prepo-ui/src/components/Icon/icon-components/application/CheckIcon.tsx
  packages/prepo-ui/src/styled.d.ts
  packages/prepo-ui/src/themes/core-dapp/font-utils.ts
  packages/prepo-ui/src/themes/core-dapp/utils.ts
Labels: core-dapp, deployed, frontend, size/M

#985 feat: deposit info
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
Labels: core-dapp, deployed, frontend, size/M

#988 feat: add mean-finance contracts
  apps/smart-contracts/external/uniswapV3Oracle/.eslintrc.js
  apps/smart-contracts/external/uniswapV3Oracle/contracts/UniswapV3Oracle.sol
  apps/smart-contracts/external/uniswapV3Oracle/contracts/interfaces/IUniswapV3Oracle.sol
  apps/smart-contracts/external/uniswapV3Oracle/deploy/UniswapV3Oracle.ts
  apps/smart-contracts/external/uniswapV3Oracle/deployments/arbitrumOne/.chainId
  apps/smart-contracts/external/uniswapV3Oracle/deployments/arbitrumOne/UniswapV3Oracle.json
  apps/smart-contracts/external/uniswapV3Oracle/deployments/arbitrumOne/solcInputs/3f75ecca3cfa2235c95374b5d9aa292e.json
  apps/smart-contracts/external/uniswapV3Oracle/hardhat.config.ts
  apps/smart-contracts/external/uniswapV3Oracle/package.json
  apps/smart-contracts/external/uniswapV3Oracle/tsconfig.json
  apps/smart-contracts/external/uniswapV3Oracle/yarn.lock
  packages/prepo-constants/src/addresses.ts
  packages/prepo-constants/src/deployments.ts
Labels: smart-contracts, size/XXL

#994 chore: uppercase UniswapV3Oracle folder
  apps/smart-contracts/external/UniswapV3Oracle/.eslintrc.js
  apps/smart-contracts/external/UniswapV3Oracle/contracts/UniswapV3Oracle.sol
  apps/smart-contracts/external/UniswapV3Oracle/contracts/interfaces/IUniswapV3Oracle.sol
  apps/smart-contracts/external/UniswapV3Oracle/deploy/UniswapV3Oracle.ts
  apps/smart-contracts/external/UniswapV3Oracle/deployments/arbitrumOne/.chainId
  apps/smart-contracts/external/UniswapV3Oracle/deployments/arbitrumOne/UniswapV3Oracle.json
  apps/smart-contracts/external/UniswapV3Oracle/deployments/arbitrumOne/solcInputs/3f75ecca3cfa2235c95374b5d9aa292e.json
  apps/smart-contracts/external/UniswapV3Oracle/hardhat.config.ts
  apps/smart-contracts/external/UniswapV3Oracle/package.json
  apps/smart-contracts/external/UniswapV3Oracle/tsconfig.json
  apps/smart-contracts/external/UniswapV3Oracle/yarn.lock
Labels: smart-contracts, size/XS

#987 feat: add redeem button on Positions for redeemed markets
  apps/frontend/core-dapp/src/features/position/Position.tsx
  apps/frontend/core-dapp/src/features/position/Positions.tsx
Labels: core-dapp, deployed, frontend, size/M

#986 refactor: remove the `preCT` naming in favor of `Collateral`
  apps/frontend/core-dapp/jest.setup.ts
  apps/frontend/core-dapp/src/__mocks__/test-mocks/market-utils.mocks.ts
  apps/frontend/core-dapp/src/features/deposit/BalanceBox.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/__tests__/DepositStore.test.ts
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/features/portfolio/PortfolioValue.tsx
  apps/frontend/core-dapp/src/features/testnet-onboarding/DynamicBanner.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/__tests__/TradeStore.test.ts
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTrade.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeButton.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawInput.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/__tests__/WithdrawStore.test.ts
  apps/frontend/core-dapp/src/graphql/core-dapp.graphql
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/TokensStore.ts
  apps/frontend/core-dapp/src/stores/entities/MarketEntity.ts
  apps/frontend/core-dapp/src/utils/market-utils.ts
Labels: core-dapp, deployed, frontend, size/L

#995 feat: disable deposit if deposit isnt allowed
  apps/frontend/core-dapp/abi/depositHook.abi.json
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositButton.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/__tests__/DepositStore.test.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/DepositHookStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
Labels: core-dapp, deployed, frontend, size/L

#984 fix: tooltip copy
  apps/frontend/core-dapp/public/fonts/Inter-roman.var.woff2
  apps/frontend/core-dapp/src/components/Link.tsx
  apps/frontend/core-dapp/src/components/PageCard.tsx
  apps/frontend/core-dapp/src/components/PpoRewardSummaryRecord.tsx
  apps/frontend/core-dapp/src/components/SummaryRecord.tsx
  apps/frontend/core-dapp/src/features/definitions/index.tsx
  apps/frontend/core-dapp/src/features/deposit/BalanceBox.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositSummary.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawSummary.tsx
  apps/frontend/core-dapp/src/styles/default.css
  apps/frontend/core-dapp/src/utils/number-utils.ts
  packages/prepo-ui/src/themes/core-dapp/colors.ts
Labels: core-dapp, deployed, frontend, size/L

#997 feat: new contract addresses
  apps/frontend/core-dapp/src/lib/core-contracts.ts
Labels: core-dapp, deployed, frontend, size/S

#967 feat: use ETH values for wstETH on the withdraw page
  apps/frontend/core-dapp/src/features/withdraw/WithdrawButton.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawInput.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawWarning.tsx
  apps/frontend/core-dapp/src/features/withdraw/__tests__/WithdrawStore.test.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/BalancerStore.ts
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/TokenSenderStore.ts
  apps/frontend/core-dapp/src/stores/WithdrawHookStore.ts
Labels: core-dapp, deployed, frontend, size/L

#972 feat: display ETH balance on deposit page
  apps/frontend/core-dapp/src/features/deposit/BalanceBox.tsx
Labels: core-dapp, deployed, frontend, size/XS

#1001 fix: hide deposits banner
  apps/frontend/core-dapp/src/components/layout/Header.tsx
Labels: core-dapp, deployed, frontend, size/XS

#998 feat: use new ABI on `wrapAndDeposit`
  apps/frontend/core-dapp/abi/depositTradeHelper.abi.json
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/AdvancedSettingsStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/BalancerStore.ts
  apps/frontend/core-dapp/src/stores/DepositTradeHelperStore.ts
Labels: core-dapp, deployed, frontend, size/L

#1000 feat: display the deposit limits in ETH rather than wstETH
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawWarning.tsx
  apps/frontend/core-dapp/src/stores/DepositRecordStore.ts
  apps/frontend/core-dapp/src/utils/__tests__/balance-limits.test.ts
  apps/frontend/core-dapp/src/utils/balance-limits.ts
Labels: core-dapp, deployed, frontend, size/L

#993 chore: remove docs from interfaces we already have not deployed
  apps/smart-contracts/core/contracts/interfaces/IArbitrageBroker.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositRecord.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositTradeHelper.sol
  apps/smart-contracts/core/contracts/interfaces/ILongShortToken.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
  apps/smart-contracts/core/test/integration/DepositTradeHelper.test.ts
  packages/prepo-shared-contracts/contracts/mean-finance/interfaces/IUniswapV3Oracle.sol
Labels: core-dapp, smart-contracts, deployed, size/L

#983 feat: hide portfolio page
  apps/frontend/core-dapp/src/lib/routes.ts
  apps/frontend/core-dapp/src/pages/deposit.tsx
  apps/frontend/core-dapp/src/pages/portfolio/index.tsx
  apps/frontend/core-dapp/src/pages/withdraw.tsx
Labels: core-dapp, deployed, frontend, size/M

#975 feat: add basic /terms page
  apps/frontend/core-dapp/src/features/terms/TermsPage.tsx
  apps/frontend/core-dapp/src/pages/terms.tsx
Labels: core-dapp, deployed, frontend, size/L

#999 feat: withdraw and unwrap
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/__tests__/DepositStore.test.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/__tests__/WithdrawStore.test.ts
  apps/frontend/core-dapp/src/lib/other-interfaces.ts
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
  apps/frontend/core-dapp/src/stores/DepositTradeHelperStore.ts
Labels: core-dapp, deployed, frontend, size/L

#1003 Fix/ppo reward value calculation
  apps/frontend/core-dapp/abi/tokenSender.abi.json
  apps/frontend/core-dapp/src/components/PpoRewardSummaryRecord.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/stores/TokenSenderStore.ts
Labels: core-dapp, deployed, frontend, size/XL

#1005 feat: handle price impact on deposit and withdraw
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/AdvancedSettingsStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawButton.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/__tests__/WithdrawStore.test.ts
  apps/frontend/core-dapp/src/stores/BalancerStore.ts
  apps/frontend/core-dapp/src/stores/DepositTradeHelperStore.ts
  apps/frontend/core-dapp/src/utils/market-utils.ts
Labels: core-dapp, deployed, frontend, size/L

#1009 feat: dynamically initialize TokenSender contract for deposit and wit…
  apps/frontend/core-dapp/src/components/PpoRewardSummaryRecord.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawSummary.tsx
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/DepositHookStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/WithdrawHookStore.ts
  apps/frontend/core-dapp/src/stores/entities/TokenSenderEntity.ts
Labels: core-dapp, deployed, frontend, size/L

#1011 feat: display slippage on the withdraw page
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
Labels: core-dapp, deployed, frontend, size/XS

#1010 fix: various fixes to the deposit and withdraw UI
  apps/frontend/core-dapp/src/components/PageCard.tsx
  apps/frontend/core-dapp/src/components/SummaryRecord.tsx
  apps/frontend/core-dapp/src/features/definitions/index.tsx
  apps/frontend/core-dapp/src/features/deposit/BalanceBox.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositButton.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawWarning.tsx
  packages/prepo-ui/src/components/CurrencyInput/CurrencyInput.tsx
  packages/prepo-ui/src/components/Tooltip/Tooltip.tsx
Labels: core-dapp, deployed, frontend, size/L

#1012 feat: don't show rewards if TokenSender doesn't have PPO
  apps/frontend/core-dapp/src/stores/entities/TokenSenderEntity.ts
Labels: core-dapp, deployed, frontend, size/S

#1016 feat: cap the amount in CurrencyInput to 99k
  packages/prepo-ui/src/components/CurrencyInput/CurrencyInput.tsx
Labels: deployed, frontend, size/S
