Repository prepo-io/prepo-monorepo, pull requests merged in 2023-07, with the labels that each got.

#1509 feat: redirect to `eth.limo`
  apps/frontend/core-dapp/src/pages/_app.tsx
Labels: core-dapp, frontend, size/S

#1511 fix: redirect not working
  apps/frontend/core-dapp/src/pages/_app.tsx
Labels: core-dapp, frontend, size/XS

#1510 chore: hide chart and restore FDV on market dropdown
  apps/frontend/core-dapp/src/features/trade/SlideUpRow.tsx
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/PositionsSlideUp.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/MarketSlideUp.tsx
Labels: core-dapp, frontend, size/L

#1520 chore: downgrade kubo
  .github/workflows/preload-fe.yml
  .github/workflows/publish-ipns.yml
Labels: size/XS

#1521 chore: remove banners
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  apps/frontend/core-dapp/src/lib/markets.ts
  apps/frontend/website/src/components/layout/Banner.tsx
  apps/frontend/website/src/lib/constants.ts
Labels: core-dapp, frontend, website

#1519 feat: use prepo shared contracts with foundry without tgz
  apps/smart-contracts/core/foundry.toml
  apps/smart-contracts/core/package.json
  packages/prepo-shared-contracts/contracts/prepo-shared-contracts-contracts-v0.0.0.tgz
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/XS

#1515 feat: support generic smart contract wallets on open trade
  apps/frontend/core-dapp/src/features/trade/__tests__/TradeStore.test.ts
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeButton.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeCurrencyInput.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeStore.ts
  apps/frontend/core-dapp/src/stores/DepositTradeHelperStore.ts
  apps/frontend/core-dapp/src/stores/TransactionBundleStore.ts
  apps/frontend/core-dapp/src/stores/entities/Erc20.entity.ts
  apps/frontend/core-dapp/src/stores/entities/Erc20Permit.entity.ts
  apps/frontend/core-dapp/src/types/transaction.types.ts
  packages/prepo-stores/src/ContractStore.ts
  packages/prepo-stores/src/index.ts
Labels: core-dapp, frontend, size/XL

#1516 feat: integrate TransactionBundleStore with close position, redeem, and withdraw
  apps/frontend/core-dapp/src/features/trade/close-trade/ClosePositionButton.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/CloseTrade.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/CloseTradeStore.ts
  apps/frontend/core-dapp/src/features/trade/close-trade/PositionsSlideUp.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawButton.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/stores/DepositTradeHelperStore.ts
  apps/frontend/core-dapp/src/stores/TransactionBundleStore.ts
  apps/frontend/core-dapp/src/stores/entities/BaseMarketEntity.ts
Labels: core-dapp, frontend, size/L

#1518 chore: fork `@web3-onboard/gnosis` and upgrade its dependencies
  apps/frontend/core-dapp/package.json
  packages/prepo-stores/package.json
  packages/prepo-stores/src/utils/onboard-config.ts
  packages/prepo-stores/src/utils/onboard-gnosis/icon.ts
  packages/prepo-stores/src/utils/onboard-gnosis/index.ts
  yarn.lock
Labels: non-app, core-dapp, frontend, size/M

#1523 feat: add Intercom
  apps/frontend/core-dapp/e2e/utils/wallet-connect.ts
  apps/frontend/core-dapp/package.json
  apps/frontend/core-dapp/src/components/Intercom.tsx
  apps/frontend/core-dapp/src/pages/_app.tsx
  apps/frontend/core-dapp/src/utils/deferred.ts
  yarn.lock
Labels: non-app, core-dapp, frontend, size/M

#1525 chore: update GitHub actions pipelines to deploy IPNS with own IPFS node
  .github/workflows/publish-ipns.yml
  apps/frontend/core-dapp/src/stores/RootStore.ts
Labels: core-dapp, frontend, size/M

#1526 fix: ssh to IPFS node
  .github/workflows/publish-ipns.yml
  apps/frontend/core-dapp/src/stores/RootStore.ts
Labels: core-dapp, frontend, size/XS

#1527 fix: ssh authentication
  .github/workflows/publish-ipns.yml
Labels: size/XS

#1528 fix: ssh permissions
  .github/workflows/publish-ipns.yml
Labels: size/XS

#1522 chore: update to yarn v3
  .github/workflows/checks.yml
  .github/workflows/cleanup-infura.yml
  .github/workflows/deploy-fe.yml
  .github/workflows/preload-fe.yml
  .gitignore
  .npmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  apps/frontend/core-dapp/internals/mst-gql-generate.bash
  apps/frontend/core-dapp/package.json
  apps/frontend/docs/package.json
  apps/frontend/react-boilerplate/internals/mst-gql-generate.bash
  apps/frontend/react-boilerplate/next.config.js
  apps/frontend/react-boilerplate/package.json
  apps/frontend/react-boilerplate/sentry.client.config.js
  apps/frontend/react-boilerplate/sentry.properties
  apps/frontend/react-boilerplate/sentry.server.config.js
  apps/frontend/react-boilerplate/src/pages/_app.tsx
  apps/frontend/react-boilerplate/src/pages/_error.tsx
  apps/frontend/react-boilerplate/src/pages/api/tunnel.ts
  apps/frontend/simulator/package.json
  apps/frontend/website/package.json
  apps/smart-contracts/external/UniswapV3Oracle/yarn.lock
  apps/smart-contracts/external/yield/yarn.lock
  apps/smart-contracts/token/package.json
  apps/subgraphs/boilerplate/yarn.lock
  apps/subgraphs/core-dapp/yarn.lock
  apps/subgraphs/prepo-arbitrum/yarn.lock
  apps/subgraphs/public-sale/yarn.lock
  apps/subgraphs/usdc/yarn.lock
  package.json
  packages/prepo-constants/package.json
  packages/prepo-hardhat/package.json
  packages/prepo-sdk/package.json
  packages/prepo-shared-contracts/contracts/package.json
  packages/prepo-shared-contracts/package.json
  yarn.lock
Labels: docs, non-app, core-dapp, smart-contracts, frontend, boilerplate, simulator, website, size/XXL, token

#1524 chore: upgrade to node v20
  .github/workflows/checks.yml
  .github/workflows/cleanup-infura.yml
  .github/workflows/deploy-fe.yml
  .github/workflows/preload-fe.yml
  .github/workflows/rollback-ipns.yml
  .nvmrc
  apps/frontend/core-dapp/package.json
  apps/frontend/docs/package.json
  apps/smart-contracts/external/UniswapV3Oracle/package.json
  apps/smart-contracts/external/yield/package.json
  apps/subgraphs/boilerplate/package.json
  apps/subgraphs/core-dapp/package.json
  apps/subgraphs/prepo-arbitrum/package.json
  apps/subgraphs/public-sale/package.json
  apps/subgraphs/usdc/package.json
  package.json
  yarn.lock
Labels: docs, non-app, core-dapp, smart-contracts, frontend, boilerplate, size/M

#1513 chore: switch to client side redirect
  apps/frontend/core-dapp/src/pages/_app.tsx
Labels: core-dapp, frontend, size/S

#1514 chore: replace `app.prepo.io` with `prepo.eth.limo` everywhere
  apps/frontend/core-dapp/e2e/utils/wallet-connect.ts
  apps/frontend/core-dapp/next-sitemap.js
  apps/frontend/core-dapp/playwright.config.ts
  apps/frontend/core-dapp/src/features/terms/TermsPage.tsx
  apps/frontend/core-dapp/src/utils/isOutdated.ts
  apps/frontend/docs/docs/faq.md
  apps/frontend/docs/docusaurus.config.js
  apps/frontend/docs/src/components/official-links/links.ts
  apps/frontend/website/src/lib/constants.ts
Labels: docs, core-dapp, frontend, website, size/S
