Repository prepo-io/prepo-monorepo, pull requests merged in 2023-01, with the labels that each got.

#740 core:feat: add fixtures to easily mint positions and collateral
  apps/smart-contracts/core/contracts/test/Create2Deployer.sol
  apps/smart-contracts/core/externalArtifacts/INonfungiblePositionManager.sol/INonfungiblePositionManager.json
  apps/smart-contracts/core/externalArtifacts/NonfungiblePositionManager.sol/NonfungiblePositionManager.json
  apps/smart-contracts/core/externalArtifacts/SwapRouter.sol/SwapRouter.json
  apps/smart-contracts/core/externalArtifacts/UniswapV3Factory.sol/UniswapV3Factory.json
  apps/smart-contracts/core/externalArtifacts/UniswapV3Pool.sol/UniswapV3Pool.json
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/helpers/events.ts
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/test/ArbitrageTrading.test.ts
  apps/smart-contracts/core/test/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/fixtures/Create2DeployerFixtures.ts
  apps/smart-contracts/core/test/fixtures/LongShortTokenFixture.ts
  apps/smart-contracts/core/test/fixtures/UniswapFixtures.ts
  apps/smart-contracts/core/types/harnesses.ts
  packages/prepo-constants/src/addresses.ts
  packages/prepo-constants/src/general-constants.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, deployed, frontend, size/XXL

#750 chore: formatting on Thales js files
  apps/smart-contracts/external/yield/hardhat.config.js
  apps/smart-contracts/external/yield/hardhat/extensions/extension-log.js
  apps/smart-contracts/external/yield/hardhat/index.js
  apps/smart-contracts/external/yield/hardhat/tasks/task-compile.js
  apps/smart-contracts/external/yield/hardhat/tasks/task-describe.js
  apps/smart-contracts/external/yield/hardhat/tasks/task-node.js
  apps/smart-contracts/external/yield/hardhat/tasks/task-test-prod.js
  apps/smart-contracts/external/yield/hardhat/tasks/task-test.js
  apps/smart-contracts/external/yield/hardhat/util/collectContractBytecodes.js
  apps/smart-contracts/external/yield/hardhat/util/describeSources.js
  apps/smart-contracts/external/yield/hardhat/util/optimizeIfRequired.js
  apps/smart-contracts/external/yield/index.js
  apps/smart-contracts/external/yield/package.json
  apps/smart-contracts/external/yield/publish/src/commands/build.js
  apps/smart-contracts/external/yield/publish/src/contract-size.js
  apps/smart-contracts/external/yield/publish/src/solidity-header.js
  apps/smart-contracts/external/yield/publish/src/solidity.js
  apps/smart-contracts/external/yield/publish/src/util.js
  apps/smart-contracts/external/yield/scripts/deploy_transparent.js
  apps/smart-contracts/external/yield/scripts/deployments.md
  apps/smart-contracts/external/yield/scripts/helpers.js
  apps/smart-contracts/external/yield/scripts/proxy_guide.md
  apps/smart-contracts/external/yield/test/SingleTokenStakingRewards.js
  apps/smart-contracts/external/yield/test/utils/common.js
  apps/smart-contracts/external/yield/test/utils/helpers.js
  apps/smart-contracts/external/yield/test/utils/index.js
  apps/smart-contracts/external/yield/test/utils/setup.js
Labels: smart-contracts, size/XXL

#751 feat: modify notifyRewardAmount and revise existing tests
  apps/smart-contracts/external/yield/contracts/EscrowAndStaking/SingleTokenStakingRewards.sol
  apps/smart-contracts/external/yield/test/SingleTokenStakingRewards.js
  apps/smart-contracts/external/yield/test/utils/helpers.js
  apps/smart-contracts/external/yield/test/utils/index.js
Labels: smart-contracts, size/L

#756 feat: remove unused totalRewards variable
  apps/smart-contracts/external/yield/contracts/EscrowAndStaking/SingleTokenStakingRewards.sol
Labels: smart-contracts, size/XS

#757 feat: add notifyRewardAmount tests (no stakers and period not finished)
  apps/smart-contracts/external/yield/test/SingleTokenStakingRewards.js
  apps/smart-contracts/external/yield/test/utils/helpers.js
Labels: smart-contracts, size/L

#753 feat: update docs partners
  apps/frontend/docs/docs/partners.md
  apps/frontend/docs/src/components/partners/partners.ts
  apps/frontend/docs/static/img/partners/Smoothie.png
  apps/frontend/docs/static/img/partners/Uniswap.png
  apps/frontend/docs/static/img/partners/cryptocurrency_jobs.png
Labels: docs, deployed, frontend, size/S

#765 feat: remove bond banner
  apps/frontend/website/src/components/layout/Header.tsx
Labels: deployed, frontend, website, size/XS

#764 feat: add notifyRewardAmount tests for when amount=0
  apps/smart-contracts/external/yield/test/SingleTokenStakingRewards.js
Labels: smart-contracts, size/M

#760 feat: remove pausable from SingleTokenStakingRewards
  apps/smart-contracts/external/yield/contracts/EscrowAndStaking/SingleTokenStakingRewards.sol
  apps/smart-contracts/external/yield/test/SingleTokenStakingRewards.js
Labels: smart-contracts, size/S

#763 feat: add additional tests for compound
  apps/smart-contracts/external/yield/test/SingleTokenStakingRewards.js
  apps/smart-contracts/external/yield/test/utils/helpers.js
Labels: smart-contracts, size/L

#762 feat: add emergencyWithdraw function and tests
  apps/smart-contracts/external/yield/contracts/EscrowAndStaking/SingleTokenStakingRewards.sol
  apps/smart-contracts/external/yield/test/SingleTokenStakingRewards.js
Labels: smart-contracts, size/L

#761 feat: remove addReward from SingleTokenStakingRewards
  apps/smart-contracts/external/yield/contracts/EscrowAndStaking/SingleTokenStakingRewards.sol
  apps/smart-contracts/external/yield/test/SingleTokenStakingRewards.js
Labels: smart-contracts, size/M

#766 feat: boilerplate code for close trade tab
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
  apps/frontend/core-dapp/src/features/trade/TradePageTab.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/CloseTrade.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/index.tsx
Labels: core-dapp, deployed, frontend, size/S

#767 feat: isolate slideup row into independent component that can be reused
  apps/frontend/core-dapp/src/components/Skeleton.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpButton.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpRow.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/MarketSlideUp.tsx
Labels: core-dapp, deployed, frontend, size/L

#770 fix/header bugs
  apps/frontend/core-dapp/src/components/PrePOLogo.tsx
  apps/frontend/core-dapp/src/components/SettingsMenu/NetworkStatus.tsx
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/BrandLogo.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/BrandLogomark.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/index.tsx
Labels: core-dapp, deployed, frontend, size/L

#776 core:fix: add L/S approvals to market for redemption
  apps/smart-contracts/core/contracts/ArbitrageBroker.sol
  apps/smart-contracts/core/test/ArbitrageBroker.test.ts
Labels: core-dapp, smart-contracts, size/XS

#771 feat: adding initial helpers for role assignment
  apps/smart-contracts/core/helpers/roles.ts
Labels: core-dapp, smart-contracts, size/L

#772 feat: added calculation helpers for pool math
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/helpers/events.ts
  apps/smart-contracts/core/helpers/uniswap.ts
  apps/smart-contracts/core/test/ArbitrageTrading.test.ts
  apps/smart-contracts/core/test/fixtures/UniswapFixtures.ts
  packages/prepo-constants/src/addresses.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/L

#782 feat: new tooltip design, remove core dapp version, use prepo-ui
  apps/frontend/core-dapp/src/components/GlobalStyle.tsx
  apps/frontend/core-dapp/src/components/Tooltip.tsx
  packages/prepo-ui/src/components/Tooltip/Tooltip.tsx
  packages/prepo-ui/src/components/Tooltip/index.tsx
  packages/prepo-ui/src/components/index.ts
Labels: core-dapp, deployed, frontend, size/M

#784 feat: remove unused toast functions
  apps/frontend/core-dapp/src/stores/UiStore.ts
Labels: core-dapp, deployed, frontend, size/S

#769 fix: upgrade to OZ 4.8.1
  apps/smart-contracts/core/package.json
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/test/TokenShop.test.ts
  packages/prepo-shared-contracts/package.json
  packages/prepo-shared-contracts/test/WithdrawERC721.test.ts
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/S, token

#565 feat: open trade summary
  apps/frontend/core-dapp/src/components/SummaryRecord.tsx
  apps/frontend/core-dapp/src/features/definitions/index.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTrade.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeSummary.tsx
Labels: core-dapp, deployed, frontend, size/L

#783 feat: track purchase event with public sale subgraph
  apps/subgraphs/public-sale/schema.graphql
  apps/subgraphs/public-sale/src/mappings/purchase.ts
Labels: frontend, size/S

#788 fix: estimated valuation tooltip causing build failure
  apps/frontend/core-dapp/src/features/market-overview/MarketDataColumn.tsx
Labels: core-dapp, frontend, size/XS

#789 fix: remove marketName prop from EstimatedValuation
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
Labels: core-dapp, frontend, size/XS

#785 feat: make connect button generic so it can be reused by trade component
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  apps/frontend/core-dapp/src/features/connect/ConnectButton.tsx
Labels: core-dapp, deployed, frontend, size/M

#790 feat: add ppo yield website banner
  apps/frontend/website/src/components/layout/Banner.tsx
  apps/frontend/website/src/components/layout/Header.tsx
  apps/frontend/website/src/lib/constants.ts
Labels: deployed, frontend, website, size/XS

#780 feat: add buyAndRedeem functional test
  apps/smart-contracts/core/test/ArbitrageTrading.test.ts
Labels: core-dapp, smart-contracts, deployed, size/L

#786 fix: layout padding to match design
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  apps/frontend/core-dapp/src/components/layout/Layout.tsx
Labels: core-dapp, deployed, frontend, size/XS

#787 fix: currency input disabled should not hide balance
  packages/prepo-ui/src/components/CurrencyInput/CurrencyInput.tsx
Labels: deployed, frontend, size/XS

#791 core:chore: separate unit tests from integration ones
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
  apps/smart-contracts/core/test/unit/AllowedCollateralCaller.test.ts
  apps/smart-contracts/core/test/unit/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  apps/smart-contracts/core/test/unit/DepositHook.test.ts
  apps/smart-contracts/core/test/unit/DepositRecord.test.ts
  apps/smart-contracts/core/test/unit/DepositRecordCaller.test.ts
  apps/smart-contracts/core/test/unit/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/unit/LongShortToken.test.ts
  apps/smart-contracts/core/test/unit/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/unit/MintHook.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/unit/RedeemHook.test.ts
  apps/smart-contracts/core/test/unit/TokenSender.test.ts
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/L

#775 feat: simplified trade button
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/TradeTransactionSummary.tsx
  apps/frontend/core-dapp/src/features/trade/__tests__/TradeStore.test.ts
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTrade.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeButton.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeSummary.tsx
  packages/prepo-constants/src/networks.ts
Labels: core-dapp, deployed, frontend, size/L

#796 feat: reusable page card on withdraw and deposit pages, can also be reused…
  apps/frontend/core-dapp/src/components/PageCard.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/ChevronLeftIcon.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/index.tsx
Labels: core-dapp, deployed, frontend, size/L

#792 feat: add initial Arbitrage script with token getter
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/helpers/uniswap.ts
  apps/smart-contracts/core/scripts/ArbitragePools.ts
  apps/smart-contracts/core/scripts/exportedArtifacts/IERC20.json
  apps/smart-contracts/core/scripts/exportedArtifacts/IPrePOMarket.json
  apps/smart-contracts/core/scripts/exportedArtifacts/IUniswapV3Factory.json
  apps/smart-contracts/core/scripts/exportedArtifacts/IUniswapV3Pool.json
  apps/smart-contracts/core/test/fixtures/UniswapFixtures.ts
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
  apps/smart-contracts/core/tsconfig.json
Labels: core-dapp, smart-contracts, size/XXL

#778 feat: close trade positions list
  apps/frontend/core-dapp/src/components/Skeleton.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/features/position/ClosePositionSummary.tsx
  apps/frontend/core-dapp/src/features/position/Positions.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpButton.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpCard.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpRow.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/close-trade/CloseTrade.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/PositionLoadingSkeleton.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/PositionsSlideUp.tsx
  apps/frontend/core-dapp/src/features/trade/useTradePage.tsx
  apps/frontend/core-dapp/src/utils/number-utils.ts
Labels: core-dapp, deployed, frontend, size/L

#804 fix: current arrow down is wrong
  apps/frontend/core-dapp/src/components/AdvancedSettingsModal/CollapsibleItem.tsx
  apps/frontend/core-dapp/src/components/Dropdown.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/CurrencySelectionComponent.tsx
  apps/frontend/core-dapp/src/components/Select.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/ArrowDownIcon.tsx
Labels: core-dapp, deployed, frontend, size/S

#800 fix: better input to bignumber handling
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/position/ClosePositionSummary.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/stores/entities/Erc20.entity.ts
  packages/prepo-utils/__tests__/utils.test.ts
  packages/prepo-utils/jest.config.ts
  packages/prepo-utils/src/index.ts
  packages/prepo-utils/src/parseUnits.ts
  packages/prepo-utils/src/validateStringToBN.ts
Labels: core-dapp, deployed, frontend, size/L

#810 feat: hide website banner
  apps/frontend/website/src/components/layout/Header.tsx
Labels: deployed, frontend, website, size/XS

#805 feat: add slippage factor calculator with error handling
  apps/smart-contracts/core/scripts/ArbitragePools.ts
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
Labels: core-dapp, smart-contracts, size/L

#811 feat: add Sinon mocking library
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
  package.json
  yarn.lock
Labels: non-app, core-dapp, smart-contracts, size/XS

#813 feat: add getIdealTradeSize function for arbitrage script
  apps/smart-contracts/core/scripts/ArbitragePools.ts
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
Labels: core-dapp, smart-contracts, size/L

#799 feat: deposit button
  apps/frontend/core-dapp/src/features/deposit/DepositButton.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositTransactionSummary.tsx
  apps/frontend/core-dapp/src/features/deposit/__tests__/DepositStore.test.ts
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
Labels: core-dapp, deployed, frontend, size/L

#815 feat: add executeTradeIfProfitable to further isolate trade logic
  apps/smart-contracts/core/scripts/ArbitragePools.ts
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
Labels: core-dapp, smart-contracts, size/L

#808 feat: better and cleaner markets initialization
  apps/frontend/core-dapp/src/features/deposit/__tests__/DepositStore.test.ts
  apps/frontend/core-dapp/src/features/portfolio/PortfolioStore.ts
  apps/frontend/core-dapp/src/features/position/ClosePositionSummary.tsx
  apps/frontend/core-dapp/src/features/position/Positions.tsx
  apps/frontend/core-dapp/src/features/testnet-onboarding/DynamicBanner.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpRow.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/__tests__/TradeStore.test.ts
  apps/frontend/core-dapp/src/features/trade/close-trade/PositionsSlideUp.tsx
  apps/frontend/core-dapp/src/stores/MarketStore.ts
  apps/frontend/core-dapp/src/stores/entities/MarketEntity.ts
  apps/frontend/core-dapp/src/stores/entities/Position.entity.ts
Labels: core-dapp, deployed, frontend, size/XL

#817 feat: withdraw input
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawTransactionSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/__tests__/WithdrawStore.test.ts
Labels: core-dapp, deployed, frontend, size/L

#820 feat: arbitrage script's main arbitragePools function
  apps/smart-contracts/core/scripts/ArbitragePools.ts
Labels: core-dapp, smart-contracts, size/M
