Repository prepo-io/prepo-monorepo, pull requests merged in 2023-02, with the labels that each got.

#818 feat: withdraw summary
  apps/frontend/core-dapp/src/components/SummaryRecord.tsx
  apps/frontend/core-dapp/src/features/definitions/index.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawTransactionSummary.tsx
Labels: core-dapp, deployed, frontend, size/M

#823 chore: remove old tasks that are irrelevant for new architecture
  apps/smart-contracts/core/package.json
  apps/smart-contracts/core/tasks/CoreFunding.ts
  apps/smart-contracts/core/tasks/Markets.ts
Labels: core-dapp, smart-contracts, size/L

#822 fix: sleep should happen regardless if trade executed
  apps/smart-contracts/core/scripts/ArbitragePools.ts
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
Labels: core-dapp, smart-contracts, size/S

#826 feat: make quoteExactInput generic and reusable
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/SwapStore.ts
Labels: core-dapp, deployed, frontend, size/L

#829 feat: close position button
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/close-trade/ClosePositionButton.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/CloseTrade.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/PositionsSlideUp.tsx
  apps/frontend/core-dapp/src/lib/constants.ts
  apps/frontend/core-dapp/src/stores/entities/MarketEntity.ts
  apps/frontend/core-dapp/src/stores/entities/Position.entity.ts
Labels: core-dapp, deployed, frontend, size/L

#848 refactor: simplify date utils
  apps/frontend/core-dapp/src/utils/__tests__/date-utils.test.ts
  apps/frontend/core-dapp/src/utils/date-utils.ts
Labels: core-dapp, deployed, frontend, size/M

#841 feat: add `/portfolio-next` page with the next "Positions" component
  apps/frontend/core-dapp/src/features/portfolio/PortfolioNext.tsx
  apps/frontend/core-dapp/src/features/portfolio/PositionsAndHistoryNext.tsx
  apps/frontend/core-dapp/src/features/position/Position.tsx
  apps/frontend/core-dapp/src/features/position/PositionLabel.tsx
  apps/frontend/core-dapp/src/features/position/PositionsNext.tsx
  apps/frontend/core-dapp/src/pages/portfolio-next/index.tsx
Labels: core-dapp, deployed, frontend, size/L

#846 feat:core: allow redeem for recipient other than funder
  apps/smart-contracts/core/contracts/ArbitrageBroker.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
  apps/smart-contracts/core/test/fixtures/LongShortTokenFixture.ts
  apps/smart-contracts/core/test/unit/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
  apps/smart-contracts/core/tsconfig.json
Labels: core-dapp, smart-contracts, size/L

#847 feat: add better skeletons on the positions list on `/portfolio-next`
  apps/frontend/core-dapp/src/features/position/Position.tsx
  apps/frontend/core-dapp/src/features/position/PositionsNext.tsx
Labels: core-dapp, deployed, frontend, size/M

#859 chore: remove unnecessary `font-size` prop
  apps/frontend/core-dapp/src/components/GlobalStyle.tsx
  apps/frontend/react-boilerplate/src/components/GlobalStyle.tsx
Labels: core-dapp, deployed, frontend, boilerplate, size/XS

#842 refactor:core: move roles to constants rather than relying on promises
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/helpers/roles.ts
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
  apps/smart-contracts/core/test/unit/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarketFactory.test.ts
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
  packages/prepo-constants/src/index.ts
  packages/prepo-constants/src/roles.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/L

#819 feat: withdraw button
  apps/frontend/core-dapp/src/features/withdraw/WithdrawButton.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawInput.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawTransactionSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/__tests__/WithdrawStore.test.ts
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
Labels: core-dapp, deployed, frontend, size/L

#858 fix: position name overflowing the screen
  apps/frontend/core-dapp/src/features/position/Position.tsx
Labels: core-dapp, deployed, frontend, size/XS

#863 fix:core: resolve mistake made while resolving conflict with the final PR in the train.
  apps/smart-contracts/core/contracts/FixedUintValue.sol
  apps/smart-contracts/core/deploy/ConfigureStackViaSigner.ts
  apps/smart-contracts/core/deploy/FixedUintValue.ts
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/harnesses/prod.ts
  apps/smart-contracts/core/types/harnesses.ts
  packages/prepo-constants/src/deployments.ts
  packages/prepo-constants/src/index.ts
  packages/prepo-hardhat/src/deployment-utils.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/XL

#865 feat: add market periphery contract deploy helpers
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/tasks/markets.ts
Labels: core-dapp, smart-contracts, deployed, size/L

#853 feat:core: add deposit record user cap bypass for specific account
  apps/smart-contracts/core/contracts/DepositRecord.sol
  apps/smart-contracts/core/tasks/markets.ts
  apps/smart-contracts/core/test/unit/DepositRecord.test.ts
Labels: core-dapp, smart-contracts, size/L

#871 feat: hide expired market from markets list
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/open-trade/MarketSlideUp.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTrade.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeButton.tsx
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/TimerStore.ts
  apps/frontend/core-dapp/src/stores/entities/MarketEntity.ts
Labels: core-dapp, deployed, frontend, size/M

#862 feat: add PortfolioValue component to `/portfolio-next`
  apps/frontend/core-dapp/src/features/portfolio/PortfolioNext.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioValue.tsx
  apps/frontend/core-dapp/src/features/portfolio/prepo-logo-bg-dark.svg
  apps/frontend/core-dapp/src/features/portfolio/prepo-logo-bg-light.svg
  apps/frontend/core-dapp/src/features/trade/SlideUpRow.tsx
  apps/frontend/core-dapp/src/utils/number-utils.ts
  packages/prepo-ui/src/components/Icon/icon-components/application/ArrowRightIcon3.tsx
Labels: core-dapp, deployed, frontend, size/L

#867 feat: hide History tab if wallet not connected
  apps/frontend/core-dapp/src/features/portfolio/PositionsAndHistoryNext.tsx
Labels: core-dapp, deployed, frontend, size/XS

#880 fix: core-dapp tests running indefinitely
  apps/frontend/core-dapp/src/stores/TimerStore.ts
Labels: core-dapp, deployed, frontend, size/XS

#860 feat: simulator
  packages/prepo-ui/package.json
  packages/prepo-ui/src/components/Simulator/Handle.tsx
  packages/prepo-ui/src/components/Simulator/Simulator.stories.tsx
  packages/prepo-ui/src/components/Simulator/Simulator.tsx
  packages/prepo-ui/src/components/Simulator/index.tsx
  packages/prepo-ui/src/components/Simulator/utils.ts
  packages/prepo-ui/src/components/index.ts
  packages/prepo-utils/src/calculateValuation.ts
  packages/prepo-utils/src/index.ts
  yarn.lock
Labels: non-app, deployed, frontend, size/L

#870 feat: show chart by default and hide settings
  apps/frontend/core-dapp/src/features/trade/TradePageTab.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/market-chart/index.tsx
Labels: core-dapp, deployed, frontend, size/M

#840 Feat/close position summary
  apps/frontend/core-dapp/src/components/SummaryRecord.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/close-trade/ClosePositionSummary.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/CloseTrade.tsx
Labels: core-dapp, deployed, frontend, size/L

#856 feat:core: allow market to burn tokens without approval
  apps/smart-contracts/core/contracts/ArbitrageBroker.sol
  apps/smart-contracts/core/contracts/LongShortToken.sol
  apps/smart-contracts/core/test/unit/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/unit/LongShortToken.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
Labels: core-dapp, smart-contracts, size/M

#852 feat: implement the new History design on `/portfolio-next`
  apps/frontend/core-dapp/src/features/history/History.tsx
  apps/frontend/core-dapp/src/features/history/HistoryNext.tsx
  apps/frontend/core-dapp/src/features/history/HistoryTransaction.tsx
  apps/frontend/core-dapp/src/features/portfolio/PositionsAndHistoryNext.tsx
  apps/frontend/core-dapp/src/features/position/Position.tsx
  apps/frontend/core-dapp/src/features/position/PositionLabel.tsx
  apps/frontend/core-dapp/src/utils/date-utils.ts
Labels: core-dapp, deployed, frontend, size/L

#868 feat: add history skeleton
  apps/frontend/core-dapp/src/features/history/HistoryNext.tsx
  apps/frontend/core-dapp/src/features/history/HistoryTransaction.tsx
Labels: core-dapp, deployed, frontend, size/M

#872 feat: add mock global deposit limits
  apps/frontend/core-dapp/abi/depositRecord.abi.json
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/DepositRecordStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
Labels: core-dapp, deployed, frontend, size/L

#884 chore: move new portfolio from `/portfolio-next` into `/portfolio`
  apps/frontend/core-dapp/src/features/history/History.tsx
  apps/frontend/core-dapp/src/features/history/HistoryNext.tsx
  apps/frontend/core-dapp/src/features/history/HistoryTransaction.tsx
  apps/frontend/core-dapp/src/features/portfolio/Portfolio.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioBreakdownItem.tsx
  apps/frontend/core-dapp/src/features/portfolio/PortfolioNext.tsx
  apps/frontend/core-dapp/src/features/portfolio/PositionsAndHistory.tsx
  apps/frontend/core-dapp/src/features/portfolio/PositionsAndHistoryNext.tsx
  apps/frontend/core-dapp/src/features/portfolio/Record.tsx
  apps/frontend/core-dapp/src/features/position/ClosePositionSummary.tsx
  apps/frontend/core-dapp/src/features/position/Positions.tsx
  apps/frontend/core-dapp/src/features/position/PositionsNext.tsx
  apps/frontend/core-dapp/src/pages/portfolio-next/index.tsx
Labels: core-dapp, deployed, frontend, size/XXL

#883 Feat/simulator summary
  apps/frontend/core-dapp/src/features/simulator/SimulatorSummary.tsx
  apps/frontend/core-dapp/src/features/simulator/TradeSimulator.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/close-trade/ClosePositionSummary.tsx
Labels: core-dapp, deployed, frontend, size/L

#882 feat:core: add recipient to all hooks and modify tests
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/MintHook.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IHook.sol
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  apps/smart-contracts/core/test/unit/DepositHook.test.ts
  apps/smart-contracts/core/test/unit/ManagerWithdrawHook.test.ts
  apps/smart-contracts/core/test/unit/MintHook.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
  apps/smart-contracts/core/test/unit/RedeemHook.test.ts
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/L

#881 feat:core: align underscores
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarket.sol
Labels: core-dapp, smart-contracts, size/L

#892 docs: add external roadmap link
  apps/frontend/docs/docs/roadmap.md
Labels: docs, deployed, frontend, size/M

#887 chore: make import and module inheritance order consistent
  apps/smart-contracts/core/contracts/AccountList.sol
  apps/smart-contracts/core/contracts/AllowedCollateralCaller.sol
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/DepositRecord.sol
  apps/smart-contracts/core/contracts/FixedUintValue.sol
  apps/smart-contracts/core/contracts/LongShortToken.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/MintHook.sol
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/contracts/TokenSender.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/deploy/TokenSender.ts
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/test/fixtures/TokenSenderFixture.ts
  apps/smart-contracts/core/test/unit/TokenSender.test.ts
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/M

#889 feat: show close tab and simulator
  apps/frontend/core-dapp/src/features/trade/TradePage.tsx
Labels: core-dapp, deployed, frontend, size/XS

#885 feat: implement global deposit cap
  apps/frontend/core-dapp/src/features/deposit/DepositButton.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/ExclamationCircle.tsx
  packages/prepo-ui/src/components/Icon/icon-components/application/index.tsx
Labels: core-dapp, deployed, frontend, size/L

#894 chore:core: remove NFT score requirement code from DepositHook
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/deploy/ConfigureStackViaSigner.ts
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/harnesses/prod.ts
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  apps/smart-contracts/core/test/unit/DepositHook.test.ts
  apps/smart-contracts/core/types/harnesses.ts
  packages/prepo-constants/src/deployments.ts
  packages/prepo-constants/src/roles.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/L

#899 fix:core: add reentrancy init to collateral contract
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
Labels: core-dapp, smart-contracts, size/XS

#905 chore: split TokenSenderCaller into 2 modules
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/contracts/RedeemHook.sol
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  packages/prepo-shared-contracts/contracts/TokenSenderCaller.sol
  packages/prepo-shared-contracts/contracts/TreasuryCaller.sol
  packages/prepo-shared-contracts/contracts/interfaces/ITokenSenderCaller.sol
  packages/prepo-shared-contracts/contracts/interfaces/ITreasuryCaller.sol
  packages/prepo-shared-contracts/test/TokenSenderCaller.test.ts
  packages/prepo-shared-contracts/test/TreasuryCaller.test.ts
  packages/prepo-shared-contracts/test/fixtures/TreasuryCallerFixtures.ts
Labels: core-dapp, smart-contracts, size/L

#901 feat:core: retroactive changes to deposit record deployment process
  apps/smart-contracts/core/deploy/ConfigureStackViaSigner.ts
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/harnesses/prod.ts
  apps/smart-contracts/core/types/harnesses.ts
  packages/prepo-constants/src/deployments.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/M

#873 feat: helpers for nominating governance to all core roles
  apps/smart-contracts/core/hardhat.config.ts
  apps/smart-contracts/core/harnesses/prod.ts
  apps/smart-contracts/core/helpers/roles.ts
  apps/smart-contracts/core/tasks/roles.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: core-dapp, smart-contracts, size/XL

#895 feat:core: add getScaledPrice getter to TokenSender
  apps/smart-contracts/core/contracts/TokenSender.sol
  packages/prepo-shared-contracts/contracts/interfaces/ITokenSender.sol
Labels: core-dapp, smart-contracts, size/XS

#896 style: make DepositWarning's InlineTextButton hoverable on dark mode
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
Labels: core-dapp, deployed, frontend, size/XS

#904 feat:core: remove user withdraw limits
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/L

#903 fix:core: c4 audit m05
  apps/smart-contracts/core/contracts/PrePOMarket.sol
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
Labels: core-dapp, smart-contracts, size/S

#891 feat: show PPO reward on deposit
  apps/frontend/core-dapp/abi/tokenSender.abi.json
  apps/frontend/core-dapp/src/features/definitions/index.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositSummary.tsx
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/TokenSenderStore.ts
Labels: core-dapp, deployed, frontend, size/L

#902 feat: allow trading w usdc or preCT
  apps/frontend/core-dapp/src/features/currencies/CurrencyRow.tsx
  apps/frontend/core-dapp/src/features/currencies/CurrencySlideUp.tsx
  apps/frontend/core-dapp/src/features/trade/SlideUpCard.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTrade.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeCurrencyInput.tsx
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/TokensStore.ts
  packages/prepo-ui/src/components/CurrencyInput/CurrencyInput.tsx
Labels: core-dapp, deployed, frontend, size/L

#908 feat: show PPO reward on withdraw
  apps/frontend/core-dapp/src/components/PpoRewardSummaryRecord.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositSummary.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawSummary.tsx
  apps/frontend/core-dapp/src/stores/CollateralStore.ts
Labels: core-dapp, deployed, frontend, size/L

#886 feat: implement user deposit cap
  apps/frontend/core-dapp/abi/depositRecord.abi.json
  apps/frontend/core-dapp/src/features/deposit/DepositButton.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/DepositRecordStore.ts
  apps/frontend/core-dapp/src/utils/__tests__/balance-limits.test.ts
  apps/frontend/core-dapp/src/utils/balance-limits.ts
Labels: core-dapp, deployed, frontend, size/L

#914 chore:core: rename price fields to payout
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/contracts/interfaces/IPrePOMarketFactory.sol
  apps/smart-contracts/core/tasks/markets.ts
Labels: core-dapp, smart-contracts, size/S

#913 feat: open trade page show unprofitable when out of bound
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeSummary.tsx
Labels: core-dapp, deployed, frontend, size/S

#906 fix:core: withdraw amount limited by global limit
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/M

#917 feat:core: add arbitrage profit event call
  apps/smart-contracts/core/contracts/ArbitrageBroker.sol
  apps/smart-contracts/core/test/unit/ArbitrageBroker.test.ts
Labels: core-dapp, smart-contracts, size/M

#909 chore:core: add exceeded caps revert tests
  apps/smart-contracts/core/test/unit/DepositRecord.test.ts
Labels: core-dapp, smart-contracts, size/M

#926 fix:core: minor test correction
  apps/smart-contracts/core/test/unit/DepositRecord.test.ts
Labels: core-dapp, smart-contracts, size/XS

#925 chore:core: add caller and remove user2
  apps/smart-contracts/core/contracts/DepositHook.sol
  apps/smart-contracts/core/test/unit/DepositRecord.test.ts
Labels: core-dapp, smart-contracts, size/M

#907 chore:core: add tests for recipient in hooks
  apps/smart-contracts/core/test/unit/DepositHook.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
  apps/smart-contracts/core/test/unit/RedeemHook.test.ts
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/M

#916 feat:core: enforce token order on market creation
  apps/smart-contracts/core/contracts/PrePOMarketFactory.sol
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/tasks/markets.ts
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
  apps/smart-contracts/core/test/unit/PrePOMarketFactory.test.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: core-dapp, smart-contracts, size/L

#922 fix:core: change getReserve to getBaseTokenBalance
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/ManagerWithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  apps/smart-contracts/core/test/unit/ManagerWithdrawHook.test.ts
Labels: core-dapp, smart-contracts, size/S

#877 feat: helpers for revoking role from an account
  apps/smart-contracts/core/harnesses/prod.ts
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/helpers/roles.ts
  apps/smart-contracts/core/tasks/roles.ts
  apps/smart-contracts/core/test/fixtures/PrePOMarketFixture.ts
  apps/smart-contracts/core/test/unit/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/unit/RedeemHook.test.ts
  packages/prepo-hardhat/src/smart-contracts-utils.ts
Labels: core-dapp, smart-contracts, size/L

#912 feat: coming soon page
  apps/frontend/core-dapp/src/components/Navigation.tsx
  apps/frontend/core-dapp/src/components/SettingsMenu/SettingsCard.tsx
  apps/frontend/core-dapp/src/components/SettingsMenu/SettingsDropdown.tsx
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  apps/frontend/core-dapp/src/features/coming-soon/ComingSoonPage.tsx
  apps/frontend/core-dapp/src/pages/_app.tsx
  apps/frontend/core-dapp/src/pages/index.tsx
  apps/frontend/core-dapp/src/utils/isProduction.ts
Labels: core-dapp, deployed, frontend, size/L

#924 feat: sync system light/dark theme
  apps/frontend/core-dapp/jest.setup.ts
  apps/frontend/core-dapp/src/components/AppBootstrap.tsx
  apps/frontend/core-dapp/src/stores/MediaQueryStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/UiStore.ts
Labels: core-dapp, deployed, frontend, size/M

#934 feat: eth in deposit page's currency list
  apps/frontend/core-dapp/src/features/deposit/DepositCurrencyInput.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/TokensStore.ts
  packages/prepo-ui/src/components/CurrencyInput/CurrencyInput.tsx
  packages/prepo-ui/src/components/Icon/icon-components/currencies/EthIcon.tsx
  packages/prepo-ui/src/components/Icon/icon-components/currencies/WethIcon.tsx
  packages/prepo-ui/src/components/Icon/icon-components/currencies/index.tsx
Labels: core-dapp, deployed, frontend, size/L

#910 feat: add withdraw cap
  apps/frontend/core-dapp/abi/withdrawHook.abi.json
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawPage.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawStore.ts
  apps/frontend/core-dapp/src/features/withdraw/WithdrawWarning.tsx
  apps/frontend/core-dapp/src/features/withdraw/__tests__/WithdrawStore.test.ts
  apps/frontend/core-dapp/src/lib/core-contracts.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/WithdrawHookStore.ts
  apps/frontend/core-dapp/src/utils/__tests__/date-utils.test.ts
  apps/frontend/core-dapp/src/utils/date-types.ts
  apps/frontend/core-dapp/src/utils/date-utils.ts
  packages/prepo-constants/src/general-constants.ts
Labels: core-dapp, deployed, frontend, size/XL

#931 style: make header padding consistent across mobile and desktop
  apps/frontend/core-dapp/src/components/layout/Header.tsx
Labels: core-dapp, deployed, frontend, size/XS

#930 feat: make prePO logo clickable
  apps/frontend/core-dapp/src/components/layout/Header.tsx
  apps/frontend/core-dapp/src/features/withdraw/WithdrawWarning.tsx
Labels: core-dapp, deployed, frontend, size/XS

#929 style: remove market icons from portfolio page on small screens
  apps/frontend/core-dapp/src/features/history/HistoryTransaction.tsx
  apps/frontend/core-dapp/src/features/position/Position.tsx
Labels: core-dapp, deployed, frontend, size/S

#937 chore:core: c4 audit g15 optimization
  apps/smart-contracts/core/contracts/DepositRecord.sol
Labels: core-dapp, smart-contracts, size/XS

#918 chore:core: add tests for todos in prepo market
  apps/smart-contracts/core/contracts/test/TestRedeemHook.sol
  apps/smart-contracts/core/test/unit/PrePOMarket.test.ts
Labels: core-dapp, smart-contracts, size/L

#932 feat:core: Add DepositTradeHelper E2E Skeleton and WETH Auxiliary Changes
  apps/smart-contracts/core/contracts/DepositTradeHelper.sol
  apps/smart-contracts/core/contracts/interfaces/IWETH9.sol
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
  apps/smart-contracts/core/test/integration/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/unit/DepositTradeHelper.test.ts
  packages/prepo-constants/src/addresses.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/L

#942 chore:core: adding general linting functionality and solving linting errors
  apps/smart-contracts/token/deploy/AccountList.ts
  apps/smart-contracts/token/deploy/AllowlistPurchaseHook.ts
  apps/smart-contracts/token/deploy/MiniSalesFlag.ts
  apps/smart-contracts/token/package.json
  apps/smart-contracts/token/tasks/token/general.ts
  apps/smart-contracts/token/tasks/utils/quest-utils.ts
  apps/smart-contracts/token/test/AccountList.test.ts
  apps/smart-contracts/token/test/PPOGamifiedToken.test.ts
  apps/smart-contracts/token/test/PPOStaking.test.ts
  apps/smart-contracts/token/test/TokenShop.test.ts
  apps/smart-contracts/token/test/Vesting.test.ts
  apps/smart-contracts/token/test/WithdrawalRights.test.ts
  package.json
  packages/prepo-hardhat/package.json
  packages/prepo-shared-contracts/deploy/FixedUintValue.ts
  packages/prepo-shared-contracts/hardhat.config.ts
  packages/prepo-shared-contracts/package.json
  packages/prepo-shared-contracts/test/AccountList.test.ts
  packages/prepo-shared-contracts/test/AccountListCaller.test.ts
  packages/prepo-shared-contracts/test/AllowedMsgSenders.test.ts
  packages/prepo-shared-contracts/test/ERC721Mintable.test.ts
  packages/prepo-shared-contracts/test/NFTScoreRequirement.test.ts
  packages/prepo-shared-contracts/test/Pausable.test.ts
  packages/prepo-shared-contracts/test/ProtectedHook.test.ts
  packages/prepo-shared-contracts/test/SafeAccessControlEnumerable.test.ts
  packages/prepo-shared-contracts/test/SafeAccessControlEnumerableUpgradeable.test.ts
  packages/prepo-shared-contracts/test/SafeOwnableCaller.test.ts
  packages/prepo-shared-contracts/test/TokenSenderCaller.test.ts
  packages/prepo-shared-contracts/test/TreasuryCaller.test.ts
  packages/prepo-shared-contracts/test/WithdrawERC1155.test.ts
  packages/prepo-shared-contracts/test/WithdrawERC20.test.ts
  packages/prepo-shared-contracts/test/WithdrawERC721.test.ts
  packages/prepo-shared-contracts/test/fixtures/AccountListCaller.ts
  scripts/global-lint.sh
Labels: non-app, smart-contracts, size/L, token

#940 feat:core: add withdrawAndUnwrap and tests
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/DepositTradeHelper.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/contracts/interfaces/IDepositTradeHelper.sol
  apps/smart-contracts/core/contracts/interfaces/IWETH9.sol
  apps/smart-contracts/core/helpers/index.ts
  apps/smart-contracts/core/test/integration/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/unit/Collateral.test.ts
Labels: core-dapp, smart-contracts, deployed, size/L

#945 feat:core: add collateralization factor setter/getter
  apps/smart-contracts/core/contracts/Collateral.sol
  apps/smart-contracts/core/contracts/interfaces/ICollateral.sol
  apps/smart-contracts/core/deploy/ConfigureStackViaSigner.ts
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  packages/prepo-constants/src/roles.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/L

#947 feat:core: remove withdrawalsAllowed from WithdrawHook
  apps/smart-contracts/core/contracts/WithdrawHook.sol
  apps/smart-contracts/core/contracts/interfaces/IWithdrawHook.sol
  apps/smart-contracts/core/deploy/ConfigureStackViaSigner.ts
  apps/smart-contracts/core/harnesses/base.ts
  apps/smart-contracts/core/test/unit/Collateral.test.ts
  apps/smart-contracts/core/test/unit/WithdrawHook.test.ts
  packages/prepo-constants/src/core.ts
  packages/prepo-constants/src/roles.ts
Labels: core-dapp, smart-contracts, deployed, frontend, size/L

#941 feat: replace baseTokenStore with deposit token
  apps/frontend/core-dapp/src/components/PpoRewardSummaryRecord.tsx
  apps/frontend/core-dapp/src/features/currencies/CurrencyRow.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositPage.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositStore.ts
  apps/frontend/core-dapp/src/features/deposit/DepositSummary.tsx
  apps/frontend/core-dapp/src/features/deposit/DepositWarning.tsx
  apps/frontend/core-dapp/src/features/deposit/__tests__/DepositStore.test.ts
  apps/frontend/core-dapp/src/utils/number-utils.ts
Labels: core-dapp, deployed, frontend, size/L

#951 refactor: delete MultiCurrencySelect
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/BalanceLabel.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/CurrencySelectionComponent.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/CurrencyTitleIcon.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/MultiCurrencySelect.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/TokenSelectionModal.tsx
  apps/frontend/core-dapp/src/components/MultiCurrencySelect/index.tsx
Labels: core-dapp, deployed, frontend, size/XL

#944 feat: implement redeeming position for resolved markets
  apps/frontend/core-dapp/src/features/market-overview/MarketDataColumn.tsx
  apps/frontend/core-dapp/src/features/trade/TradeStore.ts
  apps/frontend/core-dapp/src/features/trade/close-trade/ClosePositionButton.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/ClosePositionSummary.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/CloseTrade.tsx
  apps/frontend/core-dapp/src/features/trade/close-trade/DebugControls.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/MarketSlideUp.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeButton.tsx
  apps/frontend/core-dapp/src/features/trade/open-trade/OpenTradeCurrencyInput.tsx
  apps/frontend/core-dapp/src/stores/DebugStore.ts
  apps/frontend/core-dapp/src/stores/RootStore.ts
  apps/frontend/core-dapp/src/stores/entities/MarketEntity.ts
Labels: core-dapp, deployed, frontend, size/L

#953 fix: allow non-mock base token in mock stack
  apps/smart-contracts/core/contracts/balancer/IAsset.sol
  apps/smart-contracts/core/contracts/balancer/IVault.sol
  apps/smart-contracts/core/harnesses/mock.ts
  apps/smart-contracts/core/test/fixtures/BalancerFixtures.ts
  apps/smart-contracts/core/test/integration/ArbitrageTrading.test.ts
  apps/smart-contracts/core/test/integration/DepositTradeHelper.test.ts
  apps/smart-contracts/core/test/unit/ArbitrageBroker.test.ts
  apps/smart-contracts/core/test/unit/DepositTradeHelper.test.ts
Labels: core-dapp, smart-contracts, size/L
